
@import "../../sass/conmon.scss";
@import "../../sass/icon.scss";

.wrapper{
    background: #f5f5f5;
}
.topBack{
    background: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 15px 15px;
    .setNumBox{
        position: relative;
        height: 53px;
        width: 100%;
        margin: 25px 0;
        .setNum{
            height: 53px;
            line-height: 53px;
            width: 80%;
            display: block;
            border: 0;
            border-bottom:1px solid #cccccc;
            padding: 0 10%;
            font-size: 16px;
        }
        .setNumL{
            position: absolute;
            color: #333333;
            font-size: 24px;
            position: absolute;
            top: 15px;
            left: 0;
        }
        .setNumR{
            position: absolute;
            color: #71a7d4;
            font-size: 14px;
            position: absolute;
            top: 20px;
            right: 0;
        }
    }
    .tips{
        color: #333333;
        font-size: 14px;
    }
    .tips2{
        color: #999999;
        text-align: center;
        margin: 20px 0;
    }
    .redBtn{
            width: 240px;
            height: 54px;
            color: #FFFFFF;
            font-size: 19px;
            display: block;
            margin: 80px auto 30px;
            border-radius:27px;
            border: 0;
            background: #fa3439;
    } 
}
.problem{
    @include flex-pack-center();
    color: #999999;
    font-size: 14px;
    margin-top: 27px;
    .ic_hui_right{
        margin-left: 5px;
    }
    &:active{
        opacity: 0.5;
    }
}