@import "../../sass/conmon.scss";
@import "../../sass/icon.scss";

.wrapper{
    background: #f5f5f5;
}
.topBack{
    background: #ffffff;
    padding: 20px 0;
    .stateBox{
        @include flex-pack-center();
        //margin: 20px 0;
        color: #3d3d3d;
        
        .gou{
            width: 30px;
            height: 30px;
            background: no-repeat center url("/static/images/home/ic_gou.png");
            background-size:100%;
            margin: 0 10px;
        }
        .stateText{
            color: #3d3d3d;
            font-size: 16px;
        }
    }
}
.mgTop{
    margin-top: 10px;
}
.list{
    .yellow{
        color: #faa732!important;
    }
    background: #FFFFFF;
    height: 50px;
    @include flex-pack-justify();
    padding: 0 15px;
    border-bottom: 1px solid #f7f7f7;
    .listL{
        color: #3d3d3d;
        font-size: 16px;
    }
    .listR{
        color: #999999;
        font-size: 16px;
    }
}


.problem{
    @include flex-pack-center();
    color: #999999;
    font-size: 14px;
    margin-top: 65px;
    .ic_hui_right{
        margin-left: 5px;
    }
}
