@import "../../sass/conmon.scss";
@import "../../sass/icon.scss";

.wrapper{
    background: #f5f5f5;
}

.list{
    height: 61px;
    background: #ffffff;
    border-bottom: 1px solid #f5f5f5;
    @include flex-pack-justify();
    .listL{
        .statePic{
            width: 30px;
            height: 30px;
            border-radius:15px;
            margin: auto 10px;
        }
        .listLR{
            .title{
                color: #333333;
                font-size: 16px;
            }
            .time{
                color: #999999;
                font-size: 13px;
                margin-top: 5px;
            }
        }
    }
    .listR{
        margin-right: 10px;
        text-align: right;
        .profit{
            color: #333333;
            font-size: 16px;
        }
        .receive{
            font-size: 13px;
            color: #999999;
            margin-top: 5px;
        }
        
    }
}
