
@import "../../sass/conmon.scss";
@import "../../sass/icon.scss";

.wrapper{
    z-index: 99;
    //background: #f5f5f5;
}
.content{
   // margin-top: 70px;
   border-top:1px solid #fa3439;
}
.main{
    background: #f5f5f5;
}
.topBack{
    background: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-radius:5px;
    margin: 70px 20px 0;
   // padding-top: 70px;
    z-index: 99;
    position: relative;
    .zhu{
        width: 97.5px;
        height: 90.5px;
        background: no-repeat url(/static/images/home/zhuzhu.png);
        background-size:100%;
        margin: 45px auto 10px;
    }
    .nextText{
        text-align: center;
        color: #333333;
        font-size: 14px;
    }
    .price{
        color: #333333;
        margin-top: 10px;
        text-align: center;
        .shou{
            font-size: 15px;
        }
        .num{
            font-size: 20px;
        }
    }
    .redBtn{
            width: 240px;
            height: 54px;
            color: #FFFFFF;
            font-size: 19px;
            display: block;
            margin: 30px auto;
            border-radius:27px;
            border: 0;
            background: #fa3439;
            &:active{
                opacity: 0.3;
            }
    } 
    .blueT{
        margin-top: 50px;
        color: #71a7d4;
        font-size: 14px;
        text-align: center;
        margin: 30px auto;
        @include flex-pack-center();
    }
    .ic_blue_right{
        margin-left: 5px;
    }
    .tips1{
        margin-left: 35px;
        color: #666666;
        font-size: 14px;
    }
    .tips2{
        margin-left: 35px;
        color: #666666;
        margin-top: 6px;
        font-size: 14px;
        margin-bottom: 20px;
    }
}
.problem{
    @include flex-pack-center();
    color: #999999;
    font-size: 14px;
    margin-top: 27px;
    .ic_hui_right{
        margin-left: 5px;
    }
}

.redBack{
    position: absolute;
    height: 230px;
    width: 100%;
    top: 0;
    background: #fa3439;
    z-index: 98;
    
}
.header{
        height: 50px;
        line-height:50px;
        text-align: center;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 101;
        .title{
            color: #fff;
            font-size: 19px; 
        }
        .rightT{
            position: absolute;
            right: 20px;
            font-size: 16px;
            color: #fff;
            opacity: 0.9;
        }
}

.nextBack{
    margin: 5px 20px 0;
    background: #fff;
    .listDiv{
        height: 54px;
        @include flex-pack-justify();
        border-bottom: 1px solid #f5f5f5;
        .listL{
            .listLPic{
                width: 30px;
                height: 30px;
                margin: 0 10px;
            }
            .listLCont{
                .cont1{
                    color: #333333;
                    font-size: 14px;
                }
                .cont2{
                    color: #999999;
                    font-size: 12px;
                    margin-top: 5px;
                }
            }
        }
        .listR{
            text-align: right;
            margin-right: 10px;
            .listR1{
                color: #333333;
                font-size: 16px;
            }
            .listR2{
                margin-top: 5px;
                color: #999999;
                font-size: 12px;
            }
        }
    }
    .more{
        font-size: 14px;
        color: #999999;
        height: 38px;
        line-height: 38px;
        text-align: center;
        &:active{
            opacity: 0.3;
        }
    }
}
