<template>
    <div class="flex-wrap main">
    	<div class="leftTop" @click="showMd('rule')">活动规则</div>
    	<div class="rightTop" @click="$router.push('/toList')">往期获奖</div>
    	<div class="jiangbei"></div>
    	<div class="text1">烧脑记忆挑战赛</div>
    	<div class="text2">每天前10名瓜分万元奖金</div>
    	<div class="yellowBtn" @click="$router.push('/playGame')">开始挑战<div class="red_ti flex-wrap flex-center"><div class="ic_jinbi"></div>100</div></div>
        <!--<div class="menu flex-wrap flex-center">
            <div class="menuDiv" :class="{'chooseMenu':menu==1}" @click="changeMenu(1)">个人排名</div>
            <div class="menuDiv" :class="{'chooseMenu':menu==2}" @click="changeMenu(2)">团队排名</div>
        </div>-->
        <div class="nextDiv flex-wrap flex-center">
            <!--<div class="nextDivL">排名数据每日凌晨刷新并发放奖金</div>
            <div class="nextDivR flex-wrap flex-center" @click="showMd('rule')">规则<div class="yellowRight"></div></div>-->
            <div class="laba"></div>
            <div class="labaR">恭喜<span>花样年华</span>通关第15关 获得<span>20金币</span></div>
            
        </div>
        <scroll class="wrapper" :probeType="probeType" :listenScroll="listenScroll" ref="scroll">
            <div class="content">
                <!--个人-->
                <div class="listBox" v-show="menu==1">
                	<div class="listDiv yellow flex-wrap flex-center" v-if="personalTopLisData.userScore!=null">
                		<div class="cont1 red">{{myRank}}</div>
                		<div class="cont2 flex-wrap flex-center"><!--<img :src="user.userImage" class="cont2Img"/>-->{{user.alias}}</div>
                		<div class="cont3">第{{personalTopLisData.userScore.score}}关</div>
                		<div class="cont4">距获奖剩{{100-personalTopLisData.userScore.score}}关</div>
                		
                	</div>
                	
                	<div class="titleMenu flex-wrap flex-center">
                		<div class="cont1">排名</div>
                		<div class="cont2">玩家</div>
                		<div class="cont3">最高关卡</div>
                		<div class="cont4">通关奖励</div>
                	</div>
                	
                	<div class="listDiv flex-wrap flex-center" v-for="(items,index) in personalTopLis.list">
                		<div class="cont1" v-show="index==0"><img src="/static/images/home/rank1.png" class="rank"></div>
                		<div class="cont1" v-show="index==1"><img src="/static/images/home/rank2.png" class="rank"></div>
                		<div class="cont1" v-show="index==2"><img src="/static/images/home/rank3.png" class="rank"></div>
                		<div class="cont1" v-show="index>2">{{index+1}}</div>
                		
                		<div class="cont2 flex-wrap flex-center"><!--<img :src="items.userImage" class="cont2Img"/>--><div class="cont2T">{{items.userName}}</div></div>
                		<div class="cont3" v-if="items.score<100">第{{items.score}}关</div>
                		<div class="cont3 red" v-else>第{{items.score}}关</div>
                		
                		<div class="cont4" v-if="items.score>99">iPhoneX128G</div>	
                		<div class="cont4 hui" v-else>未通关</div>	
                	</div>

                </div>
                
                <!--团队-->
                <div class="listBoxTeam" v-show="menu==2">
                	<div class="listDiv flex-wrap flex-center" v-if="groupTopLisData.myGroup!=null" @click="$router.push('/myTeam')">
                		<div class="cont1 red">{{groupTopLisData.myGroup.rank}}</div>
                		<div class="cont2">{{groupTopLisData.myGroup.groupName}}</div>
                		<div class="cont3">{{groupTopLisData.myGroup.nowPeople}}</div>
                		<div class="cont4">98,725,400</div>	
                	</div>
                	<div class="noGroup flex-wrap flex-center" v-if="groupTopLisData.myGroup==null">
                		<div class="noGroupL flex-wrap flex-center">
                			<div class="iconYellow"></div>
                			你还未加入任何团队
                		</div>
                		<div class="noGroupR" @click="showMd('setName')">+创建团队</div>
                		
                		
                	</div>
                	
                	<div class="titleMenu flex-wrap flex-center">
                		<div class="cont1">排名</div>
                		<div class="cont2">团队</div>
                		<div class="cont3">成员数</div>
                		<div class="cont4">总分</div>
                	</div>
                	
                	<div class="listDiv flex-wrap flex-center" v-for="(items,index) in groupTopLis.list">
                		<div class="cont1" v-show="index==0"><img src="/static/images/home/rank1.png" class="rank"></div>
                		<div class="cont1" v-show="index==1"><img src="/static/images/home/rank2.png" class="rank"></div>
                		<div class="cont1" v-show="index==2"><img src="/static/images/home/rank3.png" class="rank"></div>
                		<div class="cont1" v-show="index>2">{{index+1}}</div>
                		<div class="cont2">{{items.groupName}}</div>
                		<div class="cont3">{{items.nowPeople}}</div>
                		<div class="cont4">{{items.score}}</div>		
                	</div>
                	
                	
                </div>
            </div>
        </scroll>
        
        <div class="floatPic pulse" @click="$router.push('/playGame')"></div>
        <vfooter :footer="'challengeRound'"></vfooter>
        <!--弹窗-->
        <div class="md-mask" :class="{'active': md.mask}" @click="closeAllMd(md)"></div>
        
        <!--提示-->
        <div class="md-modal md-effect-1 prompt" :class="{'md-show':md.prompt}">
	        <div class="md-content">
	        	<div class="close ic_close_hui" @click="closeMd('prompt')"></div>
	        	<div class="title">提示</div>
	        	<div class="cont">你还未加入任何团队，创建自己的团队邀好友一起玩吧~</div>
	        	<input type="button" class="redBtn" value="创建团队" @click="closeMd('prompt'),showMd('setName')"/>
	        </div>
        </div>
        
        <!--建立名号-->
        <div class="md-modal md-effect-1 setName" :class="{'md-show':md.setName}">
	        <div class="md-content">
	        	<div class="close ic_close_hui" @click="closeMd('setName')"></div>
	        	<div class="title">给自己的团队立个名号吧</div>
	        	<input type="text" placeholder="输入团队名称" class="setNameText" v-model="groupName"/>
	        	<input type="button" class="redBtn" value="确定" @click="createGroup()"/>
	        </div>
        </div>
        
        <!--规则-->
        <div class="md-modal md-effect-1 rule" :class="{'md-show':md.rule}">
	        <div class="md-content">
	        	<div class="close ic_close_hui" @click="closeMd('rule')"></div>
	        	<div class="ruleTitle">挑战赛规则</div>
	        	<div class="titleText">1.玩法</div>
	        	<div class="contText">点击开始挑战，你将有1秒的时间记忆所有藏有福利卡片，然后在15秒内找出所有卡片，即挑战成功并进入下一关，如未找出，即挑战失败。</div>
	        	<div class="titleText">2.排行榜</div>
	        	<div class="contText">个人排名，即当下挑战成绩最高的玩家排名。</div>
	        	<div class="titleText">3.奖励</div>
	        	<div class="contText">排名数据每日凌晨刷新，系统将按照玩家排名发放奖金，奖金到账时间3个工作日内到账。</div>
	        	<div class="titleText">4.其他</div>
	        	<div class="contText">以任何非正常途径（外挂作弊软件或同一自然人使用多账号）参与本活动，平台有权取消其领奖资格并回收奖励。</div>
	        	
	        </div>
        </div>
    </div>
</template>

<script>
    import config from '@/config';
    import common from '@/assets/js/common';
    import mixin from '@/assets/js/mixin';
    import footer from '@/components/vFoot';
    import scroll from '@/components/scroll';
    import login from '@/components/login';
    import {personalTop,groupTop,createGroup} from "../../fetch/index";
    import {Toast} from 'mint-ui';
    export default {
        mixins:[mixin],
        components: {//注册组件
            'vfooter':footer,
            'scroll':scroll,
            'login':login
        },
        data() {
          return {
              md:{
                  mask:false,
                  prompt:false,
                  setName:false,
                  rule:false,
              },
              menu:1,
              personalTopLis:"",
              personalTopLisData:"",
              groupTopLis:"",
              groupTopLisData:"",
              groupName:"",
              createGroupDate:"",
              myRank:"-",
          }
        },
        created(){

        },
		activated(){
            this.personalTop();
		},
        mounted(){
			
        },
        methods:{
          changeMenu(num){
          	 this.menu=num;
          	 if(num==2&&this.groupTopLisData.myGroup==null){
          	 	this.showMd('prompt');
          	 }
          },
          async personalTop(){
            	const res=await personalTop({token:this.user.token});
            	this.personalTopLis=res;
            	this.personalTopLisData=res.data;
            	let self=this;
            	for(let i=0; i<res.list.length; i++){
            		if(res.list[i].userCode==this.personalTopLisData.userScore.userCode){
            			self.myRank=i+1;
            		}
            	}
            	
            	this.groupTop();
          },
          async groupTop(){
            	const res=await groupTop({token:this.user.token});
            	this.groupTopLis=res;
            	this.groupTopLisData=res.data;
          },
          async createGroup(){
          	    const res=await createGroup({token:this.user.token,groupName:this.groupName});
            	if(res.msgCode=="200"){
            		Toast("创建成功");
            		this.$router.push("/myTeam");
            	}else{
            		Toast(res.msgNote);
            	}
          	     
          }
        },
        computed: {

        },
        filters:{

        },

  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import '../../assets/sass/challengeRound/index.scss';
</style>