<template>
    <div class="flex-wrap main">
        <header class="flex-wrap">
            <i class="ic_white_left" @click="$router.go(-1)"></i>
            <div class="title">
                <p>烧脑记忆挑战赛</p>
                <div class="text">成功挑战者瓜分¥1,000,000</div>
            </div>
            <i class="ic_share"></i>
        </header>
        <scroll class="wrapper" :probeType="probeType" :listenScroll="listenScroll" ref="scroll">
            <div class="content">

                <div class="userInfo flex-wrap flex-center">
                    <div class="left flex-wrap flex-center">
                        <img :src="user.userImage" alt="">
                        <div class="name">
                            <p>{{user.alias}}</p>
                            <!--<div class="rank">100+</div>-->
                        </div>
                        <div class="amount"><span>{{user.syceeTotal}}</span></div>
                    </div>
                    <div class="right"><span>复活卡 {{reviveCard}}</span></div>
                </div>
                <div class="scroe-level flex-wrap flex-center" v-if="showInfo">
                    <div class="scroe">今日最高：<em>{{this.$store.state.todayLevel}}</em></div>
                    <div class="rewardIcon" v-if="getPlayData">本关奖励{{getPlayData.t.config.score}}金币</div>
                    <div class="level" v-if="getPlayData">第{{getPlayData.t.round}}关</div>
                </div>
                <memory ref="memory" @success="success" @fail="fail" :isChallenge="isChallenge" :isStart="isStart" :arrayNum="arrayNum" :chooseImg="true"></memory>
                <div class="tip" v-if="showInfo">提示：{{tip}}</div>
                <div class="start-game" @click="startGame" v-if="startChallenge">
                    <span>开始挑战</span>
                </div>
                <div class="start-game" @click="goOnGame" v-if="startChallenge&&goOn">
                    <span>继续挑战({{rightScore}}金币)</span>
                </div>
                <leftTime ref="leftTime" @fail="fail" :isStart="showInfo"></leftTime>
            </div>
        </scroll>

        <div class="md-mask" :class="{'active': md.mask}"></div>
        <div class="md-black-mask" :class="{'active': md.blackMask}"></div>
        <!--继续挑战-->
        <goChallenge @againStart="againStart" :endScore="endScore" :isShow="md.goChallenge" @closeLevel="closeLevel"></goChallenge>
        <!--挑战失败-->
        <restart v-if="getPlayData" :isShow="md.restart" @restartCard="restartCard" @close="close" :getPlayData="getPlayData"></restart>
    </div>
</template>

<script>
    import config from '@/config';
    import common from '@/assets/js/common';
    import mixin from '@/assets/js/mixin';
    import scroll from '@/components/scroll';
    import memory from '@/components/home/memory';
    import leftTime from '@/components/home/time';
    import goChallenge from '@/components/home/goChallenge';
    import restart from '@/components/home/restart';
    import {getQuestion,bingGo,receiveAward,start,pass} from "../../fetch/index";
    import {Toast,Indicator } from 'mint-ui';
    export default {
        mixins: [mixin],
        components: {//注册组件
            'scroll': scroll,
            'memory': memory,
            'goChallenge': goChallenge,
            'leftTime': leftTime,
            'restart': restart,
        },
        data() {
            return {
                md: {
                    mask: false,
                    goChallenge:false,
                    restart:false,
                    blackMask:false,
                },
                arrayNum:5,
                isDefault:true,
                startRotate:false,//是否开始旋转
                chooseError:false,//选择错误
                isChallenge:true,
                isStart:false,//是否开始
                getPlayData:'',
                score:'0',
                tip:'每过5关大概率额外获得金币奖励哦~',
                endScore:'',
                startChallenge:true,
                showInfo:false,
                reviveCard:localStorage.getItem('reviveCard'),
                goOn:localStorage.getItem('dataLis'),
                rightScore:''
            }
        },
        created() {
            if(this.goOn){
                this.rightScore=JSON.parse(this.goOn).rightScore;//继续挑战需要的金币
            }
        },
        computed: {},
        mounted() {

        },
        methods: {
            question(launchNo){
                launchNo ? this.showInfo=true : this.showInfo=false;
                return new Promise((resolve,reject)=>{
                    getQuestion({businessNo:'war',launchNo:launchNo,token:this.user.token}).then((res)=>{
                        if(res.msgCode=='200'){
                            resolve();
                            Indicator.close();
                            this.getPlayData=res;
                            this.$store.state.redpackPos=res.t.answerList;
                            this.$store.state.time=res.t.config.configSecond;
                            this.score=res.t.hadScore;
                            this.arrayNum=res.t.config.allNumx;
                            let p={
                                launchNo:res.t.launchNo,
                                configNo:res.t.config.configNo,
                                rightScore:res.t.config.rightScore
                            };
                            p=JSON.stringify(p);
                            localStorage.setItem('dataLis',p);//用于继续挑战

                            for(var i=1;i<=res.t.config.allNumx;i++){
                                for(var j=1;j<=res.t.config.allNumy;j++){
                                    let xy=j.toString()+i.toString();
                                    let obj={value:xy};
                                    this.$store.state.listData.push(obj);
                                }
                            }
                            for(var z=0;z<this.$store.state.listData.length;z++){
                                this.$store.state.listData[z].startActive=false;//是否开始旋转
                                this.$store.state.listData[z].endActive=false;//是否翻转
                                this.$store.state.listData[z].errorActive=false;//是否选择错误
                                this.$store.state.listData[z].isDefault=true;//是否默认
                            }
                            this.toStart();//开始
                        }else {
                            Toast(res.msgNote)
                        }
                    })
                });

            },
            goOnGame(){
                if(this.user.syceeTotal>=this.rightScore){
                    let obj=JSON.parse(localStorage.getItem('dataLis'));
                    this.commonWays('gold',obj.configNo,obj.launchNo);
                }else {
                    Toast('您的金币不足，请前去购买');
                }
            },
            closeLevel(){
                this.md.goChallenge=false;
                this.md.blackMask=false;
            },
            close(){
                this.closeMd('restart');
                this.md.goChallenge=true;
                this.md.blackMask=true;
                //this.showMd('goChallenge');
            },
            toStart(){
                this.$refs.memory.getxy();
                this.startChallenge=false;
                this.showInfo=true;
                this.$refs.leftTime.timer();
                this.restart();
            },
            restartCard(type){//复活
                switch (type){
                    case 'card':  //复活卡
                        if(this.reviveCard>0){
                            this.commonWays(type,this.getPlayData.t.config.configNo,this.getPlayData.t.launchNo);
                        }else {
                            Toast('您暂无复活卡，请前去购买');
                        }
                        break;
                    case 'gold':  //金币复活
                        if(this.user.syceeTotal>=this.getPlayData.t.config.rightScore){
                            this.commonWays(type,this.getPlayData.t.config.configNo,this.getPlayData.t.launchNo);
                        }else {
                            Toast('您的金币不足，请前去购买');
                        }
                        break;
                    case 'pass': //直接通关
                        if(this.user.syceeTotal>=this.getPlayData.t.config.passScore){
                            this.passLevel(type);
                        }else {
                            Toast('您的金币不足，请前去购买');
                        }
                        break;
                }

            },
            commonWays(type,configNo,launchNo){
                start({businessNo:'war',action:'restart',configNo:configNo,type:type,launchNo:launchNo,token:this.user.token}).then((res)=>{
                    if(res.msgCode=='200'){
                        this.closeMd('restart');
                        Toast('复活成功');
                        this.showInfo=true;
                        type=='card' ? this.reviveCard=this.reviveCard-1 : this.user.syceeTotal=res.balance;common.setJsonLocal('user',this.user);
                        type=='card' ? localStorage.setItem('reviveCard',this.reviveCard):this.user.syceeTotal=res.balance;common.setJsonLocal('user',this.user);
                        this.againStart(res.launchNo);
                    }else {
                        Toast(res.msgNote);
                    }
                });
            },
            passLevel(type){//直接跳过
                // console.log('passLevel'+type);
                pass({businessNo:'war',configNo:this.getPlayData.t.config.configNo,token:this.user.token}).then((res)=>{
                    if(res.msgCode=='200'){
                        this.user.syceeTotal=res.balance;
                        common.setJsonLocal('user',this.user);
                        this.passSuccess();
                    }else {
                        Toast(res.msgNote);
                    }
                });
            },
            passSuccess(){
                bingGo({businessNo:'war',launchNo:this.getPlayData.t.launchNo,num:this.getPlayData.t.indexNum,configNo:this.getPlayData.t.config.configNo,useSecond:this.$store.state.time,token:this.user.token}).then((res)=>{
                    if(res.msgCode=='200'){
                        this.againStart(this.getPlayData.t.launchNo);
                        this.closeMd('restart');
                    }else {
                        Toast(res.msgNote);
                    }
                })
            },
            startGame(){//开始游戏
                this.$store.state.listData=[];
                this.$store.state.redpackPos=[];
                this.question('');
                // start({businessNo:'war',action:'start',configNo:'',type:'gold',launchNo:'',token:this.user.token}).then((res)=>{
                //      if(res.msgCode=='200'){
                //          this.question('');
                //          this.user.syceeTotal=res.balance;
                //          common.setJsonLocal('user',this.user);
                //      }else {
                //          Toast(res.msgNote);
                //      }
                // });

            },
            restart(){
                this.isChallenge=false;
                this.isStart=true;
                this.tip='每关你有'+this.getPlayData.t.config.configSecond+'秒的时间尝试';
                this.forwardDirection();
                this.backDirection();
            },
            success(leftNum){//挑战成功
               this.$store.state.findNum=this.$store.state.redpackPos.length-leftNum;
               if(leftNum==0){
                   bingGo({businessNo:'war',launchNo:this.getPlayData.t.launchNo,num:this.getPlayData.t.indexNum,configNo:this.getPlayData.t.config.configNo,useSecond:localStorage.getItem('timing'),token:this.user.token}).then((res)=>{
                       if(res.msgCode=='200'){
                           this.user.syceeTotal=res.balance;
                           common.setJsonLocal('user',this.user);
                           Indicator.open({
                               text: '挑战成功,继续下一道',
                               spinnerType: 'triple-bounce'
                           });
                           this.showInfo=false;
                           this.score=this.score+res.amount;
                           this.$store.state.listData=[];
                           this.$store.state.redpackPos=[];
                           this.isStart=false;
                           setTimeout(()=>{
                               this.next(this.getPlayData.t.launchNo);
                           },1000)

                       }else {
                           Toast(res.msgNote);
                       }
                   })
               }
            },
            fail(){//挑战失败
                receiveAward({businessNo:'war',launchNo:this.getPlayData.t.launchNo,token:this.user.token}).then((res)=>{
                    if(res.msgCode=='200'){
                        this.endScore=res;
                        this.isStart=false;
                        this.showInfo=true;
                        res.amount>res.lastAmount ? this.$store.state.todayLevel=res.amount : this.$store.state.todayLevel=res.lastAmount;
                        clearInterval(this.$store.state.timers);
                        setTimeout(()=>{
                            this.forwardDirection();
                            setTimeout(()=>{
                                this.showMd('restart');
                            },1000)
                        },1000);
                    }else {
                        Toast(res.msgNote)
                    }
                })
            },
           async next(launchNo){//继续下一关
               await this.question(launchNo);
               this.restart();//继续下一关游戏
               this.$refs.leftTime.timer();
               this.$refs.memory.getxy();//获取红包位置
               this.$store.state.findNum=0;

            },
            againStart(launchNo){//
                this.closeLevel();
                this.$store.state.listData=[];
                this.$store.state.redpackPos=[];
                this.next(launchNo);
            }
        },
        destroyed(){
            this.$store.state.listData=[];
            this.$store.state.redpackPos=[];
        },
        filters: {},

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import '../../assets/sass/challengeRound/playGame.scss';
</style>