<template>
    <div class="flex-wrap main">
        <div class="header">
    		<div class="ic_white_left" @click="$router.go(-1)"></div>
        	<span class="title">往期排行</span>
            
        </div>
        <scroll class="wrapper" :probeType="probeType" :listenScroll="listenScroll" ref="scroll">
            <div class="content">
            	<div class="titleMenu flex-wrap flex-center">
                		<div class="cont1">排名</div>
                		<div class="cont2">玩家</div>
                		<div class="cont3">分数</div>
                		<div class="cont4">奖金(元)</div>
                </div>
                <div class="listDiv flex-wrap flex-center">
                	<div class="cont1"><img src="/static/images/home/rank1.png" class="rank"></div>
                	<!--<div class="cont1"><img src="/static/images/home/rank2.png" class="rank"></div>
                	<div class="cont1"><img src="/static/images/home/rank3.png" class="rank"></div>
                	<div class="cont1">5</div>-->
                		
                	<div class="cont2 flex-wrap flex-center"><img :src="user.userImage" class="cont2Img"/><div class="cont2T">独孤求败</div></div>
                	<div class="cont3">第123关</div>
                	<div class="cont4">iPhoneX 128G</div>		
                </div>
                
                <div class="listDiv flex-wrap flex-center">
                	<div class="cont1"><img src="/static/images/home/rank2.png" class="rank"></div>
                	<!--<div class="cont1"><img src="/static/images/home/rank2.png" class="rank"></div>
                	<div class="cont1"><img src="/static/images/home/rank3.png" class="rank"></div>
                	<div class="cont1">5</div>-->
                		
                	<div class="cont2 flex-wrap flex-center"><img :src="user.userImage" class="cont2Img"/><div class="cont2T">东方不败</div></div>
                	<div class="cont3">第121关</div>
                	<div class="cont4">iPhoneX 128G</div>		
                </div>
                
                <div class="listDiv flex-wrap flex-center">
                	<div class="cont1"><img src="/static/images/home/rank3.png" class="rank"></div>
                	<!--<div class="cont1"><img src="/static/images/home/rank2.png" class="rank"></div>
                	<div class="cont1"><img src="/static/images/home/rank3.png" class="rank"></div>
                	<div class="cont1">5</div>-->
                		
                	<div class="cont2 flex-wrap flex-center"><img :src="user.userImage" class="cont2Img"/><div class="cont2T">令狐冲</div></div>
                	<div class="cont3">第120关</div>
                	<div class="cont4">iPhoneX 128G</div>		
                </div>
                
                <div class="listDiv flex-wrap flex-center">
                	<div class="cont1">4</div>
                	<!--<div class="cont1"><img src="/static/images/home/rank2.png" class="rank"></div>
                	<div class="cont1"><img src="/static/images/home/rank3.png" class="rank"></div>
                	<div class="cont1">5</div>-->
                		
                	<div class="cont2 flex-wrap flex-center"><img :src="user.userImage" class="cont2Img"/><div class="cont2T">任我行</div></div>
                	<div class="cont3">第118关</div>
                	<div class="cont4">iPhoneX 128G</div>		
                </div>
                
                <div class="listDiv flex-wrap flex-center">
                	<div class="cont1">5</div>
                	<!--<div class="cont1"><img src="/static/images/home/rank2.png" class="rank"></div>
                	<div class="cont1"><img src="/static/images/home/rank3.png" class="rank"></div>
                	<div class="cont1">5</div>-->
                		
                	<div class="cont2 flex-wrap flex-center"><img :src="user.userImage" class="cont2Img"/><div class="cont2T">西方不败</div></div>
                	<div class="cont3">第106关</div>
                	<div class="cont4">iPhoneX 128G</div>		
                </div>
            </div>
            
        </scroll>
       
    </div>
</template>

<script>
    import config from '@/config';
    import common from '@/assets/js/common';
    import mixin from '@/assets/js/mixin';
    import scroll from '@/components/scroll';
    import footer from '@/components/vFoot';
    import {myGroup} from "../../fetch/index";
    export default {
        mixins: [mixin],
        components: {//注册组件
            'scroll': scroll,
            'vfooter':footer,
        },
        data() {
            return {
                md: {
                    mask: false,
                },
                manShow:false,
                myGroupData:"",
                myGroupData2:"",
            }
        },
        created() {
            
        },
        computed: {},
        mounted() {

        },
        methods: {
        	
        },
        filters: {},

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import '../../assets/sass/challengeRound/toList.scss';
</style>