<template>
  <div class="bindBox">
    <div v-if="userPhone"><em>+86</em><em>{{userPhone}}</em></div>
    <div v-else><span>+86</span><input type="text" @change="onInput" v-model="phone" class="mobilePhone" maxlength="11" placeholder="请输入11位手机号" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/></div>
    <div class="flex-wrap"><input type="text" @change="onInput1" v-model="verifyCode" class="code" maxlength="4" placeholder="请输入短信验证码" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/><em id="getCode" @click="getCode">{{time}}</em></div>
  </div>
</template>

<script>
  import common from '@/assets/js/common'
  import { phoneVerifyCode } from "../../fetch/index";
  import mixin from '@/assets/js/mixin';
  import { Toast,Indicator } from 'mint-ui'
  export default {
    mixins:[mixin],
    data () {
      return {
        i:0,
        phone:'',
        verifyCode:'',
        time:'获取验证码',
      }
    },
    props:['userPhone'],//
    methods:{
      onInput:function () {
        let self=this;
        if (self.phone.trim()) {
          self.$emit('phone', self.phone);
        }
      },
      onInput1:function () {
        let self=this;
        if(self.verifyCode.trim()){
          self.$emit('verifyCode', self.verifyCode);
        }
      },
      time60:function (time,i) {
        let self=this;
        let timeInterval=setInterval(function () {
          if(time>0){
            self.time=time+"s";
            time--;
          }else {
            self.time="获取验证码";
            self.i=0;
            clearInterval(timeInterval);
            return
          }
        },1000)
      },
      getCode:function () {
        let self=this;
        if(self.userPhone){
          if(self.i==0){
            self.i=1;
            phoneVerifyCode({phoneNum:self.userPhone,token:this.user.token}).then((data)=>{
                if(data.msgCode=='200'){
                    self.time60(120,self.i);
                }else if(data.msgCode=='600'){
                    Toast('获取次数超过3次');
                    self.i=0;
                }else if(data.msgCode=='601'){
                    Toast('获取失败，稍后重新获取');
                    self.i=0;
                }else {
                    Toast(data.msgNote);
                    self.i=0;
                }
            });
          }
        }else {
          if(self.phone==null||self.phone==""){
            Toast("请输入手机号码")
          }else if(!common.isMobile(self.phone)){
            Toast("请输入正确的手机号");
          }else {
            if(self.i==0){
              self.i=1;
                phoneVerifyCode({phoneNum:self.phone,token:this.user.token}).then((data)=>{
                    if(data.msgCode=='200'){
                        self.time60(120,self.i);
                    }else if(data.msgCode=='600'){
                        Toast('获取次数超过3次');
                        self.i=0;
                    }else if(data.msgCode=='601'){
                        Toast('获取失败，稍后重新获取');
                        self.i=0;
                    }else {
                        Toast(data.msgNote);
                        self.i=0;
                    }
                });
            }

          }
        }

      },
    },

    mounted() {
      let self=this;
    },
  };
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .bindBox{
    background: #fff;
    div{
     padding: 5px 0;
     position: relative;
      border-bottom: solid 1px #eee;
    em{
      display: inline-block;
      height: 42px;
      line-height: 42px;
      font-size: 16px;
      color: #333;
      margin-left: 16px;
    }
  .input_del{
    position: absolute;
    width: 28px;
    height: 28px;
    background: no-repeat center url("/static/images/draw/input_del.png");
    background-size: 20px;
    right: 14px;
    top: 12px;
  }
  #getCode{
    position: absolute;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    color:#ff2739;
    font-size: 14px;
    right:14px;
    width:112px;
   text-align:center;
  &:active{
    opacity: 0.6;
    background: #f7f4f4;
  }
  }


  span{
      display: block;
      width: 42px;
      height: 50px;
      position: absolute;
      top:2px;
      line-height: 50px;
      font-size: 16px;
      color: #333;
      left: 16px;
    }

    input{
    width: 90%;
    height: 42px;
    display: block;
    margin: 0 auto;
    border: 0;
    color: #666;
    font-size: 16px;
    margin-left: 56px;
    }
   }

  }
</style>
