
<template>
	<div class="kd-pay" v-show="kdPay.show">

		<div class="kd-pay-mask"></div>
		<div class="confirm-pay">
			<div class="title">确认付款</div>
			<div class="pay-head">
				<p>待付款</p>
				<div class="pay-price">￥{{kdPay.payPrice | RMB_f}}</div>
			</div>
			<div class="choose-box">
				<div class="choose-text">选择支付方式</div>
				<div class="choose-pay-type-box">
					<div class="flex-wrap flex-center choose-pay-type" @click="changeType(item.methodId)" v-for="(item,index) in kdPay.payList" v-if="item.show">
						<!--<div class="pay95" v-show="item.methodName=='支付宝'">充值95折</div>-->

						<div class="flex-wrap flex-center pay-left">
							<i :class="{'ic_balance_pay':item.methodName=='余额支付','ic_wx_smpay':item.methodName=='微信扫码','ic_wx_pay':item.methodName=='微信支付','ic_zfb_pay':item.methodId=='alipay','ic_quick':item.methodName=='银行卡支付','ic_qq':item.methodId=='qq'}"></i>
							<div class="pay-title">
								<p>{{item.methodName}}</p>
								<p v-if="item.type=='ye'">帐户余额：￥{{ user.balance | RMB_f }}</p>
								<div class="pay-SM" v-if="item.methodId == 'wxScan'">
									<span></span>
									<em>支付随机减免</em>
								</div>
							</div>
              <span class="lab" v-show="item.methodName=='支付宝'" v-if="paySet.type!='JP'">抽免死金牌</span>
              <span class="lab1" v-show="item.methodName=='支付宝'" v-if="paySet.type!='JP'">最低95折</span>
						</div>
						<i :class="{'ic-choose':item.active}"></i>
					</div>
				</div>
			</div>
			<input type="button" value="立即支付" class="to-pay-btn" @click="buy">
			<i class="ic-close-gray" @click="closePay"></i>
		</div>
		<!--<wx-scan :wxScan=wxScan></wx-scan>-->
	</div>
</template>

<script>
	import common from '@/assets/js/common'
	import Api from '@/fetch/api'
	
	import { Toast,MessageBox,Indicator } from 'mint-ui'
    
	export default {
		data() {
			return {
				kdPay: this.$store.getters.getKdPay,
				user: this.$store.getters.getUserInfo || common.getJsonLocal('user'),
                agent:'',
				wxScan: { show: false, url: '' }
			}
		},
		props: {
			paySet: {
				type: Object
				// type  业务类型
				// payPrice 支付金额
				// balance 是否有余额支付
				// balancePay  余额支付方法
			}
		},
		mounted() {
		try{
        window.ncp.haveOnKeyDown();
      //window.ncp.closeOnKeyDown();
        }catch(e){
            //TODO handle the exception
        }
      let self = this;
      if(navigator.userAgent.indexOf('iPhone') > -1){
        this.agent='ios';
      }else {
        this.agent='android';
      }
      setTimeout(function () {
        Api.getPayMethod(function(data) {
          if(data.msgCode == '200') {

            let _data = data.list;
            if(self.paySet.balance) {
              let data = {
                methodId: 'ye',
                methodName: '余额支付'
              }
              _data.unshift(data)
            }
            for(let i = 0; i < _data.length; i++) {
              let channel=localStorage.getItem("channel");
              _data[i].show = true;
              if(channel=='qzbInvitation'){
                if(_data[i].methodName=='微信支付'){
                  _data[i].show = false;
                }
              }
              // //圣诞活动隐藏微信
              // if(self.$route.name=='christmas'){
              //   if(_data[i].methodName=='微信支付'||_data[i].methodName=='银行卡支付'){
              //     _data[i].show = false;
              //   }
              // }
              //end
              if(i == 0) {
                _data[i].active = true;
                self.kdPay.type = _data[i].methodId;
              } else {
                _data[i].active = false;
              }
            }
            self.kdPay.payList = _data;

          } else {
            Toast({ message: data.msgNote, duration: 1500 });
          }
        }, {
          orderType: self.paySet.type
        })
      },800)
		},
		methods: {
			setkdPay(data) {
				this.$store.dispatch('setkdPay', data);
			},
			closePay() {
				this.kdPay.show = false;
			},
			changeType(type) {
				for(let i = 0; i < this.kdPay.payList.length; i++) {
					this.kdPay.payList[i].active = false;
					if(this.kdPay.payList[i].methodId == type) {
						this.kdPay.payList[i].active = true;
					}
				}
        this.kdPay.type = type;
				if(type!='alipay'&&!localStorage.getItem('pay')){
				  localStorage.setItem('pay',1);
          this.$store.getters.getKdPay.show=false;
				  this.$emit('payModel');
        }

			},
			buy() {
				let self = this;
				let type = self.kdPay.type;
				let returnUrl = self.paySet.backUrl;
				if(type == 'ye') {
					this.paySet.balancePay()
					return
				}
				if(self.kdPay.type == 'wechat_scan')
				self.paySet.type = 'CZ';
				Api.submit(function(data) {
					 var payMethod=data.payMethod;
          localStorage.setItem('orderId',data.orderId);
					if(data.msgCode == '200') {
						let payResult = data.data;
            setTimeout(function () {
              self.kdPay.show=false;
            },3000);
						//支付宝
						if(payMethod == 'alipay') {
              //self.paySet.backUrl='http://'+config.cdnIp+'/views/#/turntableGame?pay=0';
              //self.paySet.backUrl='http://192.168.1.11:1050/#/turntableGame?pay=0';
							common.toAlipay(payResult,self.paySet.backUrl);
						}
						//微信App
						if(payMethod == 'wxpay') {
							if(data.official) {
								//官方微信支付
								let official = data.official;
								let weixinPay = data;
								delete weixinPay.official;
								delete weixinPay.msgCode;
								weixinPay.returnCode = 'SUCCESS';
								common.toWxPay(JSON.stringify(weixinPay), official);
							} else {
								let tokenId = data.tokenId;
								let appId = data.appId;
								try {
									common.toWxPay(tokenId, data.official, returnUrl, appId)
								} catch(e) {
									Toast({ message: '调起微信支付失败', duration: 1300 });
								}
							}
						}
						if(payMethod == 'wxScan' || payMethod == 'wechat_scan') {
							self.wxScan.show = true;
							self.wxScan.amount = data.amount;
							self.wxScan.url = data.imgUrl;
						}
					} else {

						if(data.code == 200){

							var u = navigator.userAgent;
							Indicator.open();
							setTimeout(function(){ Indicator.close(); },3000);
							setTimeout(function () {
                self.kdPay.show=false;
              },3000);

							if(u.indexOf('Android') > -1 || u.indexOf('Linux') > -1){//android
                  switch (data.showModel){
                    case 'nb': ////内部打开(shukebao)
                      window.ncp.changeWebKey(self.paySet.backUrl,'');
                      location.href=data.url;
                      break;
                    case 'wb': window.ncp.wxh5Pay(data.url,self.paySet.backUrl);break;//外部打开(aijinfu1，aijinfu2)
                    case 'yy': window.ncp.youyangAppPay(data.orderSign,self.paySet.backUrl);break;//有氧
                    case 'yh': window.ncp.jsSofoPay(JSON.stringify(data.oderItem),self.paySet.backUrl);break;////盈华
                    case 'ym'://dianxin  youchangpay (官方h5)
                      try{
                        window.ncp.WxH5CrackPay(data.url,"http://m.wlwch.cn","utf-8","ce",self.paySet.backUrl);
                      }catch(e) {
                        MessageBox.confirm('版本更新说明：<p>1、优化抢红包体验；</p><p>2、优化微信支付体验；</p>').then(action => {
                          location.href = 'http://k.wlwch.cn/apk/v1.0.8/qianzhuanbao_old.apk';
                        });
                      }
                      break;
                    case 'ly':
		                   try{
		                      window.ncp.changeYmKey(self.paySet.backUrl,data.refereUrl,'utf-8','test');location.href=data.url;
		                    }catch(e) {
		                      MessageBox.confirm('版本更新说明：<p>1、优化抢红包体验；</p><p>2、优化微信支付体验；</p>').then(action => {
		                        location.href = 'http://k.wlwch.cn/apk/v1.1.0/qianzhuanbao1.1.0.apk';
		                      });
		                    }
	                break;
                    case 'lw':
		                  try{
		                      window.ncp.changeWebKey(self.paySet.backUrl,data.refereUrl);location.href=data.url;
		                    }catch(e) {
		                      MessageBox.confirm('版本更新说明：<p>1、优化抢红包体验；</p><p>2、优化微信支付体验；</p>').then(action => {
		                        location.href = 'http://k.wlwch.cn/apk/v1.1.0/qianzhuanbao1.1.0.apk';
		                      });
		                    }
		            break;
                  }
							}else if(u.indexOf('iPhone') > -1) { //ios
                  //location.href = data.url;
					     }
						}else{
							Toast({ message: data.msgNote, duration: 1500 });
						}
					}
				}, {
					userCode: self.user.userCode,
					payMethod: self.kdPay.type,
					orderType: self.paySet.type,
					amount: self.kdPay.payPrice,
          agent:self.agent,
					returnUrl: self.paySet.returnUrl,
					bussinessData: self.kdPay.bussinessData,
				})
			}
		}
	}
</script>

<style rel="stylesheet/scss" lang="scss">
	
	@import "../../assets/sass/icon.scss";
	@import "../../assets/sass/conmon.scss";
	.lab{
      /*position: absolute;*/
      /*left: 2rem;*/
      text-align: center;
      height: 1.6rem;
      width: 6rem;
      font-size: 0.95rem;
      color: #fff;
      line-height: 1.6rem;
      background: #F53625;
      border-radius: 0.3rem;
      margin-left: 0.5rem;
      /*background: no-repeat center url(/static/images/main/ic_lab_bg.png);*/
      /*background-size: 100%;*/
    }
  .lab1{
    text-align: center;
    height: 1.6rem;
    width: 6rem;
    font-size: 0.95rem;
    line-height: 1.7rem;
    border: 1px solid #F53625;
    color: #F53625;
    border-radius: 0.3rem;
    margin-left: 0.5rem;
  }
	.pay95{
		position: absolute;
		right: 3rem;
		color: #ff2739;
		top: 1.5rem;
		font-weight:800;
	}
	.kd-pay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 888;
	}

	.kd-pay-mask {
		z-index: 900;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.75);
		transition: all 0.4s;
	}

	.confirm-pay {
		position: absolute;
		bottom: 0;
		background: #fff;
		padding: $padding;
		box-sizing: border-box;
		width: 100%;
		z-index: 997;
		.title {
			@include setfont(toRem(19px), #333, toRem(19px));
      text-align: center;
		}
		.pay-head {
			border-bottom: $border;
			padding-top: 1rem;
			padding-bottom: 0.5rem;
			P {
				@include setfont(toRem(14px), #666, toRem(28px));
			}
			.pay-price {
				@include setfont(toRem(24px), #333, toRem(32px));
			}
		}
		.choose-box {
			padding-top: 1rem;
			.choose-text {
				@include setfont(toRem(14px), #999, toRem(14px));
			}
			.choose-pay-type-box {
				max-height: toRem(200px);
				overflow-y: scroll;
				margin-top: 0.8rem;
				.choose-pay-type {
					height: toRem(112px/2);
					border-bottom: $border;
					position: relative;
					@include flex-pack-justify();
					&:active {
						background-color: $bodyBg;
					}
					.pay-left {
						.pay-title {
							margin-left: 1rem;
							p:nth-of-type(1) {
								@include setfont(toRem(16px), #666, toRem(18px));
							}
							p:nth-of-type(2) {
								@include setfont(toRem(14px), #999, toRem(18px));
							}
							.pay-SM {
								position: relative;
								span {
									width: 0;
									height: 0;
									border-top: 0rem solid transparent;
									border-bottom: 0.9rem solid transparent;
									border-right: 0.8rem solid #f22435;
									position: absolute;
									left: -0.3rem;
									top: 0.15rem;
								}
								em {
									display: inline-block;
									width: 100%;
									background: #f22435;
									border-radius: 0.8rem;
									color: #ffffff;
									font-size: toRem(12px);
									padding: 0 0.2rem;
									text-align: center;
									line-height: toRem(16px);
								}
							}
						}
					}
				}
			}
		}
		.to-pay-btn {
			@include setBtn(100%, toRem(48px), toRem(19px), #fff, #F53625);
			margin-top: 1rem;
		}
		.ic-close-gray {
			position: absolute;
			right: 0.5rem;
			top: 0.5rem;
		}
	}
</style>
