<template>
	<ul class="password flex-wrap">
		<li v-for='(key,i) in num'>{{ keyboard[i] | pass_f}}</li>
	</ul>
</template>

<script>
	
	import common from '@/assets/js/common'
	import { Toast } from 'mint-ui'
	
	export default {
		data(){
			return{
				num:[null,null,null,null,null,null]
			}
		},
		computed : {
			keyboard : function(){
				return this.$store.getters.getKeyboard;
			}
		},
		filters: {
			pass_f: function(val) {
				if(!val) return '';
				return '●'
			} 
		},
		methods :{
			
		}
	}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>

	@import "../../assets/sass/icon.scss";
	ul{
		width: 100%;
		height: 42px;
		background: #fff;
		font-size: 18px;
		font-weight: 600;
		border: solid 1px #eeebeb;
		border-radius: 6px;
		color: #555;
		li{
			flex: 1;
			line-height: 42px;
			border-right: solid 1px #eeebeb;
			&:last-child{
				border-right: 0;
			}
		}
	}
</style>