<template>
	<ul class="pass flex-wrap">
		<li v-for='(key,i) in num'>{{ keyboard[i] | pass_f}}</li>
	</ul>
</template>

<script>
	
	import common from '@/assets/js/common'
	import { Toast } from 'mint-ui'
	
	export default {
		data(){
			return{
				num : [null,null,null,null]
			}
		},
		computed : {
			keyboard : function(){
				return this.$store.getters.getKeyboard;
			}
		},
		filters: {
			pass_f: function(val) {
				if(!val) return '';
				return '●'
			} 
		},
		methods :{
			
		}
	}
</script>

<style rel="stylesheet/scss" lang="scss">

	@import "../../assets/sass/conmon.scss";
	@import "../../assets/sass/icon.scss";
	.pass{
		width: 100%;
		height: toRem(50px);
		background: #fff;
		font-size: toRem(18px);
		font-weight: 600;
		color: #555;
		li{
			flex: 1;
			height:toRem(50px);
			line-height:toRem(50px);
			
			background:#f0f0f0;
		    margin:0 0.5rem;
		    border-radius: 0.3rem;
			&:last-child{
				border-right: 0;
			}
		}
	}
</style>