<template>
   <div class="setPassword">
     <div v-if="active"><input type="text" @change="onInput" class="setpassOne" v-model="password" placeholder="设置6位数字的安全密码" maxlength="6" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/><i class="showPass" :class="{'active':active}" @click="showPass"></i></div>
     <div v-else><input type="password" @change="onInput" class="setpassOne" v-model="password" placeholder="设置6位数字的安全密码" maxlength="6" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/><i class="showPass" :class="{'active':active}" @click="showPass"></i></div>
     <div><input type="password" class="setpassAgain" @change="onInput1" v-model="againPassword" placeholder="再次确认上述输入" maxlength="6" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/></div>
   </div>
</template>

<script>
  import common from '@/assets/js/common'
  import { Toast,Indicator } from 'mint-ui'
  export default {
    data () {
      return {
        i:0,
        againPassword:'',
        password:'',
        time:'获取验证码',
        active:false,
        ps:1,
      }
    },
    methods:{
      onInput:function () {
        if (this.password.trim()) {
          this.$emit('password', this.password);
        }
      },
      onInput1:function () {
        if(this.againPassword.trim()){
          this.$emit('againPassword', this.againPassword);
        }
      },
      showPass:function () {
        this.active=!this.active;
        if(this.active){
           this.ps=0
        }else {
          this.ps=1
        }
      }
    },
  };
</script>

<style rel="stylesheet/scss" lang="scss" scoped>

  .setPassword{
    background: #fff;
  div{
    padding: 0.3rem 0;
    position: relative;
    border-bottom: solid 1px #eee;
  .input_del{
    position: absolute;
    width: 28px;
    height: 28px;
    background: no-repeat center url("/static/images/draw/input_del.png");
    background-size: 18px;
    right: 84px;
    top: 12px;
  }
  .showPass{
    width: 52px;
    height: 52px;
    position: absolute;
    top:0;right: 14px;
    background: no-repeat center url("/static/images/draw/ic_eye_off.png");
    background-size: 50%;
  }
  .active{
    background: no-repeat center url("/static/images/draw/ic_eye_on.png");
    background-size: 50%;
  }
  input{
    width: 90%;
    height: 42px;
    display: block;
    margin: 0 auto;
    border: 0;
    color: #666;
    font-size: 16px;
  }
  }

  }
</style>

