<template>
	<div class="videoCourse" v-show=videoCourse.show>
		<video controls="controls" id="videoCourse">
			<source v-if="videoCourse.types == 'wxScan'" src="http://k.wlwch.cn/video/wxScanPay.mp4" type="video/mp4"/>
			<source v-if="videoCourse.types == 'wx'" src="http://k.wlwch.cn/video/videoCourse_wx.mp4" type="video/mp4"/>
			<source v-if="videoCourse.types == 'zfb'" src="http://k.wlwch.cn/video/videoCourse_zfb.mp4" type="video/mp4"/>
		</video>
		<div class="videoCourseClose" @click=videoClose>关闭</div>
	</div>
</template>

<script>

	import common from '@/assets/js/common'
	import { Toast } from 'mint-ui'
	import Clipboard from 'clipboard'

	export default {
		data(){
			return{

			}
		},
		props:{
			videoCourse:{
	        	type: Object
	      	}
		},
		methods:{
			videoClose(){
				document.getElementById('videoCourse').pause();
				this.videoCourse.show = false;
			}
		}
	}
</script>

<style rel="stylesheet/scss" lang="scss">

	
	@import "../../assets/sass/icon.scss";
	.videoCourse{
		width: 100%;
		position: fixed;
		top: 0;
		left:0;
		z-index: 101;
		video{
			width : 100%;
			z-index: 9998;
			position: absolute;
			top: 0;
			left: 0;
		}
		.videoCourseClose{
			position: fixed;
			bottom: 0;
			height: 3.2rem;
			width: 100%;
			z-index: 9999;
			background: #000;
			text-align: center;
			color: #fff;
			line-height: 3.2rem;
			opacity: 0.6;
			font-size: 1.15rem;
		}
	}
</style>
