<template>
  <div class="flex-wrap">
    <div class="header">
      <div class="ic_white_left" @click="$router.go(-1)"></div>
      <span class="title">绑定手机</span>
    </div>
    <div class="content flex-con-1">
      <div class="scroll">
        <ul class="barBox flex-wrap">
          <li class="barItem active"></li>
          <li class="line active"><div class="tips">1.关联手机号码</div></li>
          <li class="barItem" :class="{'active':step>=2}"></li>
          <li class="line" :class="{'active':step>=2}"><div class="tips">2.设置安全密码</div></li>
          <li class="barItem" :class="{'active':step>=3}"></li>
          <li class="line" :class="{'active':step>=3}"><div class="tips">3.提现须知</div></li>
          <li class="barItem" :class="{'active':ps==1}"></li>
        </ul>
        <div class="kd-hint"v-if="step<3">为提升帐户资金安全等级，请设置帐户安全密码</div>
        <!--绑定手机好-->
        <bindPhone v-if="step==1" v-on:phone="recievePhone" v-on:verifyCode="recieveverifyCode"></bindPhone>
        <!--设置秘钥-->
        <setPassword v-if="step==2" v-on:password="psw" v-on:againPassword="agPsw"></setPassword>
        <!--须知-->
        <div class="drawHint" v-if="step==3">
          <div class="kd-hint">提现须知</div>
          <p>1.务必确保提现信息准确无误，如因用户信息填写错误而造成的损失，由用户本身承担，与平台无关；</p>
          <p>2.通过非正当途径获利（如利用系统漏洞、恶意代刷等），一经查证，平台有权不提供提现服务并冻结该帐户，如情节严重将通过法律途径进行处理；</p>
          <p class="f-red">3.根据第三方平台转账服务相关规定：</p>
          <p class="f-red">· 微信提现，起提金额2元，手续费1元/笔，4小时内到账,提现服务时间09:00-21:00;</p>
          <p class="f-red">·支付宝提现，起提金额3元，手续费2元/笔，实时到账,提现服务时间-7*24小时；</p>
          <p>4.普通用户每日限10笔，单笔提现不超过60元</p>
          <p>5.使用过程如遇到问题，请联系微信在线客服qzbkfa进行咨询（工作日09:00-18:00）</p>
          <div class="agreement"><i></i>我已仔细阅读上述须知，同意并遵循相关协定</div>
          <input type="button" class="complete" value="完成" @click="complete">
        </div>
        <input type="button" class="next" value="下一步" @click="nextTap" v-if="step<3">
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import Api from '@/fetch/api'
  import config from '@/config'
  import common from '@/assets/js/common'
  import MD_5 from '@/assets/js/MD_5'
  import mixin from '@/assets/js/mixin';
  import { Toast,Indicator } from 'mint-ui'
  import { bindPhones,checkphonePass } from "../../fetch/index";
  import bindPhone from '@/components/draw/bindPhone';
  import setPassword from '@/components/draw/setPassword';
  export default{
      mixins:[mixin],
      components:{
          'bindPhone':bindPhone,
          'setPassword':setPassword,
      },
    data(){
      return{
        phoneNum:'',
        verifyCode:'',
        password:'',
        againPassword:'',
        step:1,
        cashList : '',
        ps:'',
      }
    },
    created(){
      let self = this;
    },
    methods:{
      recievePhone:function (phone) {
        this.phoneNum=phone;

      },
      recieveverifyCode:function (verifyCode) {
        this.verifyCode=verifyCode;
      },
      psw:function (password) {
        this.password=password;
      },
      agPsw:function (agPsw) {
        this.againPassword=agPsw;
      },
      complete:function () {
        let self = this;
        self.ps=1;
        Toast({ message: '设置成功', duration: 1500, iconClass: 'ic-toast-success' });
        setTimeout(function () {
          self.$router.replace("/draw/4");
        },2000);
      },
      nextTap:function () {
        let self = this;

        if(self.step==1){
          if(self.phoneNum==null||self.phoneNum==""||self.phoneNum==undefined){
              Toast('请输入手机号')
          }else if(self.verifyCode==null||self.verifyCode==""||self.verifyCode==undefined){
            Toast('请输入验证码')
          }else {
              bindPhones({phoneNum:self.phoneNum,verifyCode:self.verifyCode,token:self.user.token}).then((res)=>{
                  if(res.msgCode=='200'){
                      self.step=2;
                      self.$store.state.user.userPhone=self.phoneNum;
                  }else if(res.msgCode=='600'){
                      Toast('验证码过期')
                  }else if(res.msgCode=='601'){
                      Toast('验证码不正确')
                  }else {
                      Toast(res.msgNote)
                  }
              });
          }
        }else if(self.step==2){
           if(self.password==""||self.password==null||self.password==undefined){
               Toast('请输入秘钥')
           }else if(self.againPassword==""||self.againPassword==null||self.againPassword==undefined){
             Toast('请再次输入秘钥')
           }else {
               checkphonePass({phonePass: MD_5.hex_md5(self.password),phonePassAgain: MD_5.hex_md5(self.againPassword),token:self.user.token}).then((res)=>{
                   if(res.msgCode=='200'){
                       self.step=3;
                   }else if(res.msgCode=='600'){
                       Toast('秘钥不一致！请重新输入')
                   }
               });
           }
        }

      },
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import "../../assets/sass/draw/bindPhone.scss";
</style>

