<template>
	<div class="draw flex-wrap">

		<div class="header">
	      <div class="ic_white_left" @click="$router.go(-1)"></div>
	      <span class="title">提现</span>
	    </div>

		<div class="header-right hide" @click="showMd('withdrawalsNew')">提现说明</div>
		<div class="content flex-con-1">
			<div class="hide">
			<div class="scroll">
				<div class="title">到账方式</div>
				<div class="draw-way" @click="showMd('chooseWay')" v-for="way in drawWay" v-if="way.active"><i :class="{'ic-zfb':way.methodId == 'alipay_tx','ic-wx' : way.methodId == 'wx_tx'}"></i>{{way.methodName}}<i class="ic-arrow-rw"></i></div>
				<div class="draw-time">时间<em>4小时内到账</em></div>
				<div class="title">提现金额（今日可提<em>{{draw.record}}</em>次/单笔限{{draw.limit}}元）</div>
				<div class="draw-amount">金额<input type="text" placeholder="3元起提" /></div>
				<div class="title">本次可提金额{{draw.balance | RMB_f}}元</div>
        <!--<router-link to="/vip" v-if="user.level == 0">开通vip提升额度</router-link>-->
				<input type="button" class="draw-btn" @click="showConfirm" value="提交"/>
			</div>
			</div>
      <div class="txbanner"><img src="/static/images/draw/pay-bg.png" alt=""><div class="gule" @click="showMd('activityGule')"></div></div>
		<div class="editDrawInfo" v-show=!drawConfirm>
			<div class="topPrompt">重大提示：请务必确保提现信息准确，否则自行承担损失</div>
			<ul class="menuUl">
				<li :class="{'active':showMenu==1}" @click="changeMenu(1)" v-if="txType.alipayTx==1">支付宝</li>
				<li :class="{'active':showMenu==3}" @click="changeMenu(3)" v-if="txType.wxScanTx==1">微信(收款码）</li>
				<li :class="{'active':showMenu==4}" @click="changeMenu(4)" v-if="txType.wxTx==1">微信</li>
			</ul>
			<!--<div class="zfbBox">-->
			<ul class="zfb hide" :class="{'show':showMenu==1}">
					<li class="zfbAccounts">
						<p class="zfbAccountsT">支付宝账号</p>
						<!--<input type="text" maxlength="20" readonly="readonly" class="zfbBoxRight" placeholder="请输入支付宝账号" v-model="alipayAccount"  onpaste="return false" ondragenter="return false" oncontextmenu="return false;" style="ime-mode:disabled">-->
					  <span @click="showMd('setZFB')" :class="{'changeColor':changeColor}">{{alipayAccount}}</span>
          </li>
					<li>
						<p class="zfbAccountsT">支付宝真实姓名</p>
						<!--<input type="text" maxlength="5" readonly="readonly" class="zfbBoxRight" placeholder="请输入支付宝真实姓名" v-model="alipayUserName">-->
					  <span @click="showMd('setZFB')" :class="{'changeColor':changeColor}">{{alipayUserName}}</span>
          </li>
          <p style="color: #bb7777;font-size:12.25px;padding-top: 4.2px;padding-left: 16.1px">*如填写的支付宝账号与真实姓名不匹配，将无法提现到账。</p>
			</ul>
			<router-link  tag="div" to="/zfbCollectionCode" class="noZfbCode" v-show="showMenu==2&&!havaAlipay">
					<p class="noZfbCodeT">支付宝帐户<span class="noZfbCodeT2">(未上传收款码)</span></p>
					<i class="ic-arrow-rg"></i>
			</router-link>
			<router-link  tag="div" to="/zfbCollectionCode" class="ZfbCode" v-show="showMenu==2&&havaAlipay">
					<p class="ZfbCodeT">支付宝帐户</p>
					<i class="ic-arrow-rg"></i>
					<img class="codePic" src="/static/images/main/codePic.png">
			</router-link>

			<router-link  tag="div" to="/wxCollectionCode" class="noZfbCode" v-show="showMenu==3&&!havaWx">
					<p class="noZfbCodeT">微信帐户<span class="noZfbCodeT2">(未上传收款码)</span></p>
					<i class="ic-arrow-rg"></i>
			</router-link>
			<router-link  tag="div" to="/wxCollectionCode" class="ZfbCode" v-show="showMenu==3&&havaWx">
					<p class="ZfbCodeT">微信帐户</p>
					<i class="ic-arrow-rg"></i>
					<img class="codePic" src="/static/images/main/codePic.png">
			</router-link>


			<div class="cashWithdrawal">
					<div class="cashWithdrawalT">金额</div>
					<input :placeholder='tipText' v-model="amount" type="number"/>
					<!-- <input v-else :placeholder='"本次可转"+draw.balance+"元"' v-model="amount" type="number"/> -->
					<div class="allTakeOut" @click="allTakeOut">全部转出</div>
			</div>
			<div class="cashWithdrawalNext">
					<span class="counterFee">手续费<span class="counterFeeNum">{{poundage | RMB_f}}</span>元</span>
          <div class="pay-fee hatch" v-if="showMenu==1&&hatch"><em></em>现费率低至<strong style="color: #fccf32">{{poundage | RMB_f}}元</strong></div>
					<span class="cashWithdrawalNextR">今日可提<span class="frequency">{{draw.record}}</span>次/单笔限额<span>{{draw.limit}}</span>元</span>
			</div>
			<div class="paymentDate">
					<span class="paymentDateL">到账时间</span>
					<span class="paymentDateR">约4小时内到账</span>
			</div>
        <div class="changeZfb" v-if="showMenu==1" @click="showMd('setZFB')">更换支付宝账户？</div>
		    <input class="submitBtn" type="button" value="提交" @click="showConfirm" />
			</div>



		     <div class="drawConfirm" v-show=drawConfirm>

				<div class="row marginTop">
					提现金额<em class="red">{{amount | RMB_f}}</em>
				</div>
				<div class="row marginTop">
					到账方式<em class="" v-show="showMenu==1||showMenu==2"><i class="ic-zfb"></i>支付宝</em>
					       <em class="" v-show="showMenu==3||showMenu==4"><i class="ic-wx"></i>微信</em>
				</div>
				<div class="row" v-show="showMenu==1">
					支付宝帐号<span class="rightSpan">{{alipayAccount}}</span>
				</div>
				<div class="row" v-show="showMenu==1">
					支付宝真实姓名<span class="rightSpan">{{alipayUserName}}</span>
				</div>
				<div class="row">
					手续费<span>{{poundage | RMB_f}}元</span>
				</div>
				<div class="tips marginTop">{{cashDeclaration}}</div>
				<div class="row marginTop">
					今日可提次数<span>{{draw.record}}次</span>
				</div>
				<div class="row">
					预计到账时间<span>预计{{currentTime}}到账</span>
				</div>
				<input type="button" class="drawConfirmBtn" value="确认提现" @click="showMdPass()" />
		    </div>
        </div>





		<div class="md-mask" :class="{ 'active': md.mask}"></div>
		<div class="md-modal md-effect-1 chooseWay" :class="{ 'md-show': md.chooseWay }">
		    <div class="md-content">
		    	<i class="md-close ic-close-gray" @click="closeMd('chooseWay')"></i>
		      	<div class="chooseWay-title">选择到账方式</div>
		      	<div class="chooseWay-tips">选择提现到账方式，请确保信息准确性</div>
		      	<ul class="chooseWay-lis">
		      		<li v-for="way in drawWay" @click="changeWay(way.methodId)">
		      			<i :class="{'ic-zfb':way.methodId == 'alipay_tx','ic-wx' : way.methodId == 'wx_tx'}"></i>{{way.methodName}}
		      			<span v-if="!alipayBand&&way.methodId == 'alipay_tx'">绑定支付宝</span>
		      			<span v-if="alipayBand&&way.methodId == 'alipay_tx'" @click.stop="showBindZfb()">重新绑定</span>
		      		</li>
		      	</ul>
		    </div>
		</div>

		<div class="md-modal md-effect-1 bindZfb" :class="{ 'md-show': md.bindZfb }">
		    <div class="md-content">
		    	<i class="md-close ic-close-gray" @click="closeMd('bindZfb')"></i>
		      	<i class="ic-zfb"></i>
		      	<div class="title">绑定支付宝账户</div>
		      	<div class="tips">为保障资金安全，请确保信息准确性</div>
		      	<input type="text" class="zfb-account" placeholder="支付宝账号" onpaste="return false" ondragenter="return false" oncontextmenu="return false;" style="ime-mode:disabled">
		      	<input type="text" class="zfb-name"  placeholder="真实姓名">
		      	<input type="button" value="提交绑定" class="bindZfbBtn" @click="alipayBandFn"/>
		    </div>
		</div>


		<div class="md-modal md-effect-1 md-pass" :class="{ 'md-show': md.passWord }">
		    <div class="md-content">
		    	<i class="md-close ic-close-gray" @click="closeMd('passWord')"></i>
		      	<div class="title">请输入安全密码</div>
		      	<div class="tips">为保障您的帐户安全，请输入安全密码</div>
		      	<div class="passWord-box" @click="showKeyboard(0)">
		      		<!--<password></password>-->
		      		<pass></pass>
		      	</div>
            <router-link tag="div" to="/findPassword" class="findPsw">找回安全密码</router-link>
		    </div>
		</div>


		<div class="md-modal md-effect-1 withdrawalsNew" :class="{ 'md-show': md.withdrawalsNew }">
      <div class="md-content">
		    <div class="contDiv">
		    	<div class="title">提现说明</div>
		    	<p class="hei">1.请正确填写您的提款信息，如因用户填写信息错误而造成的损失，由用户本身承担，与平台无关;</p>
		    	<p class="hei">2.通过非法途径所得（如利用平台漏洞、恶意套现等），平台一经查证，有权不提供提现服务并冻结该帐户；</p>
		    	<p class="hei">3.根据第三方平台转账规定:</p>
		    	<p class="hui">•微信提现，起提金额3元，手续费1.5元/笔，4小时内到账,提现服务时间<em v-if="txType.wxScanTx==1">09:00-21:00</em><em v-else>7*24小时</em>;</p>
		    	<p class="hui">• 支付宝提现，起提金额3元，手续费1元/笔，实时到账,提现服务时间7*24小时；</p>
		    	<p class="hui">• 每日提现限10笔，单笔不超过60元。</p>
		    </div>
	        <div class="iKnow"  @click="closeMd('withdrawalsNew')">知道了</div>
	    </div>
    </div>
	    <div class="myBack" @click="myBack()"></div>
	    <!--<div class="md-mask" :class="{ 'active': md.mask }"></div>-->
	    <div class="md-modal md-effect-1 notAtTime" :class="{ 'md-show': md.notAtTime }">
		    <div class="md-content">
		       <i class="md-close ic-close-gray" @click="closeMd('notAtTime')"></i>
		       <img src="/static/images/main/shizhong.png">
		       <!--<div class="title">请于工作日09:00-21:00间进行微信收款码提现操作，为此带来的不便尽请谅解。</div>-->
		       <div class="title">尊敬的客户，由于当前不属于客服工作时间，您的提现申请将会延迟明早9：00处理，给您带来的不便敬请谅解。</div>
		       <div class="contOne">Tips：您还可以使用支付宝提现哦！</div>
		   <!--    <div class="contTwo">09:00-22:00</div>-->
		       <div class="notAtTimeBtn" @click="closeMd('notAtTime')">我知道了</div>
		    </div>
		</div>
		<keyboard :param=keyboard></keyboard>
		<!--提交成功-->
		<div class="md-modal md-effect-1 submitSuccess" :class="{ 'md-show': md.submitSuccess }">
		    <div class="md-content">
		       <i class="md-close ic-close-gray" @click="closeMd('submitSuccess')"></i>
		       <img src="/static/images/draw/submitSuccessPic.png">
		       <div class="title">提交成功!</div>
		       <div class="contOne">等待系统处理</div>
		       <div class="contTwo">温馨提示：可前往帐户余额-明细，查看进度</div>
		       <div class="notAtTimeBtn" @click="submitSuccess()">确定</div>
		    </div>
		</div>
		<!--提交失败-->
		<div class="md-modal md-effect-1 submitfail" :class="{ 'md-show': md.submitfail }">
		    <div class="md-content">
		       <i class="md-close ic-close-gray" @click="closeMd('submitfail')"></i>
		       <img src="/static/images/draw/submitfailPic.png">
		       <div class="title">提交失败!</div>
		       <div class="contOne">{{failureReason}}</div>
		       <div class="contTwo">温馨提示：可前往帐户余额-明细，查看进度</div>
		       <router-link tag="div" class="notAtTimeBtn" v-if="pswMistake" to="/findPassword">找回密码</router-link>
		       <div class="notAtTimeBtn" @click="closeMd('submitfail')" v-else>确定</div>
		    </div>
		</div>
    <!--活动规则-->
    <div class="md-modal md-effect-1 activityGule" :class="{ 'md-show': md.activityGule }">
      <div class="md-content">
          <div class="title">活动规则</div>
          <div class="box">活动名称：<span>支付宝支付月</span></div>
          <div class="box">活动时间：<em>2017年12月12日起</em></div>
          <div class="box">活动内容：</div>
          <p>所有平台注册用户均可参与“支付宝支付月”活动，届时均享以下优惠： </p>
          <p>1.使用支付宝充值，可享随机减免、最低95折优惠；</p>
          <p>2.使用支付宝每充1笔，可获赠1次抽奖机会，可中iPhoneX手机、88.88元大红包和免死金牌等；   </p>
          <p>3.提现到支付宝，可享手续费1元。</p>
          <div class="tip">*最终解释权归平台所有，如有疑问请联系在线客服</div>
          <i class="ic-close-gray" @click="closeMd('activityGule')"></i>
      </div>
    </div>

		<video-course :videoCourse=videoCourse></video-course>

		<!--提现失败引导弹框-->
		<div class="md-modal md-effect-1 failBoot" :class="{ 'md-show': md.failBoot }">
		    <div class="md-content">
		       <i class="md-close ic-close-gray" @click="closeMd('failBoot')"></i>
		     <!--  <img src="/static/images/main/failBootPic.png" class="failBootPic">	-->
		       <div class="title">温馨提示</div>
		       <div class="reasonTitle">客服妹子发现您在微信二维码提现上传的二维码不符合规则，并给出了如下原因:</div>
		       <div class="reason">{{reason}}</div>
		       <div class="contOne">建议通过以下方式知晓如何提现：</div>
		       <div class="flex-wrapMe qAmenu" @click="videoCourseShow">
               	 	<img src="/static/images/main/qAmenuP1.png">
               	 	<div class="menuInfo flex-con-1">客服妹子手把手教你提现(视频)</div>
               	 	<i class="ic-arrow-rg"></i>
               </div>
               <router-link  tag="div" to="/wxHelp" class="flex-wrapMe lastDiv">
               	 	<img src="/static/images/main/qAmenuP2.png">
               	 	<div class="menuInfo flex-con-1">秒懂获取微信收款码（图文）</div>
               	 	<i class="ic-arrow-rg"></i>
               </router-link>
		    </div>
		</div>
    <!--未上传微信收款码-->
    <div class="md-modal md-effect-1 noWXcode" :class="{ 'md-show': md.noWXcode }">
      <div class="md-content">
        <img :src="codeImg" alt="" v-if="havaWx">
        <img src="/static/images/main/wxNoCode.png" alt="" v-else>
        <p>你还未上传微信收款码</p>
        <p>在服务时间内，收款码提现到账更迅速</p>
        <div class="inputBtn">
          <input type="file" class="myfile" @change="paymentUpload()" id="file" accept="image/jpg,image/jpeg,image/png"/>
          <input type="button" value="老司机，立即上传" class="getImg">
        </div>
        <input type="button" value="新人，查看教程" class="lookVedio" @click="towxHelp">
        <i class="ic-close-gray" @click="closeMd('noWXcode')"></i>
      </div>
    </div>
    <!--设置新的支付宝信息-->
    <div class="md-modal md-effect-1 setZFB" :class="{ 'md-show': md.setZFB }">
      <div class="md-content">
         <div class="title">设置新支付宝信息</div>
         <p>如填写的支付宝账号与真实姓名不匹配，将无法提现到账</p>
         <input type="text" placeholder="输入支付宝账号" class="zfbNumber" v-model="zfbNumber">
         <input type="text" placeholder="输入支付宝真实姓名" class="zfbName" v-model="zfbName">
         <input type="button" class="bind-zfb" value="提交" @click="bindSuccess">
         <i class="ic-close-gray" @click="closeMd('setZFB')"></i>
      </div>
    </div>
    <!--验证码-->
    <div class="md-modal md-effect-1 md-yzm" :class="{ 'md-show': md.yzm}">
      <div class="md-content">
        <i class="md-close ic_orange_close" @click="closeMd('yzm')"></i>
        <div class="title">安全验证</div>
        <div class="tips">为了确保资金安全，已向您的手机{{user.userPhone | toPhone}}发送了短信验证</div>
        <div class="passWord-box" @click="showKeyboard(1)">
           <pass-yzm></pass-yzm>
        </div>
        <div class="tip" v-if="isWorry">未收到短信？<em @click="againSend">重新发送</em></div>
        <input type="button" class="determine" value="确定" @click="determine"/>
      </div>
    </div>
    <video-course :videoCourse=videoCourse></video-course>
	</div>




</template>

<script>
	import Vue from 'vue'
	import Api from '@/fetch/api'
	import config from '@/config'
	import common from '@/assets/js/common'
	import MD_5 from '@/assets/js/MD_5'
	import { Toast,Indicator } from 'mint-ui'
	import keyboard from '@/components/draw/keyboard'
	import pass from '@/components/draw/password.vue'
	import passYzm from '@/components/draw/passYzm'
	import videoCourse from '@/components/draw/videoCourse'
	import {withDraw,toBackAccount,getPayWayNew,phoneVerifyCodeByTemplate,alipayBand,getAliaAccount,getPaymentCode,getLastFailDraw,paymentUpload,submit} from "../../fetch/index";
	export default {
		name: 'draw',
		components : {
			videoCourse,
			keyboard,
			pass,
            passYzm
		},
		data() {
			return {
				videoCourse : {
					show : false,
					types : 'wx',
					url : ''
				},
				user: this.$store.state.user || common.getJsonLocal('user'),
				headerMag: {
					title: '提现',
					rightMsg: '',
					rightUrl: '',
					backColor:false,
				},
        zfbNumber:'',
        zfbName:'',
        changeColor:false,
        hatch:true,
				md: {
					mask : false,
					chooseWay : false,
					bindZfb : false,
					passWord : false,
					withdrawalsNew:false,
					notAtTime:false,
					submitSuccess:false,
					submitfail:false,
					failBoot:false,
          noWXcode:false,
          activityGule:false,
          setZFB:false,
          yzm:false,
				},
        isWorry:false,
				drawConfirm : false,
				keyboard: {
					show : false,
					keyboard : '',
          code:false,
					cb : this.submitFn
				},
        codeImg:'',
				alipayBand : '',
				alipayUserName : '请输入支付宝真实姓名',
				alipayAccount : '请输入支付宝账号',
				draw : '',
				amount : '',
				passWord : '',
				drawWay: '',
				getMoney : '',
				poundage : 2,
				showMenu:4,
				havaAlipay:false,
				havaWx:'',
				payShowType : 3,
				cashDeclaration:"根据支付宝平台服务规定：转账手续费按提现金额的2%收取，最低1元。",
				failureReason:"请稍候重试",
				reason:"您好，我们发现您上传的收款二维码不正确",
				tipText:'本次可转~元',
        pswMistake:false,
        currentTime:'',
        txType:''
			}
		},
		computed:{
			change:function(){
				if(this.draw.balance == 'undefined'){
					this.draw.balance = 0;
				}
				return this.draw.balance;
			}
		},
		watch: {
			'amount' :function(val){
				this.calculate();
				if(val >this.draw.balance){
					// console.log(this.draw);
					// console.log(Number(this.draw.limit))
					Toast({ message: '可提金额不足！' });
					this.amount = ''
				}else if(val>Number(this.draw.limit)){
		          Toast({ message: '提现金额不能超过'+Number(this.draw.limit)+'元' , duration: 1500 });
		          this.amount = 60;
				}
			}
		},

		mounted(){
		  setTimeout(()=>{
		     this.hatch=false;
      		},4000);
		},
		created() {
			let self = this;
			let menu=self.$route.params.menu;
			this.showMenu=menu;
			
         	this.calculate();
         	if(menu==1){//支付宝
            self.inIt();
         		this.cashDeclaration="根据支付宝平台服务规定：支付宝提现，起提金额3元，手续费1元/笔。"
         	}else if(menu==2){
         		this.cashDeclaration="根据支付宝平台服务规定：支付宝提现，起提金额3元，手续费1元/笔。"
         	}else{//微信
         		this.cashDeclaration="根据微信平台服务规定：微信提现，起提金额3元，手续费1.5元/笔。";
            getPayWayNew({token:this.user.token}).then((res)=>{
              if(res.msgCode=='200'){
                self.txType=JSON.parse(res.txSwitchConfig);
                
                if(self.txType.wxScanTx==1){
                  getPaymentCode({token:self.user.token,paymentType: 'wechat'}).then((data)=>{
	                  	if(data.msgCode == '200') {
	                      if(data.paymentImage==null||data.paymentImage==""){
	                        self.havaWx=false;
	                        self.showMd('noWXcode');
	                      }else{
	                        self.havaWx=true;
	                        getLastFailDraw({token:this.user.token}).then((data)=>{
	                        	if(data.msgCode == '200') {
	                            self.reason=data.reason;
	                            self.showMd("failBoot");
	                            }
	                        })

	                      }
	                    }
                   })
                }
              }
            });

            
            setTimeout(function () {
                toBackAccount({drawType:3,token:self.user.token}).then((data)=>{
                	self.draw = data;
	                if(self.draw.balance>=self.draw.limit){
	                  self.tipText = '本次可转'+self.draw.limit+'元';
	                }else {
	                  self.tipText = '本次可转'+self.draw.balance+'元';
	                }
                })
            },800);

         	}

		},
		filters:{
			RMB_f(num){
				return parseFloat(num).toFixed(2);
			},
			toPhone:function(value){
				if(!value) return '';
				return value.substring(0, 3) + "****" + value.substring(7, 11);
			}
		},
		methods: {
			
			
			inIt(){
				let self=this;
				getAliaAccount({token:self.user.token}).then((data)=>{
						if(data.msgCode=='200'){
						    if(data.alipayAccount!=''||data.alipayUserName!=''){
				              self.alipayAccount=data.alipayAccount;
				              self.alipayUserName=data.alipayUserName;
				              self.changeColor=false;
				            }else {
				              self.showMd('setZFB');
				              self.changeColor=true;
				            }
			            }
			            getPayWayNew({token:self.user.token}).then((res)=>{
			            if(res.msgCode=='200'){
			              self.txType=JSON.parse(res.txSwitchConfig);
			              toBackAccount({drawType:3,token:self.user.token}).then((res1)=>{
				              	self.draw = res1;
				                if(self.draw.balance>=self.draw.limit){
				                  self.tipText = '本次可转'+self.draw.limit+'元';
				                }else {
				                  self.tipText = '本次可转'+self.draw.balance+'元';
				                }
				                getPaymentCode({paymentType: 'alipay',token:self.user.token}).then((data)=>{
				                	if(data.msgCode == '200') {
					                    if(data.paymentImage==null||data.paymentImage==""){
					                      self.havaAlipay=false;
					                    }else{
					                      self.havaAlipay=true;
					                    }
				                    }
				                })
			              })
			            }
			          });
				})
			},

       toBuy:function () {
           this.$router.push('/spellTreasure/treasureDetail/50261');
       },
      bindSuccess(){
			  if(!this.zfbNumber){
			    Toast('请输入支付宝账号')
        }else if(!this.zfbName){
          Toast('请输入支付宝真实姓名')
        }else {
          this.closeMd('setZFB');
          this.showMd('yzm');
          this.isWorry=false;
          this.$store.state.getCode='';
          phoneVerifyCodeByTemplate({token:this.user.token,phoneNum:this.user.userPhone,templateId:'227530'}).then((data)=>{
         	if(data.msgCode=='200'){
              Toast('验证码发送成功');
            }else if(data.msgCode=='500'){
              Toast('验证码发送失败');
            }else if(data.msgCode=='600'){
              Toast('今日短信次数已用完');
            }else if(data.msgCode=='601'){
              Toast('验证码发送失败');
            }
         })

        }

      },
      againSend(){
		  this.$store.state.getCode='';
          phoneVerifyCodeByTemplate({token:this.user.token,phoneNum:this.user.userPhone,templateId:'227530'}).then((data)=>{
          	  if(data.msgCode=='200'){
              Toast('验证码发送成功');
	          }else if(data.msgCode=='500'){
	            Toast('验证码发送失败');
	          }else if(data.msgCode=='600'){
	            Toast('今日短信次数已用完！');
	          }else if(data.msgCode=='601'){
	            Toast('验证码发送失败');
	          }
          })
      },
			myBack(){
				if(this.drawConfirm){
					this.drawConfirm=false;
				}else{
					this.$router.replace('/wallet');
				}
			},
			allTakeOut() {
          this.amount=this.draw.balance;
			},
      towxHelp:function () {
        this.$router.push('/wxHelp');
      },
      determine(){
			 if(this.$store.state.getCode.length==4){
             checkVerifyCodeByTemplate({token:this.user.token,verifyCode:this.$store.state.getCode,phoneNum:this.user.userPhone,templateId:'227530'}).then((data)=>{
             	 if(data.msgCode=='200'){
               	 this.bd();
	             }else if(data.msgCode=='600'){
	               Toast('验证码过期');
	               this.isWorry=true;
	             }else if(data.msgCode=='601'){
	               Toast('验证码不正确');
	               this.isWorry=true;
	             }else {
	               this.isWorry=true;
	             }
             	
             	
             })
         }else {
			     Toast('请输入正确的验证码')
         }

      },
      bd(){
          alipayBand({token:this.user.token,alipayAccount : this.zfbNumber,alipayUserName : this.zfbName}).then((data)=>{
          	if(data.msgCode == 200){
             this.$store.state.getCode='';
             this.closeMd('yzm');
             Toast('支付宝绑定成功');
	             getAliaAccount({token:this.user.token}).then((data)=>{
	             	this.alipayAccount=data.alipayAccount;
	                this.alipayUserName=data.alipayUserName;
	             })
	          }else{
	            Toast({ message: data.msgNote, duration: 1500 });
	          }
          })
      },
			showKeyboard(type) {
			  if(type==0){//是否是验证码
			    this.keyboard.code=false;
        }else {
          this.keyboard.code=true;
        }
				this.keyboard.show = true;
			},
			changeMenu(key) {
        let self=this;
				var myDate = new Date();
				var now=myDate.getHours();
				if(now>20||now<9){
					if(key==1){

					}else{
            if(self.txType.wxScanTx==1){
              this.showMd("notAtTime");
            }
					}

				}

				this.$router.replace('/draw/'+key);

				this.showMenu= key;
	         	this.calculate();
	         	if(key==1){
	         		this.cashDeclaration="根据支付宝平台服务规定：支付宝提现，起提金额3元，手续费1元/笔。"
              this.inIt();
	         	}else if(key==2){
	         		this.cashDeclaration="根据支付宝平台服务规定：支付宝提现，起提金额3元，手续费1元/笔。"
	         	}else{
	         		this.cashDeclaration="根据微信平台服务规定：起提金额3元，手续费1.5元/笔";
	         		if(self.txType.wxScanTx==1){
                getPaymentCode({token:this.user.token,paymentType: 'wechat'}).then((data)=>{
                	if(data.msgCode == '200') {
                    if(data.paymentImage==null||data.paymentImage==""){
                      self.havaWx=false;
                      self.showMd('noWXcode');
                    }else{
                      self.havaWx=true;
                      getLastFailDraw({token:this.user.token}).then((data)=>{
                      	if(data.msgCode == '200') {
                          self.reason=data.reason;
                          self.showMd("failBoot");
                        }
                      })
                    }
                  }
                })
              }
	         	}

			},
			showMd(md) {
			  if(md=='setZFB'){
			    this.zfbNumber='';
			    this.zfbName='';
	          this.md[md] = true;
	          this.md.mask = true;
	        }else {
	          this.md[md] = true;
	          this.md.mask = true;
	        }

			},
			closeMd(md) {
				this.md[md] = false;
				this.md.mask = false;
				this.keyboard.show = false;
			},
			showMdPass(){
				this.md['passWord'] = true;
				this.keyboard.keyboard = '';
        		this.keyboard.code=false;
				this.$store.dispatch('setKeyboard', '');
				this.md.mask = true;
				this.keyboard.show = true;
			},
			showBindZfb(){
				this.md['chooseWay'] = false;
				this.md['bindZfb'] = true;
			},
			showConfirm(){
				let showMenu=this.showMenu;
				let self=this;
				if(showMenu==1){
					if(!this.alipayAccount||this.alipayAccount=='请输入支付宝账号'){
					//Toast({ message: '请输入支付宝账号' , duration: 1500 });
           this.showMd('setZFB')
				 }else if(!this.alipayUserName||this.alipayUserName=='请输入支付宝真实姓名'){
					//Toast({ message: '请输入真实姓名' , duration: 1500 });
            this.showMd('setZFB')
				 }else if(!this.amount){
					Toast({ message: '请输入提现金额' , duration: 1500 });

				 }else if(this.amount<3){
            Toast({ message: '最低3元起提' , duration: 1500 });
          }
				 else{
					 this.alipayBandFn();
				 }

				 return;
				}else if(showMenu==3){

					if(!this.havaWx){
						Toast({ message: '请先上传微信收款码' , duration: 1500 });
					}else if(!this.amount){
					    Toast({ message: '请输入提现金额' , duration: 1500 });

				    }else if(this.amount<3){
				    	Toast({ message: '起提金额为3元' , duration: 1500 });
				    }

				    else{
				    	self.drawConfirm = true;

				    }
				}else if(showMenu==2){
					if(!this.havaAlipay){
						Toast({ message: '请先上传支付宝收款码' , duration: 1500 });
					}else if(!this.amount){
					    Toast({ message: '请输入提现金额' , duration: 1500 });

				    }else if(this.amount<3){
				    	Toast({ message: '起提金额为3元' , duration: 1500 });
				    }else{
				    	self.drawConfirm = true;

				    }
				}else if(showMenu==4){
          if(!this.amount){
            Toast({ message: '请输入提现金额' , duration: 1500 });

          }else if(this.amount<3){
            Toast({ message: '最低3元起提' , duration: 1500 });
          }else{
            self.drawConfirm = true;
          }
        }




			},
			changeWay(way){

				if(way == 'alipay_tx' && !this.alipayBand){
					this.closeMd("chooseWay");
					this.showMd("bindZfb");
					return
				}
				for(let i=0;i<this.drawWay.length;i++){
					this.drawWay[i].active = false;
					if(this.drawWay[i].methodId == way) {
						this.drawWay[i].active = true;
						this.closeMd("chooseWay")
					}
				}
			},
			calculate(){
				let self=this;

				if(self.showMenu==1){
          this.poundage=1;
				}else{
          this.poundage=1.5;
				}

			},
			alipayBandFn(){
				let self = this;
        self.drawConfirm = true;
        self.alipayBand = true;
        for(let i=0;i<self.drawWay.length;i++){
          self.drawWay[i].active = false;
          if(self.drawWay[i].methodId == 'alipay_tx') {
            self.drawWay[i].active = true;
          }
          self.closeMd("bindZfb")
        }
        //预计到账时间
        let data,h,s,f;
        data=new Date().getTime()+14400000;
        h=new Date(data);
        s=h.getHours();
        f=h.getMinutes();
        if(s<10){
          s="0"+s;
        }
        if(f<10){
          f="0"+f;
        }
        if(s>=21||s<=3){//(9:00-21:00)
          self.currentTime="明天9:00";
        }else if(s>3&&s<9){
          self.currentTime="9:00";
        }else {
          self.currentTime=s+":"+f+"前";
        }
				// Api.alipayBand(function(data){
				// 	if(data.msgCode == 200){
				// 		//Toast({ message: '绑定成功', duration: 1500, iconClass: 'ic-toast-success' });
				//
                //
				// 	}else{
				// 		Toast({ message: data.msgNote, duration: 1500 });
				// 	}
				// },{
				// 	alipayAccount : this.alipayAccount,
				// 	alipayUserName : this.alipayUserName
				// });
			},
			submitFn(pass){
				let self = this;
        let payMethod = '';
				if(self.showMenu==1){//支付宝
            payMethod = 'alipay_tx';
            self.tx(payMethod,pass);
				}else if(self.showMenu==4){
          payMethod='wx_tx';
          self.tx(payMethod,pass);
        }else{
					self.withDrawElse(pass);
				}
			},
      tx(payMethod,pass){
        let self = this;
          submit({
          userCode: self.user.userCode,
          payMethod: payMethod,
          amount: self.amount,
          orderType: 'TX',
          returnUrl: 'http://192.168.1.114',
          bussinessData : MD_5.hex_md5(pass),
          token:this.user.token
          }).then((data)=>{
          	  self.pswMistake=false;
	          self.closeMd('passWord');
	          if(data.msgCode == '200') {
	            self.draw.record--;
	            self.showMd("submitSuccess");
	            //Toast({ message: '申请成功', duration: 1500, iconClass: 'ic-toast-success' });
	            setTimeout(function(){
	              //self.$router.replace('/giveDetails');
	            },1700);
	          }else if(data.msgCode == '605'){
	            self.pswMistake=true;
	            self.failureReason="失败原因:密码错误";
	            self.showMd("submitfail");
	          }else if(data.msgCode == '604'){
	            self.failureReason="失败原因:可提现次数不足";
	            self.showMd("submitfail");
	          }else if(data.msgCode == '606'){
	            self.failureReason="失败原因:操作太频繁";
	            self.showMd("submitfail");
	          }else if(data.msgCode == '607'){
	            self.failureReason="失败原因:"+data.subMsg;
	            self.showMd("submitfail");
	          }else if(data.msgCode == '612'){
	            self.failureReason="失败原因:玩玩超级大富翁吧，赚多点再来提现吧";
	            self.showMd("submitfail");
	          }else if(data.msgCode == '613'){
	            self.failureReason="失败原因:请参与超级大富翁才能提现";
	            self.showMd("submitfail");
	          }else{
	            self.failureReason="失败原因: code:" + data.msgCode;
	            self.showMd("submitfail");
	          }
          })
      },
			withDrawElse(pass){

			let self=this;
			let paymentType='';
			if(self.showMenu==2){
				paymentType="alipay";
			}else if(self.showMenu==3){
				paymentType="wechat";
			}
        		self.pswMistake=false;
			    withDraw({paymentType:paymentType,amount:self.amount,password:MD_5.hex_md5(pass),token:self.user.token}).then((data)=>{
			    	self.closeMd("passWord");
					  if(data.msgCode=="200"){
						self.draw.record--;
						self.showMd("submitSuccess");
					  }else{
						  if(data.msgCode=="607"){///密码错误
			            self.pswMistake=true;
			            self.failureReason="失败原因:"+data.msgNote;
			            self.showMd("submitfail");
			          }else {
			            self.failureReason="失败原因:"+data.msgNote;
			            self.showMd("submitfail");
			          }

				     }
			    })
			},
			submitSuccess(){
				this.$router.replace('/balanceDetailed');
			},
			clearNoNum: function (obj) {
              	  this.amount = obj.replace(/[^\d.]/g,"");  //清除“数字”和“.”以外的字符
             	  this.amount = obj.replace(/\.{2,}/g,"."); //只保留第一个. 清除多余的
       			 this.amount = obj.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
       			 this.amount = obj.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3');//只能输入两个小数
           },

			videoCourseShow(){
				document.getElementById('videoCourse').play();
				this.videoCourse.show = true;
				this.closeMd("failBoot");
        this.closeMd('noWXcode');

			},
      paymentUpload() {//上传图片

        let _file = document.getElementById("file").files[0];
        var size=_file.size/1024;

        if(size>=500){

          Toast({ message: '您选择的图片不是收款码', duration: 5500});
          return;
        }else{
          Indicator.open();
        }

        let formData = new FormData();
        let self = this;
        formData.append("file", _file);
        formData.append("paymentType", "wechat");
        formData.append("token",this.user.token);
        paymentUpload(formData).then((data)=>{
        	if(data.msgCode == 200) {
            Indicator.close();
            Toast({ message: '上传成功', duration: 1500, iconClass: 'ic-toast-success' });

            self.testMsg="更新微信收款码";
            self.havaWx=true;
            self.codeImg = data.paymentImage;
            self.closeMd('noWXcode');

          }else{
            Indicator.close();
            Toast({ message: ''+data.msgNote, duration: 1500 });
          }
        })
      },

		}
	}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
	@import "../../assets/sass/draw/draw.scss";
</style>
