<template>
  <div class="flex-wrap">
    <div class="header">
      <div class="ic_white_left" @click="$router.go(-1)"></div>
      <span class="title">找回密码</span>
    </div>
    <div class="content flex-con-1">
      <div class="scroll">
        <ul class="barBox flex-wrap">
          <li class="barItem active"></li>
          <li class="line active"><div class="tips">1.获取验证码</div></li>
          <li class="barItem" :class="{'active':step>=1}"></li>
          <li class="line" :class="{'active':step>=2}"><div class="tips">2.设置新的安全密码</div></li>
          <li class="barItem" :class="{'active':step>2}"></li>
        </ul>
        <div class="kd-hint"v-if="step==1">为确保您的帐户资金安全，请输入正确的验证码</div>
        <!--绑定手机好-->
        <bindPhone v-if="step==1" :userPhone="recievePhone" v-on:verifyCode="recieveverifyCode"></bindPhone>
        <!--设置秘钥-->
        <setPassword v-if="step>=2" v-on:password="psw" v-on:againPassword="agPsw"></setPassword>
        <input type="button" class="next" value="下一步" @click="nextTap" v-if="step==1">
        <input type="button" class="next" value="确定" @click="confirm" v-if="step>=2">
      </div>
    </div>
  </div>
</template>

<script>
  import mixin from '@/assets/js/mixin';
  import common from '@/assets/js/common'
  import MD_5 from '@/assets/js/MD_5'
  import { Toast,Indicator } from 'mint-ui'
  import { checkVerifyCode,checkphonePass,findPhoneBand } from "../../fetch/index";
  import bindPhone from '@/components/draw/bindPhone';
  import setPassword from '@/components/draw/setPassword';
  export default{
    mixins:[mixin],
    components:{
        'bindPhone':bindPhone,
        'setPassword':setPassword,
    },
    data(){
      return{
        headerMag:{
          title:'重新获取秘钥',
          rightMsg: '',
          rightUrl: '',
          backColor:false,
        },
        recievePhone:'',
        phoneNum:'',
        verifyCode:'',
        password:'',
        againPassword:'',
        step:1,
        //user: this.$store.getters.getUserInfo,
        cashList : '',
        ps:'',
      }
    },
    created(){
      let self = this;
        findPhoneBand({token:this.user.token}).then((res)=>{
            if(res.msgCode=='200'){
                self.recievePhone=res.phone;
            }else {
                Toast('手机号获取失败')
            }
        });
    },
    methods:{
      confirm:function () {
        let self = this;
        if(self.password==""||self.password==null||self.password==undefined){
          Toast('请输入秘钥')
        }else if(self.againPassword==""||self.againPassword==null||self.againPassword==undefined){
          Toast('请再次输入秘钥')
        }else {
            checkphonePass({ phonePass: MD_5.hex_md5(self.password),phonePassAgain: MD_5.hex_md5(self.againPassword),token:this.user.token}).then((res)=>{
                if(res.msgCode=='200'){
                    self.step=3;
                    Toast({ message: '设置成功', duration: 1500, iconClass: 'ic-toast-success' });
                    setTimeout(function () {
                        self.$router.replace("/draw/4");
                    },2000);
                }else if(res.msgCode=='600'){
                    Toast('秘钥不一致！请重新输入')
                }
            })
        }
      },
      recieveverifyCode:function (verifyCode) {
        this.verifyCode=verifyCode;
      },
      psw:function (password) {
        this.password=password;
      },
      agPsw:function (agPsw) {
        this.againPassword=agPsw;
      },
      complete:function () {
        let self = this;
        self.ps=1;
        Toast({ message: '设置成功', duration: 1500, iconClass: 'ic-toast-success' });
        setTimeout(function () {
          self.$router.push("/draw/4");
        },2000);

      },
      nextTap:function () {
        let self = this;
        if(self.step==1){

          if(self.verifyCode==null||self.verifyCode==""||self.verifyCode==undefined){
              Toast('请输入验证码')
          }else {
              checkVerifyCode({ verifyCode:self.verifyCode,token:this.user.token}).then((res)=>{
                  if(res.msgCode=='200'){
                      self.step=2;
                  }else if(res.msgCode=='600'){
                      Toast('验证码过期')
                  }else if(res.msgCode=='601'){
                      Toast('验证码不正确')
                  }else {
                      Toast('服务器异常');
                  }
              });
          }

        }
      },
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import "../../assets/sass/draw/findPassword.scss";
</style>

