<template>
    <div class="flex-wrap main">
       <div class="header">
    		<div class="ic_white_left" @click="$router.go(-1)"></div>
        	<span class="title">常见问题</span>
            
        </div>
        <scroll class="wrapper" :probeType="probeType" :listenScroll="listenScroll" ref="scroll">
            <div class="content">
            	<div class="listBox" @click="dianji(item)" v-for="item in listBox">
            		<div class="list flex-wrap flex-center">
            			<div class="listL flex-wrap flex-center">
            				<div class="dot"></div>
            				<div class="title">{{item.title}}</div>
            			</div>
            			<div class="listR1" v-show="item.active"></div>
            			<div class="listR2" v-show="!item.active"></div>
            		</div>
            		<div class="listCont"  v-show="item.active">{{item.content}}</div>
            	</div>
            	<input type="button" value="联系客服" class="redBtn"/>
            </div>
        </scroll>
        
    </div>
</template>

<script>
    import config from '@/config';
    import common from '@/assets/js/common';
    import mixin from '@/assets/js/mixin';
    import scroll from '@/components/scroll';
    import footer from '@/components/vFoot';
    export default {
        mixins: [mixin],
        components: {//注册组件
            'scroll': scroll,
            'vfooter':footer,
        },
        data() {
            return {
                md: {
                    mask: false,
                },
                manShow:false,
				listBox:[
				    {title:'“急速大脑”怎么玩？',active:false,content:'你可以设置一个带奖励金额的记忆挑战，好友须1秒内选中所有的卡片，挑战成功后即可获得现金红包奖励。'},
				    {title:'我支付了但是没有发出去？',active:false,content:'你可以设置一个带奖励金额的记忆挑战，好友须1秒内选中所有的卡片，挑战成功后即可获得现金红包奖励。'},
				    {title:'未领取的金额如何处理？',active:false,content:'你可以设置一个带奖励金额的记忆挑战，好友须1秒内选中所有的卡片，挑战成功后即可获得现金红包奖励。'},
				    {title:'好友转发我的记忆挑战可以加入挑战吗？',active:false,content:'你可以设置一个带奖励金额的记忆挑战，好友须1秒内选中所有的卡片，挑战成功后即可获得现金红包奖励。'},
				    {title:'提现会收手续费吗？多久到账？',active:false,content:'你可以设置一个带奖励金额的记忆挑战，好友须1秒内选中所有的卡片，挑战成功后即可获得现金红包奖励。'},

				]

            }
        },
        created() {

        },
        computed: {},
        mounted() {

        },
        methods: {
        	dianji(item){
        	    item.active=!item.active;
        	},
        	
        },
        filters: {},

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import '../../assets/sass/home/commonProblem.scss';
</style>