<template>
    <div class="flex-wrap main">
    	<div class="header">
    		<div class="ic_white_left" @click="$router.push('/')"></div>
        	<span class="title">好友试炼</span>
            <span class="rightT" @click="$router.push('/myChallenge')">试炼记录 </span>
        </div>
        <scroll class="wrapper" :probeType="probeType" :listenScroll="listenScroll" ref="scroll">
            <div class="content">
            	<div class="shilianPic"></div>
            	<div class="text1">好友试炼</div>
            	<div class="text2">活动加奖 <span class="red">最高+20%</span></div>
            	<div class="text3">设置一个带奖励金额的记忆试炼，好友在限定时间内选中所有的卡片，即试炼成功并获得奖励,如未通过试炼，金额将退回你的账户。<span class="yellow">详细规则</span></div>
                <div class="box">
                    <div class="level flex-wrap flex-center">
                        <div class="title">记忆难度</div>
                        <ul class="flex-wrap">
                            <li @click="tab(item,index)" :class="{'active':item.active}" v-for="(item,index) in getListData.list">{{item.configName}}</li>
                        </ul>
                    </div>
                    <div class="reward flex-wrap flex-center">
                        <div class="title">打赏</div>
                        <ul class="flex-wrap huan" v-show="!setPrice">
                            <li @click="changePrice(2)" :class="{'active':price==2}">2</li>
                            <li @click="changePrice(10)" :class="{'active':price==10}">10</li>
                            <li @click="changePrice(50)" :class="{'active':price==50}">50</li>
                            <li @click="changePrice(100)" :class="{'active':price==100}">100</li>
                            
                            <li @click="openPrice">其他</li>
                        </ul>
                        <input type="number" placeholder="输入打赏金额" class="rewardNum" v-show="setPrice" v-model="price">
                    </div>
                    <div class="num flex-wrap flex-center">
                        <div class="title">数量</div>
                        <input  placeholder="输入打赏个数" type="number" class="rewardNum" v-model="rewardNum" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                    </div>
                    <div class="tips">好友通过试炼将<span class="redd">加奖20%</span></div>
                    <!--<div class="state">
                        <span @click="showMd('tip')">玩法介绍</span>
                        <span @click="play">快速试玩</span>
                    </div>-->
                </div>
                <!--<div class="section">
                    <ul class="flex-wrap">
                        <li @click="$router.push('/myTeam')"><i class="ic_more_game"></i><span>多人游戏</span><i class="ic_arrow_right"></i></li>
                        <li @click="$router.push('/challengeRound')"><i class="ic_rank1"></i><span>排行榜</span><i class="ic_arrow_right"></i></li>
                        <li @click="$router.push('/myChallenge')"><i class="ic_history"></i><span>挑战记录</span><i class="ic_arrow_right"></i></li>
                    </ul>
                </div>-->
            </div>
            <div class="start-game" @click="shiL()">
                邀请试炼
            </div>
        </scroll>
        
        <!--弹窗-->
        <div class="md-mask" :class="{'active': md.mask}"></div>
        <tip :isShow="md.tip" @close="closeMd('tip')"></tip>

    </div>
</template>

<script>
    import config from '@/config';
    import common from '@/assets/js/common';
    import mixin from '@/assets/js/mixin';
    import scroll from '@/components/scroll';
    import tip from '@/components/home/tip';
    import {logins,getConfigList,submit,launch} from "../../fetch/index";
    import {Toast } from 'mint-ui';
    export default {
        mixins:[mixin],
        components: {//注册组件
            'scroll':scroll,
            'tip':tip,
        },
        data() {
          return {
              md:{
                  mask:false,
                  tip:false,
              },
              getListData:'',
              configNo:'',
              price:2,
              setPrice:false,
              rewardNum:"",
              fromPath:"",
          }
        },
        created(){

        },
        beforeRouteEnter(to, from, next){
        	let self=this;
			next(vm => {
				vm.fromPath=from.path;
			})
		},
        activated(){
            // let obj={
            //     p:11,
            //     k:22
            // };
            // obj=JSON.stringify(obj)
            // setTimeout(function () {
            //    wx.miniProgram.navigateTo({url: '/pages/share/share?user='+obj});
            // },2000)

            this.main();
        },
        mounted(){

        },
        methods:{
           changeConfigNo(msg){
           	    this.configNo=msg;
           },
           main(){
               getConfigList({configType:'J',token:this.user.token}).then((res)=>{
                   if(res.msgCode=="200") {//难度列表
                      this.getListData=res;
                      this.configNo=res.list[0].configNo;
                      
                      let curentIndex=localStorage.getItem('curentIndex');
                      this.getListData.list.map((res1,index)=>{
                          if(curentIndex){
                              curentIndex==index ? res1.active=true : res1.active=false;
                              this.configNo=this.getListData.list[curentIndex].configNo;
                          }else {
                             index==0 ? res1.active=true : res1.active=false;
                              this.configNo=this.getListData.list[0].configNo;
                          }
                      });

                   }
               })
           },
           tab(item,index){
           	   this.configNo=item.configNo;
               let self=this;
               for(var i=0;i<self.getListData.list.length;i++){
                   self.getListData.list[i].active=false;
               }
               item.active=true;
               localStorage.setItem('curentIndex',index);
               self.configNo=item.configNo;
               self.$set(self.getListData.list,index,self.getListData.list[index]);
           },
            play(){
               localStorage.setItem('configNo',this.configNo);
               this.$router.push('/tryPlay');
            },
            openPrice(){
            	this.setPrice=true;
            },
            changePrice(num){
            	this.price=num;
            },
            
            shiL(){
            	if(this.rewardNum==""){
            		Toast("打赏个数不能为空");
            	}else{
            		this.launch();
            	}
            },
            
            submit(){
               let bussinessData='{"configNo":'+this.configNo+',"rewardNum":'+this.rewardNum+'}'
               submit({userCode:this.user.userCode,payMethod:"alipay",orderType:"JSDNL",amount:this.price,returnUrl:"sdasds",bussinessData:bussinessData,token:this.user.token}).then((res)=>{
                   if(res.msgCode=="200") {
                      
                   }
               })
           },
           launch(){
           	
           	   launch({businessNo:"launch",configNo:this.configNo,rewardNum:this.rewardNum,rewardMoney:this.price,token:this.user.token}).then((res)=>{
                   if(res.msgCode=="200") {
                      this.$router.push('friendChallenge/'+res.t.launchNo);
                   }else{
                   	  Toast(res.msgNote);
                   }
               })
           }
           

        },
      filters:{

      },

  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import '../../assets/sass/home/friendTrial.scss';
</style>