<template>
    <div class="flex-wrap main">
        <div class="header">
            <div class="ic_white_left" @click="$router.go(-1)"></div>
            <span class="title">好友试炼</span>
            <span class="rightT" @click="showMd('tip')">游戏规则</span>
        </div>
        <scroll class="wrapper" :probeType="probeType" :listenScroll="listenScroll" ref="scroll" v-if="getPlayData">
            <div class="content">
                <div class="headerBox flex-wrap flex-center">
                    <div class="left flex-wrap flex-center">
                        <img :src="getPlayData.t.userImage" alt="">
                        <div class="info">
                            <p>{{getPlayData.t.userName}}</p>
                            <p>发起的记忆挑战</p>
                        </div>
                    </div>
                    <div class="right">
                        <p style="line-height: 24px">{{getPlayData.t.rewardMoney/100}}元/{{getPlayData.t.rewardNum}}包</p>
                        <p style="color: #fa3439;font-size: 14px">奖励额外+20%</p>
                    </div>
                </div>
                <!--游戏-->
                <memory ref="memory" @success="success" @fail="fail" :isChallenge="isChallenge" :isStart="isStart" :arrayNum="getPlayData.t.conifgVo.config.allNumx"></memory>
                <!--end-->
                <div class="tip">提示：感觉去寻找藏起来的福利吧~</div>
                <leftTime ref="leftTime" @fail="fail" :isStart="!showInfo" :changeColor="true"></leftTime>
                <div class="start-game" @click="start" v-if="showInfo">
                    <span>开始试炼</span>
                </div>
            </div>
        </scroll>

        <div class="md-mask" :class="{'active': md.mask}" @click="closeAllMd(md)"></div>
        <!--领取奖励-->
        <challengeSuccess :isShow="md.challengeSuccess" @open="open"></challengeSuccess>
        <!--开出红包-->
        <openRedpack :isShow="md.openRedpack" :amount="amount" :getPlayData="getPlayData" @challengeDetail="challengeDetail"></openRedpack>
        <!--游戏规则-->
        <tip :isShow="md.tip" @close="closeMd('tip')"></tip>

        <!--挑战成功-->
        <toReward :isShow="md.toReward" @close="closeMd('toReward')" @getReward="getReward"></toReward>
        <!--挑战失败-->
        <challengeFail :isShow="md.challengeFail" @close="closeMd('challengeFail')"></challengeFail>
    </div>
</template>

<script>
    import config from '@/config';
    import common from '@/assets/js/common';
    import mixin from '@/assets/js/mixin';
    import scroll from '@/components/scroll';
    import challengeSuccess from '@/components/home/challengeSuccess';
    import openRedpack from '@/components/home/openRedpack';
    import memory from '@/components/home/memory';
    import leftTime from '@/components/home/time';
    import tip from '@/components/home/tip';
     import toReward from '@/components/home/toReward';
    import challengeFail from '@/components/home/challengeFail';
    import {getQuestion,receiveAward} from "../../fetch/index";
    import {Toast,Indicator } from 'mint-ui';
    export default {
        mixins: [mixin],
        components: {//注册组件
            'scroll': scroll,
            'challengeSuccess': challengeSuccess,
            'openRedpack': openRedpack,
            'memory': memory,
            'leftTime':leftTime,
            'tip':tip,
             'toReward':toReward,
            'challengeFail':challengeFail,
        },
        data() {
            return {
                md: {
                    mask: false,
                    challengeSuccess: false,
                    openRedpack: false,
                    tip: false,
                    toReward:false,
                    challengeFail:false
                },
                arrayNum:5,
                isDefault:true,
                startRotate:false,//是否开始旋转
                chooseError:false,//选择错误
                isChallenge:false,
                isStart:false,//是否开始
                getPlayData:'',
                score:'0',
                //tip:'每过5关大概率额外获得金币奖励哦~',
                endScore:'',
                startChallenge:true,
                showInfo:true,
                launchNo:this.$route.params.launchNo,
                amount:''
            }
        },
        created() {

        },
        computed: {},
        mounted() {
            this.$store.state.listData=[];
            this.$store.state.redpackPos=[];

            this.question(this.launchNo);


        },
        methods: {
            start(){
                this.isStart=true;
                this.showInfo=false;
                this.forwardDirection();
                this.backDirection();
                this.$refs.leftTime.timer();
            },
            question(launchNo){
                //launchNo ? this.showInfo=true : this.showInfo=false;
                return new Promise((resolve,reject)=>{
                    getQuestion({businessNo:'launch',launchNo:launchNo,token:this.user.token}).then((res)=>{
                        if(res.msgCode=='200'){
                            resolve();
                            Indicator.close();
                            this.getPlayData=res;
                            this.$store.state.redpackPos=res.t.conifgVo.answerList;
                            this.$store.state.time=res.t.conifgVo.config.configSecond;
                            //conifgVo.config.allNumx
                            for(var i=1;i<=res.t.conifgVo.config.allNumx;i++){
                                for(var j=1;j<=res.t.conifgVo.config.allNumy;j++){
                                    let xy=j.toString()+i.toString();
                                    let obj={value:xy};
                                    this.$store.state.listData.push(obj);
                                }
                            }
                            for(var z=0;z<this.$store.state.listData.length;z++){
                                this.$store.state.listData[z].startActive=false;//是否开始旋转
                                this.$store.state.listData[z].endActive=false;//是否翻转
                                this.$store.state.listData[z].errorActive=false;//是否选择错误
                                this.$store.state.listData[z].isDefault=true;//是否默认
                            }
                        }else if(res.msgCode=='603'){
                            this.$router.push('/redResults/'+this.launchNo);
                        }else {
                            Toast(res.msgNote)
                        }
                    })
                });

            },
            success(leftNum){//挑战成功
                this.$store.state.findNum=this.$store.state.redpackPos.length-leftNum;
                if(leftNum==0){
                    clearInterval(this.$store.state.timers);
                    //this.showMd('challengeSuccess');
                    this.showMd('toReward');
                }
            },
            fail(){//挑战失败
                //Toast('挑战失败');
                this.showMd('challengeFail');
                this.isStart=false;
                clearInterval(this.$store.state.timers);
                setTimeout(()=>{
                    this.forwardDirection();
                },1000);
            },
            getReward(){//领取奖励
                this.closeMd('toReward');
                this.showMd('challengeSuccess');
                receiveAward({businessNo:'launch',launchNo:this.getPlayData.t.launchNo,time:'1',token:this.user.token}).then((res)=>{
                    if(res.msgCode=='200'){
                        this.amount=res.amount;
                    }else {
                        Toast(res.msgNote);
                    }
                })
            },
            open(){
                this.closeMd('challengeSuccess');
                this.showMd('openRedpack');
            },
            challengeDetail(){
                this.$router.push('/redResults/'+this.getPlayData.t.launchNo);
            }
        },
        filters: {},

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import '../../assets/sass/home/friendChallenge.scss';
</style>