<template>
    <div class="flex-wrap main">
        <scroll class="wrapper" :probeType="probeType" :listenScroll="listenScroll" ref="scroll">
            <div class="content">
                <div class="box">
                    <div class="level">
                        <div class="title">记忆难度</div>
                        <ul class="flex-wrap">
                            <li @click="tab(item,index)" :class="{'active':item.active}" v-for="(item,index) in getListData.list">{{item.configName}}</li>
                        </ul>
                    </div>
                    <div class="reward">
                        <div class="title">打赏</div>
                        <ul class="flex-wrap" v-show="!setPrice">
                            <li @click="changePrice(1)" :class="{'active':price==1}">1</li>
                            <li @click="changePrice(10)" :class="{'active':price==10}">10</li>
                            <li @click="changePrice(50)" :class="{'active':price==50}">50</li>
                            <li @click="changePrice(100)" :class="{'active':price==100}">100</li>
                            <li @click="openPrice">其他</li>
                        </ul>
                        <input type="text" placeholder="输入打赏金额" class="rewardNum" v-show="setPrice" v-model="price">
                    </div>
                    <div class="num">
                        <div class="title">数量</div>
                        <input type="text" placeholder="输入打赏个数" class="rewardNum">
                    </div>
                    <div class="start-game">
                        <span>开始挑战</span>
                    </div>
                    <div class="state">
                        <span @click="showMd('tip')">玩法介绍</span>
                        <span @click="play">快速试玩</span>
                    </div>
                </div>
                <div class="section">
                    <ul class="flex-wrap">
                        <li @click="$router.push('/myTeam')"><i class="ic_more_game"></i><span>多人游戏</span><i class="ic_arrow_right"></i></li>
                        <li @click="$router.push('/challengeRound')"><i class="ic_rank1"></i><span>排行榜</span><i class="ic_arrow_right"></i></li>
                        <li @click="$router.push('/myChallenge')"><i class="ic_history"></i><span>挑战记录</span><i class="ic_arrow_right"></i></li>
                    </ul>
                </div>
            </div>
        </scroll>
        <vfoot></vfoot>
        <!--弹窗-->
        <div class="md-mask" :class="{'active': md.mask}"></div>
        <tip :isShow="md.tip" @close="closeMd('tip')"></tip>

    </div>
</template>

<script>
    import config from '@/config';
    import common from '@/assets/js/common';
    import mixin from '@/assets/js/mixin';
    import scroll from '@/components/scroll';
    import tip from '@/components/home/tip';
    import {logins,getConfigList} from "../../fetch/index";

    export default {
        mixins:[mixin],
        components: {//注册组件
            'scroll':scroll,
            'tip':tip,
        },
        data() {
          return {
              md:{
                  mask:false,
                  tip:false,
              },
              getListData:'',
              configNo:'',
              price:"",
              setPrice:false,
          }
        },
        created(){

        },
        activated(){
            logins({openId:"123456",loginType:6}).then((res)=>{
                if(res.msgCode=="200"){//房间信息
                    common.setJsonLocal('user',res);
                    this.user=res;
                    this.main();
                }
            });
        },
        mounted(){

        },
        methods:{
           main(){
               getConfigList({configType:'J',token:this.user.token}).then((res)=>{
                   if(res.msgCode=="200") {//难度列表
                      this.getListData=res;
                      let curentIndex=localStorage.getItem('curentIndex');
                      this.getListData.list.map((res1,index)=>{
                          if(curentIndex){
                              curentIndex==index ? res1.active=true : res1.active=false;
                              this.configNo=this.getListData.list[curentIndex].configNo;
                          }else {
                             index==0 ? res1.active=true : res1.active=false;
                              this.configNo=this.getListData.list[0].configNo;
                          }
                      });

                   }
               })
           },
           tab(item,index){
               let self=this;
               for(var i=0;i<self.getListData.list.length;i++){
                   self.getListData.list[i].active=false;
               }
               item.active=true;
               localStorage.setItem('curentIndex',index);
               self.configNo=item.configNo;
               self.$set(self.getListData.list,index,self.getListData.list[index]);
           },
            play(){
               localStorage.setItem('configNo',this.configNo);
               this.$router.push('/tryPlay');
            },
            openPrice(){
            	this.setPrice=true;
            },
            changePrice(num){
            	this.price=num;
            }
        },
      filters:{

      },

  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import '../../assets/sass/home/home.scss';
</style>