<template>
    <div class="flex-wrap main">
        <scroll class="wrapper" :probeType="probeType" :listenScroll="listenScroll" ref="scroll">
            <div class="content">
                <div class="topRed">
                	<div class="userPic"></div>
					<img :src="user.userImage" alt="" class="userPic" @click="$router.push('/myPerson')">
                	<div class="userName">{{user.alias}}</div>
                	<div class="nextMenu flex-wrap flex-center">
                		<div class="nextMenuL" @click="showMd('recharge')">
                			<div class="nextMenuL1 flex-wrap flex-center"><div class="nextMenuL1Pic"></div>金币</div>
                			<div class="nextMenuL2">{{user.syceeTotal}}</div>
                		</div>
                		<div class="nextMenuR" @click="$router.push('/challengeRound')">
                			<div class="nextMenuR1 flex-wrap flex-center"><div class="nextMenuR1Pic"></div>排行</div>
                			<div class="nextMenuR2">100+</div>
                		</div>
                	</div>
                </div>
                <div class="guangg" @click="$router.push('/playGame')"><div class="floatBtn flex-wrap flex-center"><div class="jinbi"></div>100</div></div>
                <div class="whiteMenu flex-wrap flex-center">
                	<div class="whiteMenuL flex-wrap flex-center">
                		<div class="whiteMenuLPic"></div>
                		<div class="whiteMenuLT">
                			<div class="whiteMenuLT1">复活卡</div>
                			<div class="whiteMenuLT2">{{reviveCard}}</div>
                		</div>
                	</div> 
                	<div class="whiteMenuR flex-wrap flex-center" @click="$router.push('/friendTrial')">
                		<div class="whiteMenuRPic"></div>
                		<div class="whiteMenuRT">
                			<div class="whiteMenuRT1">好友试炼</div>
                			<div class="whiteMenuRT2">加奖+20%</div>
                		</div>
                	</div>
                </div>
                <div class="qianDiv flex-wrap flex-center">
                	<div class="qianL flex-wrap flex-center">
                		<div class="qianLRed"></div>
                		每日任务
                	</div>
                	<!--<div class="qianR">签到</div>-->
                </div>
                <!--<div class="comDiv flex-wrap flex-center">-->
                	<!--<div class="comDivL">分享领复活卡</div>-->
                	<!--<div class="comDivR flex-wrap flex-center">-->
                		<!--<div class="comDivRPic"></div>-->
                		<!--x1-->
                	<!--</div>-->
                <!--</div>-->
                <div class="comDiv flex-wrap flex-center" @click="$router.push('/friendTrial')">
                	<div class="comDivL">发起好友试炼</div>
                	<div class="comDivR flex-wrap flex-center">
                		<div class="comDivRPic2"></div>
                		x1
                	</div>
                </div>
            </div>
        </scroll>
        <vfoot></vfoot>
        <!--弹窗-->
        <div class="md-mask" :class="{'active': md.mask}"></div>
        <!--充值-->
        <div class="md-modal md-effect-1 recharge" :class="{'md-show':md.recharge}">
	        <div class="md-content">
	        	<div class="close ic_close_hui" @click="closeMd('recharge')"></div>
                <div class="title">获取金币</div>
                <div class="payTips">选择购买数量</div>
                <div class="box flex-wrap">
                	<div class="list choose">
                		<p class="listJinbi">10,000金币</p>
                		<p class="listPrice">10元</p>
                	</div>
                	<div class="list">
                		<p class="listJinbi">10,000金币</p>
                		<p class="listPrice">10元</p>
                	</div>
                	<div class="list">
                		<p class="listJinbi">10,000金币</p>
                		<p class="listPrice">10元</p>
                	</div>
                	<div class="list">
                		<p class="listJinbi">10,000金币</p>
                		<p class="listPrice">10元</p>
                	</div>
                </div>
                <div class="nextDiv flex-wrap flex-center" @click="$router.push('')">
                	<div class="nextL flex-wrap flex-center">
                		<div class="jinbi"></div>
                		<div class="nextLT">我的金币：200</div>
                	</div>
                	<div class="nextR flex-wrap flex-center">
                		查看明细
                		<div class="ic_hui_right"></div>
                	</div>
                </div>
                <input type="button" class="redBtn" value="立即支付"/>
	        </div>
        </div>

		<div class="md-modal md-effect-1 wxLoginCommand" :class="{ 'md-show': md.wxLoginCommand}">
			<div class="md-content">
				<div class="wxLoginConcent">
					<div class="wxLogin_text">恭喜您获得一个现金红包</div>
					<div class="wxLogin_text1">随时可提现到微信零钱</div>
					<div class="userSuggest">登录即视为同意并遵循 <em>《用户协议》</em></div>
					<div class="wxBtn"><input type="button" id="wxLoginBtn" @click="goLogin()" value="使用微信一键登录" /></div>
				</div>
				<!--<i class="ic-close-white" @click="closeMd('wxLoginCommand')"></i>-->
			</div>
		</div>
		<input type="file" name="file" class="upload__input" @change="uploadChange" accept="image/png,image/gif">
		<div class="imgSrc">
			<span style="white-space:pre;"> </span><img :src="imgDataUrl" >
		</div>
	</div>
</template>

<script>
    import config from '@/config';
    import common from '@/assets/js/common';
    import mixin from '@/assets/js/mixin';
    import sdk from '@/assets/js/sdk';
    import scroll from '@/components/scroll';
    import tip from '@/components/home/tip';
    import {logins,personalInfo} from "../../fetch/index";
    import {Toast,Indicator } from 'mint-ui';
    export default {
        mixins:[mixin,sdk],
        components: {//注册组件
            'scroll':scroll,
            'tip':tip,
        },
        data() {
          return {
              md:{
                  mask:false,
                  recharge:false,
                  wxLoginCommand:false,
              },
              getListData:'',
              configNo:'',
              price:"",
              setPrice:false,
              reviveCard:"",
              imgDataUrl:''
          }
        },
        created(){


        },
        activated() {

            let openId;
            //openId = common.getUrlParam('openId');
			openId=localStorage.getItem('openid');
            switch (config.start.isTest) {
                case 0 :
                    if(openId){
                        //localStorage.setItem('openId',openId);
                        this.login(openId);
					}else {
                        // localStorage.getItem('openId');
                        // this.login(openId);
						this.showMd('wxLoginCommand');
                    }
                    break;
                case 1 :
                    openId = config.start.testOpenId;
                    this.login(openId);
                    break;
                case 2 :
                    openId = config.start.officialOpenId;
                    this.login(openId);
                    break;
            }

        },
        mounted(){
           
        },
        methods:{
            uploadChange(event){
                if(event.target.files.length>0){
                    this.files = event.target.files[0];  //提交的图片
                    this.getBase64(event.target,(url)=>{
                        this.imgDataUrl = 'data:image/png;base64,'+url;   //显示的图片
                    });
                }

            },
            login(openId){
                logins({openId: openId, loginType: 2}).then((res) => {
                    if (res.msgCode == "200") {//房间信息
                        common.setJsonLocal('user', res);
                        this.user = res;
                        this.personalInfo();
                    }else {
                        Toast(res.msgNote)
                    }
                })
			},
           personalInfo(){
           	personalInfo({token:this.user.token}).then((res)=>{
                   if(res.msgCode=="200") {
                    if(res.t){
                        this.reviveCard=res.t.reviveCard;
                        localStorage.setItem('reviveCard',res.t.reviveCard);
                        this.$store.state.todayLevel=res.t.score;
					}
                   }else{
                   	  Toast(res.msgNote);
                   }
               })
           },
            goLogin(){
                this.closeMd('wxLoginCommand');
                Indicator.open({
                    text: '登录中...',
                    spinnerType: 'fading-circle'
                });
                this.wxLogin();

			},
            getBase64 : function(file,callback){
                var maxWidth = 640;
                if(file.files && file.files[0]){
                    var thisFile = file.files[0];
                    if(thisFile.size>2019200){
                        // mualert.alertBox("图片不能超过800K");
                        alert("图片不能超过2M");
                        return
                    };
                    var reader = new FileReader();
                    reader.onload = function(event){
                        var imgUrl = event.target.result;
                        var img = new Image();
                        img.onload = function(){
                            var canvasId = 'canvasBase64Imgid',
                                canvas = document.getElementById(canvasId);
                            if(canvas!=null){document.body.removeChild(canvas);}
                            var canvas = document.createElement("canvas");
                            canvas.innerHTML = 'New Canvas';
                            canvas.setAttribute("id", canvasId);
                            canvas.style.display='none';
                            document.body.appendChild(canvas);
                            canvas.width = this.width;
                            canvas.height = this.height;
                            var imageWidth = this.width,
                                imageHeight = this.height;
                            if (this.width > maxWidth){
                                imageWidth = maxWidth;
                                imageHeight = this.height * maxWidth/this.width;
                                canvas.width = imageWidth;
                                canvas.height = imageHeight;
                            }
                            var context = canvas.getContext('2d');
                            context.clearRect(0, 0, imageWidth, imageHeight);
                            context.drawImage(this, 0, 0, imageWidth, imageHeight);
                            var base64 = canvas.toDataURL('image/png',1);
                            var imgbase = base64.substr(22);
                            callback(imgbase)
                            //this.imgUrl =
                        }
                        img.src = imgUrl;
                    }
                    reader.readAsDataURL(file.files[0]);
                }
            },
        },
      filters:{

      },

  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import '../../assets/sass/home/home.scss';
</style>