<template>
    <div class="flex-wrap main">
        <div class="header">
    		<div class="ic_white_left" @click="$router.go(-1)"></div>
        	<span class="title">试练记录</span>
            
        </div>
        <div class="menu flex-wrap flex-center">
            <div class="menuDiv" :class="{'chooseMenu':menu==1}" @click="changeMenu(1)">我发起的</div>
            <div class="menuDiv" :class="{'chooseMenu':menu==2}" @click="changeMenu(2)">我参与的</div>
        </div>
        
        <scroll @scrollToEnd="scrollEnd" :pullup="true" class="wrapper" :probeType="probeType" :listenScroll="listenScroll" ref="scroll">
            <div class="content">
                
                
               <!-- 我发起的-->
                <div class="listBox" v-show="menu==1">
                	<div class="list flex-wrap flex-center" v-for="item in selectLaunchListData" @click="goto(item.launchNo)">
                		<div class="listL">
                			<div class="title">我发起的挑战</div>
                			<div class="time">{{item.createTime}}</div>
                		</div>
                		<div class="listR">
                			<div class="price">{{item.rewardMoney/100}}元</div>
                			<div class="state">已领取{{item.rewardNum-item.leftNum}}/{{item.rewardNum}}</div>
                		</div>
                	</div>
                	
                </div>
                
                
                <!-- 我参与的-->
                <div class="listBoxElse" v-show="menu==2">
                	<div class="list flex-wrap flex-center" v-for="item in joinListData" @click="goto(item.launchNo)">
                		<div class="listL flex-wrap flex-center">
                			<img :src="item.userImage" class="userPic">
                			<div class="listLR">
                				<div class="title">{{item.userName}}发起的挑战</div>
                				<div class="time">{{item.createTime}}</div>
                			</div>
                			
                		</div>
                		<div class="listR">{{item.amount/100}}元</div>
                	</div>

                </div>
                
                
                
            </div>
        </scroll>
        
        <!--弹窗-->
        <div class="md-mask" :class="{'active': md.mask}"></div>
        
        
        
    </div>
</template>

<script>
    import config from '@/config';
    import common from '@/assets/js/common';
    import mixin from '@/assets/js/mixin';
    import footer from '@/components/vFoot';
    import scroll from '@/components/scroll';
    import login from '@/components/login';
    import {selectLaunchList,joinList} from "../../fetch/index";
    import {Toast,Indicator} from 'mint-ui';
    export default {
        mixins:[mixin],
        components: {//注册组件
            'vfooter':footer,
            'scroll':scroll,
            'login':login
        },
        data() {
          return {
              md:{
                  mask:false,
                  
              },
              menu:1,
              selectLaunchListData:"",
              joinListData:"",
              page1:1,
              page2:1,
          }
        },
        created(){
            this.selectLaunchList(1,10);
        },
        computed: {
          
        },
        mounted(){

        },
        methods:{
          changeMenu(num){
          	 this.menu=num;
          },
          goto(msg){
          	this.$router.push("redResults/"+msg);
          },
          async selectLaunchList(currentPage,pageSize){
            	const res=await selectLaunchList({token:this.user.token,businessNo:"launch",currentPage:currentPage,pageSize:pageSize});
            	
            	
            	if(res.msgCode=="200"){
	                	if(this.page1==1){
	                		this.selectLaunchListData=res.list;
	                		this.joinList(1,10);
	                	}else{
	                		if(res.list!=""&&res.list!=null){
        					 this.selectLaunchListData=this.selectLaunchListData.concat(res.list);
        					
	        				}else{
	        					Toast("已经到底了");
	        				}
	                	}
	                   
	            }else{
	                	Toast(res.msgNote);
	            }
            	
            	
            	
          },
          async joinList(currentPage,pageSize){
            	const res=await joinList({token:this.user.token,businessNo:"launch",currentPage:currentPage,pageSize:pageSize});
            	
            	if(res.msgCode=="200"){
	                	if(this.page2==1){
	                		this.joinListData=res.list;
	                		
	                	}else{
	                		if(res.list!=""&&res.list!=null){
        					 this.joinListData=this.joinListData.concat(res.list);
        					
	        				}else{
	        					Toast("已经到底了");
	        				}
	                	}
	                   
	            }else{
	                	Toast(res.msgNote);
	            }
          },
          scrollEnd(){
          	if(this.menu==1){
          		this.page1++;
          		this.selectLaunchList(this.page1,10);
          	}else{
          		this.page2++;
          		this.joinList(this.page2,10);
          	}
          }
          
          
        },
        computed: {

        },
        filters:{

        },

  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import '../../assets/sass/home/myChallenge.scss';
</style>