<template>
    <div class="flex-wrap main">
        <div class="header">
    		<div class="ic_white_left" @click="$router.go(-1)"></div>
        	<span class="title">个人中心</span>
            
        </div>
        <scroll class="wrapper" :probeType="probeType" :listenScroll="listenScroll" ref="scroll">
            <div class="content">
               <div class="userBox flex-wrap flex-center" @click="$router.push('/personalMsg')">
               	   <div class="userLeft flex-wrap flex-center">
               	   	    <img :src="user.userImage" class="userPic"/>
               	   	    <div class="userLeftR">
               	   	    	<div class="userName">{{user.alias}}</div>
               	   	    	<div class="userCode">ID:{{user.userCode}}</div>
               	   	    </div>
               	   </div>
               	   <div class="ic_hui_right"></div>
               </div>
               <div class="textBox"><span>我的账户</span></div>
               <div class="menuBox flex-wrap flex-center">
               	 <div class="menuL">
               	 	<div class="text1">{{user.balance}}</div>
               	 	<div class="text2">账户余额(元)</div>
               	 </div>
               	 <div class="menuR">
               	 	 <div class="text1">{{user.syceeTotal}}</div>
               	 	<div class="text2">金币</div>
               	 </div>
               </div>
               <!--<div class="public mg flex-wrap flex-center">-->
               	    <!--<div class="publicT">收货地址</div>-->
               	    <!--<div class="ic_hui_right"></div>-->
               <!--</div>-->
               <!--<div class="public mg bord flex-wrap flex-center">-->
               	    <!--<div class="publicT">邀请好友领复活卡</div>-->
               	    <!--<div class="ic_hui_right"></div>-->
               <!--</div>-->
               <!--<div class="public flex-wrap flex-center">-->
               	    <!--<div class="publicT">邀请码</div>-->
               	    <!--<div class="ic_hui_right"></div>-->
               <!--</div>-->
               <!--<div class="public mg bord flex-wrap flex-center">-->
               	    <!--<div class="publicT">客服中心</div>-->
               	    <!--<div class="ic_hui_right"></div>-->
               <!--</div>-->
               <div class="public flex-wrap flex-center" style="margin-top: 1px" @click="$router.push('/personalMsg')">
               	    <div class="publicT">个人信息</div>
               	    <div class="ic_hui_right"></div>
               </div>
            </div>
            
        </scroll>
       
    </div>
</template>

<script>
    import config from '@/config';
    import common from '@/assets/js/common';
    import mixin from '@/assets/js/mixin';
    import scroll from '@/components/scroll';
    import footer from '@/components/vFoot';
    //import {myGroup} from "../../fetch/index";
    export default {
        mixins: [mixin],
        components: {//注册组件
            'scroll': scroll,
            'vfooter':footer,
        },
        data() {
            return {
                md: {
                    mask: false,
                },
                manShow:false,
                myGroupData:"",
                myGroupData2:"",
            }
        },
        created() {
            //this.myGroup();
        },
        computed: {},
        mounted() {

        },
        methods: {
        	async myGroup(){
            	const res=await myGroup({token:this.user.token});
            	this.myGroupData=res;
            	this.myGroupData2=res.data.myGroup;
            	
           },
        },
        filters: {},

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import '../../assets/sass/home/myPerson.scss';
</style>