<template>
    <div class="flex-wrap main">
        <div class="topBox">
	            	<div class="topBack flex-wrap flex-center">
	            		<div class="top1">
	            			<div class="top1T1">{{myGroupData2.groupName}}</div>
	            			<div class="top1T2">({{myGroupData2.nowPeople}}/{{myGroupData2.maxPeople}})</div>
	            		</div>
	            		<div class="top2">
	            			<div class="top2T1">今日总分</div>
	            			<div class="top2T2">{{myGroupData2.score}}</div>
	            		</div>
	            		<div class="top3">
	            			<div class="top3T1">团队排名</div>
	            			<div class="top3T2">{{myGroupData2.rank}}</div>
	            		</div>
	            	</div>
        </div>
        <div class="nextDiv flex-wrap flex-center">
            		<div class="next1">全服排名</div>
            		<div class="next2">团队成员</div>
            		<div class="next3">分数</div>
        </div>
        <scroll class="wrapper" :probeType="probeType" :listenScroll="listenScroll" ref="scroll">
            <div class="content">
            	
            	<div class="list flex-wrap flex-center" v-for="(item,index) in myGroupData.list">
            		<div class="list1">-</div>
            		<div class="list2 flex-wrap flex-center"">
            			<img :src="item.userImage" class="userPic">
            			<div class="userName">{{item.userName}}</div>
            		</div>
            		<div class="list3">{{item.score}}</div>
            		
            	</div>
                
            	
            	
            </div>
            
        </scroll>
        <div class="btnBox">
            	<input type="button" class="yaoqing" value="邀请好友"/>
            	<input type="button" class="tiaozhan" value="开始挑战" @click="$router.push('/playGame')"/>
        </div>
    </div>
</template>

<script>
    import config from '@/config';
    import common from '@/assets/js/common';
    import mixin from '@/assets/js/mixin';
    import scroll from '@/components/scroll';
    import footer from '@/components/vFoot';
    import {myGroup} from "../../fetch/index";
    export default {
        mixins: [mixin],
        components: {//注册组件
            'scroll': scroll,
            'vfooter':footer,
        },
        data() {
            return {
                md: {
                    mask: false,
                },
                manShow:false,
                myGroupData:"",
                myGroupData2:"",
            }
        },
        created() {
            this.myGroup();
        },
        computed: {},
        mounted() {

        },
        methods: {
        	async myGroup(){
            	const res=await myGroup({token:this.user.token});
            	this.myGroupData=res;
            	this.myGroupData2=res.data.myGroup;
            	
           },
        },
        filters: {},

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import '../../assets/sass/home/myTeam.scss';
</style>