<template>
  <div class="groupInfo flex-wrap">
    <div class="header">
      <i class="ic_white_left" @click="$router.go(-1)"></i>
      <span class="title">个人信息</span>
    </div>
    <div class="content flex-con-1 del_padding">
      <!--滚动内容--><!-- http://ws.wlwch.cn/user/login?openId=oJs9r03l9kZQ4sIJwJ8FvaxPEF7U&loginType=2 -->
      <div class="scroll">
        <div class="personal_wrap">
          <div class="flex-wrap flex-center">
            <span>头像</span>
            <img :src="personalMsg.userImage">
          </div>
          <div class="flex-wrap flex-center">
            <span>昵称</span>
            <span>{{personalMsg.alias}}</span>
          </div>
          <div class="flex-wrap flex-center">
            <span>ID号</span>
            <span>{{personalMsg.userCode}}</span>
          </div>
          <div class="flex-wrap flex-center">
            <span>性别</span>
            <span v-if="personalMsg.sex == '1'">男</span>
            <span v-else>女</span>
          </div>
          <div class="flex-wrap flex-center">
            <span>地区</span>
            <span>{{personalMsg.address}}</span>
          </div>
          <div class="flex-wrap flex-center">
            <span>手机号码
              <span class="bind-phone" v-if="user.userPhone">(已绑定)</span>
              <span v-else>(未绑定)</span>
            </span>
            <span v-if="user.userPhone">{{user.userPhone}}</span>
            <span v-else>无</span>
          </div>
          <!-- <div class="flex-wrap flex-center" @click='addressMes()'>
            <span>收货信息</span>
            <i class="ic-arrow-rg"></i>
          </div> -->
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import config from '@/config'
  import common from '@/assets/js/common'
  import {getPersonalInfo} from "../../fetch/index"
  import mixin from '@/assets/js/mixin';
  export default{
    mixins:[mixin],
    name: 'goodsAuction',
    data(){
      return{
        personalMsg:'',
      }
    },
    created(){
      let self=this;
        getPersonalInfo({token:this.user.token}).then((res)=>{
            if(res.msgCode==200){
                this.personalMsg=res;
            }else{

            }
        });
     },
    methods:{
      addressMes:function(){
        if(localStorage.getItem('addressMes') || localStorage.getItem('addressMsg')){
          this.$router.push('/oldAuction/addressMes')
        }
        else{
          this.$router.push('/oldAuction/editAddress')
        }
      },
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import "../../assets/sass/home/personalMsg.scss";
</style>
