<template>
    <div class="flex-wrap main">
    	<div class="header">
    		<div class="ic_white_left" @click="goto()"></div>
        	<span class="title">挑战详情</span>
            <!--<span class="rightT" @click="$router.push('')">试炼记录 </span>-->
        </div>
        <div class="topBack"></div>
        <img src="/static/images/home/userPic.png" class="userPic">
        <div class="userName">{{launchDetailDate.userName}}</div>
        <div class="gameType">发起的翻牌记忆挑战</div>
        <div class="redBtn flex-wrap flex-center" @click="gotoPlay()" v-show="launchDetailDate.receiveStatus=='P'&&!myState"><div class="bofang"></div>开始挑战</div>
          	
        <div class="geDiv" v-show="myState"></div>
        <div class="redBtn redH flex-wrap flex-center" v-show="launchDetailDate.receiveStatus=='S'&&!myState">来迟了，赏金已领完</div>
            	
        <div class="redBtn redH flex-wrap flex-center" v-show="launchDetailDate.receiveStatus=='F'&&!myState">来迟了，挑战已过期</div>
        <div class="price" v-show="myState">{{amount/100}} <span class="danWei">元</span></div>
        <div class="blue">赏金已存入钱包，可直接提现</div>
        <div class="nextDiv flex-wrap flex-center">
            <div class="nextMenu flex-wrap flex-center border" @click="$router.push('/wallet')"><div class="nextMenuL1"></div>去提现<div class="nextMenuR ic_arrow_right"></div></div>
            <div class="nextMenu flex-wrap flex-center border" @click="$router.push('/friendTrial')"><div class="nextMenuL2"></div>我也发一个<div class="nextMenuR ic_arrow_right"></div></div>
            <div class="nextMenu flex-wrap flex-center"><div class="nextMenuL3"></div>去转发<div class="nextMenuR ic_arrow_right"></div></div>
        </div>
        <div class="listHead">领取{{launchDetailDate.rewardNum-launchDetailDate.leftNum}}/{{launchDetailDate.rewardNum}}个红包，共{{launchDetailDate.rewardMoney/100}}元</div>
        <scroll class="wrapper" :probeType="probeType" :listenScroll="listenScroll" ref="scroll">
            <div class="content">
            	
            	<div class="listDiv flex-wrap flex-center" v-for="item in launchDetailDate.recordList">
            		<div class="listL flex-wrap flex-center">
            			<img :src="item.userImage" class="userPic"/>
            			<div class="listLR">
            				<div class="userName">{{item.userName}}</div>
            				<div class="time">{{item.createTime}}</div>
            			</div>
            		</div>
            		<div class="listR">
            			<div class="price">{{item.amount/100}}元</div>
            			<div class="ci">挑战{{item.num}}次</div>
            		</div>
            	</div>
            	
            	
            	<div class="tips">24小时内未被领取，红包金额将退回</div>
            </div>
        </scroll>
        
    </div>
</template>

<script>
    import config from '@/config';
    import common from '@/assets/js/common';
    import mixin from '@/assets/js/mixin';
    import scroll from '@/components/scroll';
    import footer from '@/components/vFoot';
    import {launchDetail} from "../../fetch/index";
    import {Toast} from 'mint-ui';
    export default {
        mixins: [mixin],
        components: {//注册组件
            'scroll': scroll,
            'vfooter':footer,
        },
        data() {
            return {
                md: {
                    mask: false,
                },
                launchNo:this.$route.params.launchNo,
                launchDetailDate:"",
                amount:"",
                myState:false,
                fromPath:"",
            }
        },
        created() {
            this.launchDetail();
        },
        computed: {},
        mounted() {
         
//        let self=this;
//        setTimeout(function(){
//        	console.log(self.fromPath);
//        },2000)
        },
        beforeRouteEnter(to, from, next){
        	let self=this;
			next(vm => {
				console.log(from.path);
				vm.fromPath=from.path;
			})
		},
        methods: {
        	async launchDetail(){
            	const res=await launchDetail({token:this.user.token,businessNo:"launch",launchNo:this.launchNo});
            	if(res.msgCode){
            		this.launchDetailDate=res.t;
            		let sun=res.t.recordList;
            		
            		for(var i=0; i<sun.length; i++){
            			if(sun[i].userCode==res.t.userCode){
            				this.amount=sun[i].amount;
            				this.myState=true;
            			}
            		}

            	}else{
            		Toast(res.msgNote);
            	}
            },
        	goto(){
        		if(this.myState&&this.fromPath.indexOf("friendChallenge")!= -1){
        			this.$router.push("/friendTrial");
        		}else{
        			this.$router.go(-1);
        		}
        	},
        	gotoPlay(){
        		this.$router.push('/friendChallenge/'+this.launchNo);
        	}
        },
        filters: {},

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import '../../assets/sass/home/redResults.scss';
</style>