<template>

    <div id="firstcomponent">
        <picker v-model="visible" :data-items="items" @change="onValuesChange">
            <div class="top-content" slot="top-content">
                <div class="title">123
                    <!--<span @click="cancel">取消</span>-->
                    <!--<span>选择地区</span>-->
                    <!--<span @click="confirm(0)">确定</span>-->
                </div>
            </div>
            <div class="bottom-content" slot="bottom-content"></div>
        </picker>
    </div>

</template>

<script type="text/javascript">
    import Vue from 'vue';
    import VuePickers from 'vue-pickers'
    import picker from 'vue-3d-picker';
    Vue.component(picker.name, picker);
    export default {
        data () {
            return {
                visible:true,
                link: true, // 联级必须需要link 参数

                items: [
                    {
                        index:5,
                        name:'fsfs',
                        values: ['fdf','fsfs','2163','fsfs','fdf','fsfs','2163','fsfs'],
                    }, {
                        name:'value',
                        values: ['htht','fsjtyjfs','tut','fsfs','54','fsf56s','45','354'],
                    }, {
                        name:'name',
                        values: ['gehr','fsfs','2163','fsfs','fdf','fsfs','2163','444'],
                    },
                ],
            }

        },
        components: {
            VuePickers
        },
        mounted () {

        },

        methods : {
            close(){

            },
            onValuesChange(){

            }
        }
    }

</script>

<style>
</style>
