<template>
    <div class="flex-wrap main" v-if="getPlayData">
        <scroll class="wrapper" :probeType="probeType" :listenScroll="listenScroll" ref="scroll">
            <div class="content">
                <div class="title">{{title}}</div>
                <!--游戏-->
                <memory @success="success" @fail="fail" :isStart="isStart" :arrayNum="getPlayData.t.config.allNum"></memory>
                <!--end-->
                <div class="tip">提示：感觉去寻找藏起来的福利吧~</div>
                <div class="start-game" @click="start">
                    <span>{{btnText}}</span>
                </div>
            </div>
        </scroll>

    </div>
</template>

<script>
    import config from '@/config';
    import common from '@/assets/js/common';
    import mixin from '@/assets/js/mixin';
    import scroll from '@/components/scroll';
    import memory from '@/components/home/memory';
    import {getPlayQuestion} from "../../fetch/index";
    import {Toast} from 'mint-ui';
    export default {
        mixins: [mixin],
        components: {//注册组件
            'scroll': scroll,
            'memory': memory,
        },
        data() {
            return {
                md: {
                    mask: false,
                    challengeSuccess: false,
                    openRedpack: false,
                },
                // configNo:this.$route.params.configNo,
                configNo:localStorage.getItem('configNo'),
                getPlayData:'',
                title:'找出躲起来的福利吧',
                isStart:false,//是否开始
                btnText:'开始挑战'

            }
        },
        created() {
            getPlayQuestion({configNo:this.configNo,token:this.user.token}).then((res)=>{
                if(res.msgCode=='200'){
                    this.getPlayData=res;
                    this.$store.state.redpackPos=res.t.answerList;
                    for(var i=1;i<=res.t.config.allNum;i++){
                        for(var j=1;j<=res.t.config.allNum;j++){
                            let xy=j.toString()+i.toString();
                            let obj={value:xy};
                            this.$store.state.listData.push(obj);
                        }
                    }
                    for(var z=0;z<this.$store.state.listData.length;z++){
                        this.$store.state.listData[z].startActive=false;//是否开始旋转
                        this.$store.state.listData[z].endActive=false;//是否翻转
                        this.$store.state.listData[z].errorActive=false;//是否选择错误
                        this.$store.state.listData[z].isDefault=true;//是否默认
                    }

                    //console.log(this.listData)
                }
            })
        },
        computed: {},
        mounted() {
            //Toast('s')
        },
        methods: {
            start(){
                if(this.btnText=='结束挑战'){
                    this.$router.push('/');
                    return
                }
                this.isStart=true;
                this.forwardDirection();
                this.backDirection();
            },
            success(leftNum){
                leftNum==0 ? Toast('挑战成功') : '';
                this.title='还剩'+leftNum+'个没找到哦';
            },
            fail(leftNum){
                Toast('挑战失败');
                this.isStart=false;
                setTimeout(()=>{
                    this.forwardDirection();
                },1000);
            }
        },
        destroyed(){
            this.$store.state.listData=[];
            this.$store.state.redpackPos=[];
        }

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import '../../assets/sass/home/tryPlay.scss';
</style>