
@import "../../sass/conmon.scss";
@import "../../sass/icon.scss";

.wrapper{
  background: #f5f5f5;
}
.content{
    .listBox{
        background: #ffffff;
        .list{
            height: 54px;
            @include flex-pack-justify();
            border-bottom: 1px solid #f5f5f5;
            .listL{
                .dot{
                    background: no-repeat center url("/static/images/home/dot.png");
                    background-size: 100%;
                    width: 8px;
                    height: 8px;
                    margin: 0 10px;
                }
                .title{
                    font-size: 16px;
                    color: #333333;
                }
            }
            .listR1{
                background: no-repeat center url("/static/images/home/ic_shang.png");
                background-size: 100%;
                width: 8px;
                height: 5px;
                margin: 0 10px;
            }
            .listR2{
                background: no-repeat center url("/static/images/home/ic_xia.png");
                background-size: 100%;
                width: 8px;
                height: 5px;
                margin: 0 10px;
            }
        }
        .listCont{
            padding: 10px 20px;
            line-height: 23px;
            color: #999999;
            font-size: 16px;
           // height: 0;
            transition: all 2s;
            overflow: hidden;
            position: relative;
        }
        .manShow{
            height: auto!important;
        }
    }
}
.redBtn{
    width: 240px;
    height: 54px;
    color: #FFFFFF;
    font-size: 19px;
    display: block;
    margin: 54px auto;
    border-radius:27px;
    border: 0;
    background: #fa3439;
} 