
@import "../../sass/conmon.scss";
@import "../../sass/icon.scss";
.main{
    background: #f5f5f5;
    
}
.header{
        height: 50px;
        line-height:50px;
        text-align: center;
        background: #fa3439;
        .title{
            color: #fff;
            font-size: 19px; 
        }
        .rightT{
            position: absolute;
            right: 20px;
            font-size: 16px;
            color: #fff;
            opacity: 0.9;
        }
        .ic_white_left{
            position: absolute;
            background-size:25%;
            width: 24px;
            height: 50px;
            left: 0;
            width: 50px;
        }
}
.rewardNum{
       border: 0;
       display: block;
       margin: 0 auto;
      //border-bottom: 1px solid rgba(0,0,0,0.1);
      font-size:14px;
      color: #bdbdbd;
      text-align: center;
      flex: 9;
}
.content {
    background: #fff;
    border-top:1px solid #fff;
  .box{
    padding: 16px 16px 0 16px;
  }
   .level{
      @include flex-pack-center();
      border-bottom: 1px solid #ebebeb;
     .title{
       color: #333;
       font-size: 14px;
       line-height: 16px;
       flex: 1;
     }
     ul{
       flex: 4;  
       flex-wrap: wrap;
       margin-top: 16px;
       li{
         width: 65px;
         height: 30px;
         border-radius: 20px;
         border: 1px solid rgba(0,0,0,0.1);
         text-align: center;
         line-height: 30px;
         color: #7a7a7a;
         font-size: 16px;
         margin-bottom: 16px;
         margin-right: 3.5%;
       }
       .active{
         background: #fa3439;
         color: #fff;
       }
       li:nth-of-type(3){
         margin-right:0;
       }
     }
   }
  .reward{
     border-bottom: 1px solid rgba(0,0,0,0.1);
     min-height: 58px;
    .title{
      color: #333;
      font-size: 14px;
      
      
      flex: 1;
    }
    ul{
      flex: 4;
      justify-content: space-between;
      margin-top: 16px;
      margin-bottom: 10px;
      li{
        width: 41px;
        height: 29px;
        border-radius: 20px;
        border: 1px solid #fa3439;
        color: #fa3439;
        font-size: 14px;
        line-height: 29px;
        text-align: center;
      }
      .active{
        background: #fa3439;
        color: #fff;
      }
      li:last-child{
        border: 1px solid #bdbdbd;
        color: #bdbdbd;
        &:active{
          opacity: .6;
        }
      }
    }
  }
  .num{
    margin-top: 16px;
    height: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    .title{
        
      color: #333;
      font-size: 14px;
   
    }
//  .rewardNum{
//     flex: 1; 
//     border: 0;
//     display: block;
//     margin: 0 auto;
//    color: #bdbdbd;
//    font-size:14px;
//    color: #333;
//    text-align: center;
//  }
  }
  
  .state{
     width: 80%;
     margin: 0 auto;
    position: relative;
    span{
      color: #71a7d4;
      font-size: 14px;
      line-height: 24px;
      &:active{
        opacity: .6;
      }
      &:after{
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        background: no-repeat center url("/static/images/icon/ic_green_right.png");
        background-size: 80%;
        vertical-align: middle;
        margin-top: -3px;
      }
    }
    span:nth-of-type(2){
      position: absolute;
      right: 0;
    }
  }
  .section{
    height: 58px;
    margin-top: 16px;
    background: #f5f5f5;
    ul{
      li{
        flex: 1;
        text-align: center;
        line-height: 58px;
        color: #333;
        position: relative;
        .ic_arrow_right{
          background-size: 50%;
          margin-top: -1px;
        }
        .ic_more_game{
          background-size: 90%;
          margin-right: 5px;
        }
        .ic_rank1{
          background-size: 70%;
          margin-right: 5px;
        }
        .ic_history{
          background-size: 80%;
          margin-right: 5px;
        }
      }
      li:nth-of-type(2){
        &:before{
          display: inline-block;
          content: '';
          width: 3px;
          height: 16px;
          background: #bdbdbd;
          position: absolute;
          left: 0;
          top: 22px;
        }
        &:after{
          display: inline-block;
          content: '';
          width: 3px;
          height: 16px;
          background: #bdbdbd;
          position: absolute;
          right: 0;
          top: 22px;
        }
      }
    }
  }
}
.start-game{
    
    height: 53px;
    width: 80%;
    text-align: center;
    line-height: 53px;
    margin: 25px auto 16px auto;
    font-size: 21px;
    color: #fff;
    background: #fa3439;
    border-radius: 30px;
    span{
      display: inline-block;
      line-height: 54px;
      &:before{
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: no-repeat center url("/static/images/icon/ic_start.png");
        background-size: 85%;
        vertical-align: middle;
        margin-right: 5px;
        margin-top: -3px;
      }
    }
    &:active{
        opacity: 0.3;
    }
  }

.tips{
    height: 35px;
    line-height: 35px;
    color: #bdbdbd;
    font-size: 14px;
}
.redd{
    color: #fa3439;
}

//add
.shilianPic{
    width: 50px;
    height: 46px;
    background: no-repeat center url("/static/images/home/red_pR.png");
    background-size: 100%;
    margin: 10px auto;
}
.text1{
    color: #333333;
    font-size: 16px;
    text-align: center;
}
.red{
    color: #fb5d60;
}
.yellow{
    color: #f2741b;
}
.text2{
    color: #333333;
    font-size: 14px;
    text-align: center;
    margin: 10px auto;
}
.text3{
    font-size: 14px;
    color: #999999;
    margin: 0 10px;
    text-align: left;
    line-height: 20px;
}
