
@import "../../sass/conmon.scss";
@import "../../sass/icon.scss";
.wrapper{
  background: #f5f5f5;
}
.content {
   .headerBox{
     height: 75px;
     padding: 0 16px;
     justify-content: space-between;
     .left{
       img{
         width: 56px;
         height: 56px;
         border-radius: 100%;
       }
       .info{
         margin-left: 10px;
         p:nth-of-type(1){
           color: #333;
           font-size: 16px;
           line-height:24px;
         }
         p:nth-of-type(2){
           color: #9f9f9f;
           font-size: 14px;
           line-height: 16px;
         }
       }
     }
     .right{
       color: #333;
       font-size: 16px;
     }
   }
  .tip{
    color: #bdbdbd;
    font-size: 14px;
    line-height: 16px;
    padding: 16px 0 0 16px;
  }
 .start-game{
    height: 53px;
    width: 80%;
    text-align: center;
    line-height: 53px;
    margin: 25px auto 16px auto;
    font-size: 21px;
    color: #fff;
    background: #fa3439;
    border-radius: 30px;
    span{
      display: inline-block;
      line-height: 54px;
      &:before{
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: no-repeat center url("/static/images/icon/ic_start.png");
        background-size: 85%;
        vertical-align: middle;
        margin-right: 5px;
        margin-top: -3px;
      }
    }
  }
  .section{
    justify-content: space-around;
    i{
      &:active{
        opacity: .6;
      }
    }
  }
}