@import "../../sass/conmon.scss";
@import "../../sass/icon.scss";
@import "../../sass/dialog.scss";

.main{
    position: relative;
    background: #f5f5f5;
    box-sizing: border-box;
}
.topRed{
    background: #fa3439;
    padding-bottom: 20px;
    .userPic{
        width: 55px;
        height: 55px;
        margin: 0 auto;
        border-radius: 100%;
        &:active{
            opacity: 0.5;
        }
    }
    .userName{
        color: #fff;
        text-align: center;
        font-size: 14px;
        line-height: 32px;
    }
    .nextMenu{
       
        .nextMenuL{
           // border-right:solid 1px solid;
            flex: 1;
            .nextMenuL1{
                margin: 10px 0;
                @include flex-pack-center();
                color: #fff;
                font-size: 19px;
                .nextMenuL1Pic{
                    background:no-repeat url(/static/images/icon/ic_jinbi.png) center;
                    background-size: 100%;
                    width: 12px;
                    height: 12.5px;
                    margin: 0 5px;
                }
            }
            .nextMenuL2{
                text-align: center;
                color: #fff;
                font-size: 19px;
            }
            &:active{
                opacity: 0.8;
            }
        }
        .nextMenuR{
            &:active{
                opacity: 0.8;
            }
            flex: 1;
            .nextMenuR1{
                margin: 10px 0;
                @include flex-pack-center();
                color: #fff;
                font-size: 19px;
                .nextMenuR1Pic{
                    background:no-repeat url(/static/images/home/ic_bei.png) center;
                    background-size: 100%;
                    width: 22.5px;
                    height: 18px;
                    margin: 0 5px;
                }
            }
            .nextMenuR2{
                text-align: center;
                color: #fff;
                font-size: 19px;
            }
        }
    }
}

.guangg{
    margin: 8px 0;
    background:no-repeat url(/static/images/home/guanggao.png) center;
    background-size: 100%;
    width: 100%;
    height: 84px;
    position: relative;
    .floatBtn{
        @include flex-pack-center();
        color: #fff;
        position: absolute;
        top: 35px;
        right: -1px;
        background:no-repeat url(/static/images/home/red_float.png) center;
        background-size: 100%;
        width: 60.5px;
        height: 30px;
        .jinbi{
            background:no-repeat url(/static/images/icon/ic_jinbi.png) center;
            background-size: 100%;
            width: 12px;
            height: 12.5px;
            margin: 0 5px;
        }
    }
}
.whiteMenu{
    background: #fff;
    padding: 10px 0;
    .whiteMenuL{
        flex: 1;
        @include flex-pack-center();
        border-right: 1px solid #ebebeb;
        .whiteMenuLPic{
            background:no-repeat url(/static/images/home/red_pL.png) center;
            background-size: 100%;
            width: 55px;
            height: 52px;
            margin: 0 10px;
        }
        .whiteMenuLT{
            .whiteMenuLT1{
                color: #ff4c5b;
                font-size: 16px;
            }
            .whiteMenuLT2{
                font-size: 14px;
                color: #3d3d3d;
                margin-top: 5px;
            }
        }
    }
    .whiteMenuR{
        flex: 1;
        @include flex-pack-center();
        .whiteMenuRPic{
            background:no-repeat url(/static/images/home/red_pR.png) center;
            background-size: 100%;
            width: 55px;
            height: 52px;
            margin: 0 15px;
        }
        .whiteMenuRT{
            .whiteMenuRT1{
                color: #f2741b;
                font-size: 16px;
            }
            .whiteMenuRT2{
                font-size: 14px;
                color: #3d3d3d;
                margin-top: 5px;
            }
        }
        &:active{
            opacity: 0.3;
        }
    }
}
.qianDiv{
    @include flex-pack-justify();
    border-bottom: 1px solid #f5f5f5;
    height: 37px;
    line-height: 37px;
    background: #fff;
    margin-top: 8px;
    .qianL{
        @include flex-pack-center();
        color: #333333;
        font-size: 14px;
        .qianLRed{
            width: 5px;
            height: 20px;
            background: #fa3439;
            margin: 0 5px 0 10px;
        }
    }
    .qianR{
        
        height: 24px;
        width: 48px;
        border-radius:12px;
        border: 1px solid #fb4e53;
        line-height:24px;
        text-align: center;
        color: #fa3439;
        font-size: 13px;
        margin-right: 10px;
        
       
    }
}
.comDiv{
    border-bottom: 1px solid #f5f5f5;
    @include flex-pack-justify();
    padding: 0 10px;
    height: 48px;
    background: #fff;
    &:active{
        opacity: 0.5;
    }
    .comDivL{
        font-size: 16px;
        color: #333333;
    }
    .comDivR{
        color: #333333;
        font-size: 14px;
        margin-right: 5px;
        .comDivRPic{
            background:no-repeat url(/static/images/home/red_ai.png) center;
            background-size: 100%;
            width: 15px;
            height: 19px;
            margin: 0 6px;
        }
        .comDivRPic2{
            background:no-repeat url(/static/images/icon/ic_jinbi.png) center;
            background-size: 100%;
            width: 18px;
            height: 18px;
            margin: 0 5px;
        }
    }
}


.recharge{
    width: 290px;
    .md-content{
        background: #fff;
        padding-top: 20px;
        padding-bottom: 10px;
        position: relative;
        .close{
            position: absolute;
            right: 20px;
            top: 20px;
        }
        .title{
            text-align: center;
            color: #333333;
            font-size: 19px;
            
        }
        .payTips{
            color: #333333;
            font-size: 16px;
            margin: 10px 0 0 20px;
            
        }
        .box{
            flex-wrap:wrap;
            
            .list{
                text-align: center;
                width: 120px;
                height: 54px;
                border: 1px solid #a3a3a3;
                margin: 10px 11.3px;
                border-radius:5px;
                .listJinbi{
                    color: #333333;
                    font-size:16px;
                    margin: 8px auto;
                }
                .listPrice{
                    font-size: 13px;
                    color: #666666;
                }
            }
            .choose{
                background: #fa4c45;
                color: #ffffff!important;
                border: 0!important;
                & p{
                    color: #ffffff!important;
                }
            }
        }
        .nextDiv{
            @include flex-pack-justify();
            margin: 3px 10px;
            height: 25px;
            line-height:25px;
            &:active{
                opacity: 0.5;
            }
            .nextL{
                .jinbi{
                    background:no-repeat url(/static/images/icon/ic_jinbi.png) center;
                    background-size: 100%;
                    width: 18px;
                    height: 18px;
                    margin-right: 5px;
                }
                .nextLT{
                    color: #999999;
                    font-size: 14px;
                }
            }
            .nextR{
                color: #999999;
                font-size: 14px;
                height: 25px;
                line-height:25px;
                .ic_hui_right{
                    height: 10px;
                    background-size:100% 100%;
                    margin: auto 3px;
                }
            }
        }
        .redBtn{
            width: 211px;
            height: 54px;
            color: #FFFFFF;
            font-size: 19px;
            display: block;
            margin: 10px auto 0;
            border-radius:27px;
            border: 0;
            background: #fa3439;
            &:active{
                opacity: 0.3;
            }
        } 
    }
}

.wxLoginCommand{
    width: toPx(20.2);
    z-index: 1000;
    .md-content{
        width: toPx(20.2);
        height: toPx(24);
        border-radius: toPx(0.4);
        .wxLoginConcent{
            width: toPx(20.2);
            height: toPx(24);
            background: no-repeat center url(/static/images/home/wxlogin_bg.png);
            background-size: 100%;
            .wxLogin_text{
                text-align: center;
                font-size: toPx(1.35);
                color: #ffdc28;
                padding-top: toPx(13);
            }
            .wxLogin_text1{
                text-align: center;
                font-size: toPx(1);
                color: #ffffff;
                padding-top: toPx(0.2);
            }
            .userSuggest{
                font-size: 12px;
                color: #ffffff;
                margin-top: 14px;
                text-align: center;
                em{
                    color: #fed216;
                }
            }
            .wxBtn{
                width: toPx(17.8);
                height: toPx(3.57);
                margin: 0 auto;
                padding-top: 14px;
                #wxLoginBtn{
                    border: 0;
                    width: toPx(17.8);
                    height: toPx(3.57);
                    background: #fed216;
                    color: #ff2739;
                    font-size: toPx(1.35);
                    border-radius: toPx(0.3);
                }
            }
        }
        .ic-close-white{
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}