
@import "../../sass/conmon.scss";
@import "../../sass/icon.scss";
.rewardNum{
       border: 0;
       display: block;
       height: 40px;
       width: 80%;
       margin: 0 auto;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      font-size:16px;
      color: #333;
      text-align: center;
}
.content {
  .box{
    padding: 16px 16px 0 16px;
  }
   .level{
     .title{
       color: #333;
       font-size: 14px;
       line-height: 16px;
     }
     ul{
       flex-wrap: wrap;
       margin-top: 16px;
       li{
         width: 104px;
         height: 36px;
         border-radius: 20px;
         border: 1px solid rgba(0,0,0,0.1);
         text-align: center;
         line-height: 36px;
         color: #bdbdbd;
         font-size: 16px;
         margin-bottom: 16px;
         margin-right: 3.5%;
       }
       .active{
         background: #fa3439;
         color: #fff;
       }
       li:nth-of-type(3){
         margin-right:0;
       }
     }
   }
  .reward{
    .title{
      color: #333;
      font-size: 14px;
      line-height: 16px;
    }
    ul{
      justify-content: space-between;
      margin-top: 16px;
      li{
        width: 53px;
        height: 36px;
        border-radius: 20px;
        border: 1px solid #fa3439;
        color: #fa3439;
        font-size: 16px;
        line-height: 36px;
        text-align: center;
      }
      .active{
        background: #fa3439;
        color: #fff;
      }
      li:last-child{
        border: 1px solid #bdbdbd;
        color: #bdbdbd;
        &:active{
          opacity: .6;
        }
      }
    }
  }
  .num{
    margin-top: 16px;
    .title{
      color: #333;
      font-size: 14px;
      line-height: 16px;
    }
    .rewardNum{
       border: 0;
       display: block;
       height: 40px;
       width: 80%;
       margin: 0 auto;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      font-size:16px;
      color: #333;
      text-align: center;
    }
  }
  .start-game{
    height: 53px;
    width: 80%;
    text-align: center;
    line-height: 53px;
    margin: 25px auto 16px auto;
    font-size: 21px;
    color: #fff;
    background: #fa3439;
    border-radius: 30px;
    span{
      display: inline-block;
      line-height: 54px;
      &:before{
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: no-repeat center url("/static/images/icon/ic_start.png");
        background-size: 85%;
        vertical-align: middle;
        margin-right: 5px;
        margin-top: -3px;
      }
    }
  }
  .state{
     width: 80%;
     margin: 0 auto;
    position: relative;
    span{
      color: #71a7d4;
      font-size: 14px;
      line-height: 24px;
      &:active{
        opacity: .6;
      }
      &:after{
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        background: no-repeat center url("/static/images/icon/ic_green_right.png");
        background-size: 80%;
        vertical-align: middle;
        margin-top: -3px;
      }
    }
    span:nth-of-type(2){
      position: absolute;
      right: 0;
    }
  }
  .section{
    height: 58px;
    margin-top: 16px;
    background: #f5f5f5;
    ul{
      li{
        flex: 1;
        text-align: center;
        line-height: 58px;
        color: #333;
        position: relative;
        .ic_arrow_right{
          background-size: 50%;
          margin-top: -1px;
        }
        .ic_more_game{
          background-size: 90%;
          margin-right: 5px;
        }
        .ic_rank1{
          background-size: 70%;
          margin-right: 5px;
        }
        .ic_history{
          background-size: 80%;
          margin-right: 5px;
        }
      }
      li:nth-of-type(2){
        &:before{
          display: inline-block;
          content: '';
          width: 3px;
          height: 16px;
          background: #bdbdbd;
          position: absolute;
          left: 0;
          top: 22px;
        }
        &:after{
          display: inline-block;
          content: '';
          width: 3px;
          height: 16px;
          background: #bdbdbd;
          position: absolute;
          right: 0;
          top: 22px;
        }
      }
    }
  }
}
