
@import "../../sass/conmon.scss";
@import "../../sass/icon.scss";

.main{
    background: #fa3439;
    padding-top: 5px;
    box-sizing: border-box;
}
.menu{
        height: 50px;
        margin: 0 20px;
        .menuDiv{
            flex: 1;
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: #FFFFFF;
            background: #faa732;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            font-size: 16px;
        }
        .chooseMenu{
            background: #FFFFFF;
            color: #333333;
        }
}

.content{
    margin: 0 20px;
    
    .listBox{
       background: #ffffff;
       .list{
           &:active{
               background: #f5f5f5;
           }
           @include flex-pack-justify();
           height:60px;
           padding: 0 10px;
           border-bottom: 1px solid #f5f5f5;
           .listL{
               .title{
                   color: #3d3d3d;
                   font-size: 14px;
               }
               .time{
                   color: #999999;
                   font-size: 13px;
                   margin-top: 5px;
               }
           }
           .listR{
               text-align: right;
               .price{
                   color: #3d3d3d;
                   font-size: 14px;
               }
               .state{
                   color: #999999;
                   font-size: 13px;
                   margin-top: 5px;
               }
           }
       }
    }

    .listBoxElse{
        background: #ffffff;
       .list{
           @include flex-pack-justify();
           height:60px;
           padding: 0 10px;
           border-bottom: 1px solid #f5f5f5;
           &:active{
               background: #f5f5f5;
           }
           .listL{
               .userPic{
                   width: 53px;
                   height: 53px;
                   margin-right:10px;
                   border-radius:26.5px;
               }
               .listLR{
                   .title{
                   color: #3d3d3d;
                   font-size: 14px;
                   }
                   .time{
                       color: #999999;
                       font-size: 13px;
                       margin-top: 8px;
                   }
                   
               }
           }
           .listR{
               text-align: right;
               color: #3d3d3d;
               font-size: 14px;
           }
       }
        
        
    }
    
}