@import "../../sass/conmon.scss";
@import "../../sass/icon.scss";

.main{
    background: #f5f5f5;   
}
.userBox{
    @include flex-pack-justify();
    height: 68px;
    background: #fff;
    &:active{
        opacity: 0.2;
    }
    .userLeft{
        @include flex-pack-justify();
        .userPic{
            width: 50px;
            height: 50px;
            border-radius:25px;
            overflow: hidden;
            margin: auto 10px;
        }
        .userLeftR{
            .userName{
            color: #3d3d3d;
            font-size: 19px;
            }
            .userCode{
                margin-top: 5px;
                color: #999999;
                font-size: 14px;
            }
        }
    }
    .ic_hui_right{
        margin-right: 10px;
    }
}

.textBox{
    height: 41px;
    line-height: 41px;
    margin-top: 8px;
    background: #fff;
    span{
        margin-left: 10px;
        color: #3d3d3d;
        font-size: 16px;
    }
}
.menuBox{
    border-top:1px solid #f0f0f0;
    height: 69px;
    background: #fff;
    .text1{
            color: #3d3d3d;
            font-size: 16px;
    }
    .text2{
            color: #999999;
            font-size: 12px;
            margin-top: 5px;
    }
    .menuL{
        &:active{
            opacity: 0.2;
        }
        flex: 1;
        text-align: center;
        
    }
    .menuR{
        &:active{
            opacity: 0.2;
        }
        flex: 1;
        text-align: center;
        
    }
}
.mg{
    margin-top: 8px;
}
.bord{
    border-bottom: 1px solid #f0f0f0;
}
.public{
    height: 50px;
    @include flex-pack-justify();
    padding: 0 10px;
    background: #fff;
    &:active{
        opacity: 0.2;
    }
    .publicT{
        color: #3d3d3d;
        font-size: 16px;
    }
    .publicR{
        
    }
}
