@import "../../sass/conmon.scss";
@import "../../sass/icon.scss";

.content{
    background: #FFFFFF;
}
.topBox{
    background: #FFFFFF;
    .topBack{
        margin: 10px 0;
        .top1{
            text-align: center;
            flex: 1;
            border-right:1px solid #f5f5f5;
            .top1T1{
                color: #333333;
                font-size: 19px;
               
            }
            .top1T2{
                margin-top: 5px;
                color: #999999;
                font-size: 13px;
            }
        }
        .top2{
            text-align: center;
            flex: 1;
             .top2T1{
                color: #999999;
                font-size: 13px;
               
            }
            .top2T2{
                 margin-top: 5px;
                color: #333333;
                font-size: 16px;
            }
        }
        .top3{
            text-align: center;
            flex: 1;
             .top3T1{
                color: #999999;
                font-size: 13px;
               
            }
            .top3T2{
                margin-top: 5px;
                color: #fa3439;
                font-size: 16px;
            }
        }
    }
}

.nextDiv{
    background: #ffbb99;
    color: #fa3439;
    height: 31px;
    font-size: 13px;
    .next1{
        flex: 1;
        text-align: center;
    }
    .next2{
        flex: 1;
        text-align: center;
        margin-left: 38px;
    }
    .next3{
        flex: 2;
        text-align: right;
        margin-right: 50px;
    }
}

.list{
    height: 50px;
    border-bottom: 1px solid #f5f5f5;
    .list1{
        flex: 1;
        text-align: center;
        font-size: 14px;
        color: #333333;
    }
    .list2{
        flex: 3;
        .userPic{
            width: 36px;
            height: 36px;
            border-radius:18px;
            margin: auto 10px;
        }
        .userName{
            font-size: 13px;
            color: #3d3d3d;
        }
    }
    .list3{
        flex: 2;
        text-align: center;
    }
}

.btnBox{
    height: 80px;
    line-height: 80px;
    position: flex;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 21px;
    background: #f5f5f5;
    .yaoqing{
        height: 54px;
        width: 45%;
        border:solid 1px #fa3439;
        background: #fff;
        color: #fa3439;
        border-radius: 27px;
        &:active{
            opacity: 0.3;
        }
    }
    .tiaozhan{
        height: 54px;
        width: 45%;
        border:solid 1px #fa3439;
        background: #fa3439;
        color: #FFFFFF;
        border-radius:27px;
        &:active{
            opacity: 0.3;
        }
    }
}
