@charset 'utf8';

@import "../dialog.scss";
@import "../icon.scss";

.personal_wrap{
  div{
    @include flex-pack-justify();
    padding: 0 16px;
    box-sizing: border-box;
    height: 48px;
    background: #fff;
    border-bottom:0.1rem solid #f5f3f0;
    span:nth-child(1){
      color: #3d3d3d;
      font-size: 16px;
    }
    span:nth-child(2){
      color: #999999;
      font-size: 16px;
    }
    img{
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }

  }
  div:nth-child(1){
    margin-top: 8px;
    height: 72px;
  }
  div:nth-child(4),div:nth-child(6),div:nth-child(7){
    margin-top: 6px;
    .bind-phone{
      color: #f27e30;
    }
  }
}