@import "../../sass/conmon.scss";
@import "../../sass/icon.scss";

.content{
   // border-top:1px solid #fa3439;
    position: relative;
}
.topBack{
    position: absolute;
    width: 100%;
    height: 49px;
    background: no-repeat center url("/static/images/home/topRedBack.png");
    background-size: 100%;
    z-index: 99;
    top: 50px;
}
.redH{
    background: #f88184!important;
}
.userPic{
    position: relative;
    width: 53px;
    height: 53px;
    margin: 20px auto 0;
    z-index: 100;
    border-radius:26.5px;
    overflow: hidden;
}
.userName{
    text-align: center;
    color: #333333;
    font-size: 16px;
    margin-top: 5px;
}
.gameType{
    text-align: center;
    color: #999999;
    font-size: 14px;
    margin-top: 5px;
}
.redBtn{
    //text-align: center;
    //line-height: 54px;
    @include flex-pack-center();
    width: 240px;
    height: 54px;
    color: #FFFFFF;
    font-size: 19px;
    margin: 30px auto;
    border-radius:27px;
    border: 0;
    background: #fa3439;
    &:active{
        opacity: 0.5;
    }
} 
.bofang{
    width: 13px;
    height: 16px;
    background: no-repeat center url("/static/images/home/bofang.png");
    background-size: 100% 100%;
    margin-right: 5px;
}
.nextDiv{
    height: 45px;
    
    .border{
        border-right:1px solid #bdbdbd;
    }
    .nextMenu{
        flex: 1;
        color: #333333;
        font-size: 14px;
        @include flex-pack-center();
        &:active{
            opacity: 0.5;
        }
        .nextMenuL1{
            width: 13px;
            height: 11.5px;
            background: no-repeat center url("/static/images/home/next1.png");
            background-size: 100% 100%;
            margin-right: 5px;
        }
        .nextMenuL2{
            width: 13px;
            height: 11.5px;
            background: no-repeat center url("/static/images/home/next2.png");
            background-size: 100% 100%;
            margin-right: 5px;
        }
        .nextMenuL3{
            width: 13px;
            height: 11.5px;
            background: no-repeat center url("/static/images/home/next3.png");
            background-size: 100% 100%;
            margin-right: 5px;
        }
        .nextMenuR{
            width: 5.5px;
            height: 8px;
            margin-left: 5px;
        }
    }
}
.listHead{
    margin: 0 20px;
    color: #333333;
    font-size: 14px;
    height: 37px;
    line-height: 37px;
}
.listDiv{
    @include flex-pack-justify();
    height: 65px;
    margin: 0 20px;
    border-top: 1px solid #ebebeb;
    .listL{
        .userPic{
            width: 41px;
            height: 41px;
            margin: auto 10px auto 0;
        }
        .listLR{
            text-align: left;
            .userName{
                 text-align: left;
                color: #333333;
                font-size: 16px;
            }
            .time{
                text-align: left;
                color: #999999;
                font-size: 13px;
                margin-top: 3px;
            }
        }
    }
    .listR{
        .price{
            font-size: 16px;
            color: #333333;
            
        }
        .ci{
            color: #999999;
            font-size: 13px;
            margin-top: 3px;
        }
    }
}
.tips{
    text-align: center;
    margin: 20px auto;
    color: #999999;
}
.price{
    color: #333333;
    font-size: 24px;
    text-align: center;
}
.danWei{
    font-size: 12px;
}
.blue{
    text-align: center;
    color: #71a7d4;
    margin: 10px auto;
}
.geDiv{
    height: 18px;
}
