@import "../../sass/conmon.scss";
@import "../../sass/icon.scss";
@import "../../sass/dialog.scss";

.main{
    background: #fa3439;
   // margin: 0 20px;
   padding-top: 10px;
   box-sizing: border-box;
   text-align: center;
}
.content{
    margin: 0 20px;
}
.floatPic{
    width: 83px;
    height: 80px;
    background: no-repeat url(/static/images/home/floatPic.png) center;
    background-size: 100%;
    position: fixed;
    bottom: 70px;
    right: 20px;
}
//.content{
//  margin: 0 20px;
    .menu{
        height: 50px;
        margin: 0 20px;
        .menuDiv{
            flex: 1;
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: #FFFFFF;
            background: #faa732;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            font-size: 16px;
            &:active{
                opacity: 0.8;
            }
        }
        .chooseMenu{
            background: #FFFFFF;
            color: #333333;
        }
    }
    .nextDiv{
        margin: 0 20px;
        
        background: #ffffff;
        height: 31px;
        line-height: 31px;
        padding: 0 10px;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
        .laba{
            width: 10px;
            height: 8px;
            background:no-repeat url(/static/images/home/red_laba.png) center;
            background-size:100% 100%;
            margin: auto 5px;
        }
        .labaR{
            color: #a1a1a1!important;
            font-size: 13px;
            span:nth-child(1){
                color: #52a3fe;
            }
            span:nth-child(2){
                color: #fb5d60;
            }
        }
        .nextDivL{
            color: #999999;
            font-size: 14px;
        }
        .nextDivR{
            color: #faa732;
            font-size: 14px;
            &:active{
                opacity: 0.5;
            }
            .yellowRight{
                width: 5.5px;
                height: 8.5px;
                background:no-repeat url(/static/images/icon/yellowRight.png) center;
                background-size: 100%;
                margin-left: 5px;
            }
        }
    }
    .listBox{
        overflow: hidden;
        .red{
            color: #fa3439!important;
        }
        .yellow{
            background: #fc9c14!important;
        }
        .listDiv{
            overflow: hidden;
            height: 48px;
            line-height: 48px;
            background: #ffffff;
            border-bottom: 1px solid #f5f5f5;
            .cont1{
                flex: 3;
                text-align: center;
                color: #3d3d3d;
                font-size: 14px;
                .rank{
                    width: 22px;
                    height: 28.5px;
                    margin: auto auto;
                }
            }
            .cont2{
                height: 48px;
                overflow: hidden;
                flex: 3;
                text-align: left;
                color: #3d3d3d;
                font-size: 13px;
                .cont2Img{
                    width: 36px;
                    height: 36px;
                    border-radius: 100%;
                    margin-right: 5px;
                    overflow: hidden;
                }
                .cont2T{
                    flex: 1;
                    height: 48px;
                    overflow: hidden;
                }
            }
            .cont3{
                flex: 4;
                text-align: center;
                color: #3d3d3d;
                font-size: 13px;
            }
            .hui{
                color: #999999!important;
            }
            .cont4{
                flex: 4;
                text-align: center;
                font-size: 13px;
                color: #fa3439;
            }
        }
        .titleMenu{
            height: 32px;
            line-height: 32px;
            background: #f5f5f5;
            .cont1{
                flex: 2;
                text-align: center;
                color: #3d3d3d;
                font-size: 13px;
                color: #7a7a7a;
            }
            .cont2{
                flex: 2.5;
                text-align: center;
                color: #3d3d3d;
                font-size: 13px;
                color: #7a7a7a;
               
            }
            .cont3{
                flex: 4;
                text-align: right;
                color: #3d3d3d;
                font-size: 13px;
                color: #7a7a7a;
            }
            .cont4{
                flex: 4;
                text-align: center;
                font-size: 13px;
                color: #7a7a7a;
            }
        }
    }
    
    
    .listBoxTeam{
        overflow: hidden;
        .red{
            color: #fa3439!important;
        }
        .listDiv{
            overflow: hidden;
            height: 48px;
            line-height: 48px;
            background: #ffffff;
            border-bottom: 1px solid #f5f5f5;
            &:active{
                opacity: 0.8;
            }
            .cont1{
                flex: 2;
                text-align: center;
                color: #3d3d3d;
                font-size: 14px;
                .rank{
                    width: 22px;
                    height: 28.5px;
                    margin: auto auto;
                }
            }
            .cont2{
                height: 48px;
                flex: 4;
                text-align: center;
                color: #3d3d3d;
                font-size: 13px;
                height: 48px;
                overflow: hidden;
            }
            .cont3{
                flex: 4;
                text-align: center;
                color: #3d3d3d;
                font-size: 13px;
            }
            .cont4{
                flex: 4;
                text-align: center;
                font-size: 13px;
                color: #333333;
            }
        }
        .titleMenu{
            height: 32px;
            line-height: 32px;
            background: #ffbb99;
            .cont1{
                flex: 2;
                text-align: center;
                color: #3d3d3d;
                font-size: 13px;
                color: #fa3439;
            }
            .cont2{
                flex: 4;
                text-align: center;
                color: #3d3d3d;
                font-size: 13px;
                color: #fa3439;
            }
            .cont3{
                flex: 4;
                text-align: center;
                color: #3d3d3d;
                font-size: 13px;
                color: #fa3439;
            }
            .cont4{
                flex: 4;
                text-align: center;
                font-size: 13px;
                color: #fa3439;
            }
        }
    }
    
//}


//提示
.prompt{
    width:290px;
    .close{
        position: absolute;
        right: 10px;
        top: 15px;
    }
    .md-content{
        background: #fff;
        padding-top:32px;
        padding-bottom: 20px;
        text-align: center;
        .title{
            color: #333333;
            font-size: 19px;
            margin:0 auto 0;
            text-align: center;
        }
        .cont{
            color: #333333;
            font-size: 16px;
            margin: 40px 30px;
            line-height: 25px;
            text-align: center;
        }
        .redBtn{
            width: 211px;
            height: 52px;
            border-radius:30px;
            background: #fa3439;
            border: 0;
            font-size: 19px;
            color: #fff;
            &:active{
                opacity: 0.5;
            }
        }
    }
}


//建立名称
.setName{
    width:290px;
    .close{
        position: absolute;
        right: 10px;
        top: 15px;
    }
    .md-content{
        background: #fff;
        padding-top:50px;
        padding-bottom: 20px;
        text-align: center;
        .title{
            color: #333333;
            font-size: 19px;
            margin:0 auto 0;
            text-align: center;
        }
        .setNameText{
            border: 0;
            border-bottom: 1px #bdbdbd solid;
            color: #333333;
            font-size: 16px;
            margin: 25px auto;
            line-height: 55px;
            text-align: center;
            font-size:16px; 
            &:placeholder{
                color: #bdbdbd!important;
            }
        }
        .redBtn{
            width: 211px;
            height: 52px;
            border-radius:30px;
            background: #fa3439;
            border: 0;
            font-size: 19px;
            color: #fff;
            &:active{
                opacity: 0.5;
            }
        }
    }
}


.rule{
    width: 321px;
    .md-content{
        background: #FFFFFF;
        
        padding: 20px;
        .close{
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .ruleTitle{
            color: #333333;
            font-size: 19px;
            text-align: center;
            margin: 15px auto;
        }
        .titleText{
            color: #333333;
            font-size: 16px;
            margin-top:10px;
            text-align: left;
        }
        .contText{
            color: #999999;
            font-size: 14px;
            margin-top:10px;
            line-height: 20px;
            text-align: left;
        }
    }
}

.noGroup{
    height: 48px;
    line-height: 48px;
    @include flex-pack-justify();
    background: #f5f5f5;
    .noGroupL{
        color: #999999;
        font-size: 14px;
        .iconYellow{
            background:no-repeat url(/static/images/icon/ic_huang.png) center;
            background-size: 100%;
            width: 16px;
            height: 16px;
            margin: 0 3px 0 10px;
        }
    }
    .noGroupR{
        height: 36px;
        width: 100px;
        border-radius:18px;
        background: #fa3439;
        line-height: 36px;
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        margin-right: 10px;
        &:active{
            opacity: 0.5;
        }
    }
}




//add
.jiangbei{
    background:no-repeat url(/static/images/home/jiangbei_pic.png) center;
    background-size: 100%;
    width: 41px;
    height: 67px;
    margin: 10px auto 0;
}
.text1{
    color: #fff;
    font-size: 19px;
    margin: 10px 0;
}
.text2{
    color: #ffe078;
    font-size: 14px;
}
.yellowBtn{
    width: 242px;
    height: 52px;
    border-radius:26px;
    margin: 15px auto 20px auto;
    color: #fff;
    font-size: 14px;
    background: #faa732;
    line-height: 52px;
    position: relative;
    &:active{
        opacity: 0.8;
    }
    .red_ti{
        @include flex-pack-center();
        position: absolute;
        top: -1px;
        left:90px;
        background:no-repeat url(/static/images/home/red_tiBack.png) center;
        background-size: 100%;
        width: 62px;
        height: 14.5px;
        .ic_jinbi{
            background:no-repeat url(/static/images/icon/ic_jinbi.png) center;
            background-size: 100%;
            width: 12px;
            height: 12.5px;
        }
    }
}

.leftTop{
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 16px;
    color: #fff;
    &:active{
        opacity: 0.8;
    }
}
.rightTop{
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 16px;
    color: #fff;
    &:active{
        opacity: 0.8;
    }
}
