@import "../../sass/conmon.scss";
@import "../../sass/icon.scss";
.main{
  background: rgba(51,51,51,0.9);
}

header{
   height: 70px;
   color: #fff;
  .ic_white_left{
    width: 50px;
    height: 70px;
    background-size: 30%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .ic_share{
    width: 50px;
    height: 70px;
    background-size: 48%;
    position: absolute;
    right: 0;
    top: 0;
  }
  .title{
    width: 100%;
    p{
      text-align: center;
      font-size: 21px;
      line-height: 32px;
      margin-top: 14px;
      font-weight: 600;
    }
    .text{
      text-align: center;
      color: #fac89b;
      font-size: 16px;
      line-height: 16px;
    }
  }

}

.content{
  .header{
    padding: 16px;
    .time{
      color: #fff;
      font-size: 19px;
    }
    .plan{
      height: 10px;
      width: 100%;
      background: #494949;
      border-radius: 20px;
      margin-top: 12px;
      em{
        display: inline-block;
        height: 10px;
        width: 100%;
        border-radius: 20px;
        background: #fa3439;
        transition: all 0.5s;
      }
    }
    .info{
      margin-top: 10px;
      line-height: 53px;
      position: relative;
       img{
         width: 53px;
         height: 53px;
         border-radius: 100%;
       }
      .score{
        position: absolute;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 24px;
        line-height: 53px;
        text-align: center;
      }
      p{
        margin-left: 5px;
        font-size: 16px;
        color: #fff;
      }
      .state{
        position: absolute;
        right: 0;
        color: #faa732;
        font-size: 16px;
      }
    }
  }

  .userInfo{
    @include flex-pack-justify;
    height: 60px;
    padding: 0 16px;
    .left{
      img{
        width: 40px;
        height: 40px;
        border-radius: 100%;
      }
      .name{
        margin-left: 5px;
        p{
          max-width:75px;
          color: #fff;
          font-size: 14px;
          line-height: 19px;
          //white-space: nowrap;
          @include overflowTwo;

        }
        .rank{
          color: #fdc903;
          font-size: 12px;
          line-height: 16px;
          &:before{
            content: '';
            display: inline-block;
            width: 16px;
            height: 12px;
            background: no-repeat center url('/static/images/challenge/ic_rank.png');
            background-size: 100%;
            vertical-align: middle;
            margin-right: 6px;
          }
        }
      }
      .amount{
        background: rgba(255,255,255,0.2);
        text-align: center;
        border-radius: 30px;
        margin-left: 10px;
        padding: 0 5px;
        white-space: nowrap;
        span{
          font-size: 13px;
          color: #fff;
          line-height: 30px;
          &:before{
            content: '';
            display: inline-block;
            width: 28px;
            height: 28px;
            background: no-repeat center url("/static/images/challenge/ic_gold_icon.png");
            background-size: 80%;
            vertical-align: middle;
            margin-right: 3px;
          }
          &:after{
            content: '';
            display: inline-block;
            width: 28px;
            height: 28px;
            background: no-repeat center url("/static/images/challenge/ic_add.png");
            background-size: 80%;
            vertical-align: middle;
            margin-left: 3px;
          }
        }
      }
    }
    .right{
      background: rgba(255,255,255,0.2);
      text-align: center;
      border-radius: 20px;
      padding: 0 5px;
      white-space: nowrap;
      span{
        font-size: 13px;
        color: #fff;
        line-height: 30px;
        &:before{
          content: '';
          display: inline-block;
          width: 28px;
          height: 28px;
          background: no-repeat center url("/static/images/challenge/ic_restart.png");
          background-size: 80%;
          vertical-align: middle;
          margin-top: -3px;
          margin-right: 3px;
        }
      }
    }
  }
  .scroe-level{
    justify-content: space-between;
    padding: 0 16px 16px 16px;
    .scroe{
       color: #fff;
       font-size: 16px;
       line-height: 24px;
      em{
        font-size: 22px;
      }
    }
    .rewardIcon{
      color: #faa732;
      font-size: 16px;
    }
    .level{
      color: #fff;
      font-size: 16px;
      line-height: 16px;
      background: #fa3439;
      border-radius: 20px;
      padding:5px 10px;
    }
  }
  .start-game{
    height: 53px;
    width: 80%;
    text-align: center;
    line-height: 53px;
    margin: 16px auto 16px auto;
    font-size: 21px;
    color: #fff;
    background: #fa3439;
    border-radius: 30px;
    span{
      display: inline-block;
      line-height: 54px;
    }
  }
  .section{
    justify-content: space-around;
  }
  .tip{
    color: #bdbdbd;
    font-size: 14px;
    line-height: 24px;
    margin-left: 16px;
    margin-top: 16px;
  }
}