@import "../../sass/conmon.scss";
@import "../../sass/icon.scss";


.red{
    color: #fa3439!important;
}
        .listDiv{
            overflow: hidden;
            height: 48px;
            line-height: 48px;
            background: #ffffff;
            border-bottom: 1px solid #f5f5f5;
            .cont1{
                flex: 2;
                text-align: center;
                color: #3d3d3d;
                font-size: 14px;
                .rank{
                    width: 22px;
                    height: 28.5px;
                    margin: auto auto;
                }
            }
            .cont2{
                height: 48px;
                overflow: hidden;
                flex: 5;
                text-align: left;
                color: #3d3d3d;
                font-size: 13px;
                .cont2Img{
                    width: 36px;
                    height: 36px;
                    border-radius: 100%;
                    margin-right: 5px;
                    overflow: hidden;
                }
                .cont2T{
                    flex: 1;
                    height: 48px;
                    overflow: hidden;
                }
            }
            .red{
                color: #fa3439;
            }
            .cont3{
                flex: 4;
                text-align: center;
                color: #3d3d3d;
                font-size: 13px;
            }
            .cont4{
                flex: 4;
                text-align: center;
                font-size: 13px;
                color: #fa3439;
            }
        }
        .titleMenu{
            height: 32px;
            line-height: 32px;
            background: #ffbb99;
            .cont1{
                flex: 2;
                text-align: center;
                color: #3d3d3d;
                font-size: 13px;
                color: #fa3439;
            }
            .cont2{
                flex: 4;
                text-align: center;
                color: #3d3d3d;
                font-size: 13px;
                color: #fa3439;
               
            }
            .cont3{
                flex: 4;
                text-align: center;
                color: #3d3d3d;
                font-size: 13px;
                color: #fa3439;
            }
            .cont4{
                flex: 4;
                text-align: center;
                font-size: 13px;
                color: #fa3439;
            }
        }