<template>
   <div class="challengeSuccess md-modal md-effect-1" :class="{'md-show':isShow}">
       <div class="md-content">
           <div class="top-bg"></div>
           <img src="/static/images/home/open_redpack.png" alt="" @click="open">
           <p>挑战成功</p>
           <div class="tip">你获得了1个红包奖励</div>
       </div>
   </div>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        props:{
            isShow:{
                type: Boolean,
                default: false
            }

        },
        created() {

        },
        computed: {},
        mounted() {

        },
        methods: {
            open(){
                this.$emit('open')
            }
        },

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import "../../assets/sass/dialog";
    .challengeSuccess{
         width: 210px;
        .md-content{
            background: #fa3439;
            overflow: hidden;
            padding-bottom: 80px;
            .top-bg{
               width: 105%;
               height: 88px;
                background: no-repeat center url("/static/images/home/redpack_top_bg.png");
                background-size: 100%;
                background-position: -5px 0;
            }
            img{
                width: 45px;
                height: 45px;
                margin: 0 auto;
                margin-top: -30px;
            }
            p{
                text-align: center;
                color: #ffce24;
                font-size: 16px;
                line-height: 24px;
                padding-top: 16px;
            }
            .tip{
                text-align: center;
                color: #fff;
                font-size: 13px;
                line-height: 18px;
            }
        }
    }

</style>