<template>
    <div class="challengeFail md-modal md-effect-1" :class="{'md-show':isShow}">
        <div class="md-content">
            <p>挑战失败</p>
            <div class="tip">再接再厉！下次一定成功！</div>
            <button>分享+1次机会</button>
            <i class="ic_close_hui" @click="close"></i>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        props:{
            isShow:{
                type: Boolean,
                default: false
            }

        },
        created() {

        },
        computed: {},
        mounted() {

        },
        methods: {
            close(){
                this.$emit('close')
            }
        },

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import "../../assets/sass/dialog";
    @import "../../assets/sass/icon";
    .challengeFail{
        width: 290px;
        .md-content{
            background: #fff;
            padding: 28px 16px 16px 16px;
            p{
                color: #333;
                text-align: center;
                line-height: 24px;
                font-size: 19px;
            }
            .tip{
                color: #999999;
                text-align: center;
                line-height: 24px;
                font-size: 16px;
                margin-top: 12px;
            }
            button{
                display: block;
                width: 210px;
                height: 53px;
                margin: 0 auto;
                border: 0;
                color: #fff;
                font-size: 19px;
                border-radius: 30px;
                background: #fa3439;
                margin-top: 24px;
                &:active{
                    opacity: .6;
                }
            }
            .ic_close_hui{
                display: block;
                position: absolute;
                width: 50px;
                height: 50px;
                background-size: 35%;
                top: 0;
                right: 0;
            }
        }
    }

</style>