<template>
    <div class="goChallenge" v-if="isShow">
        <div class="content">
            <i class="ic_white_left" @click="closeLevel"></i>
            <img :src="user.userImage" alt="">
            <div class="name">{{user.alias}}</div>
            <div class="number"><em>{{endScore.amount}}</em></div>
            <p>您已超过{{parseFloat((endScore.allPeople-endScore.rank)/(endScore.allPeople-1)*100).toFixed(2)}}%的玩家</p>
            <div class="rank">
                <span>今日最高：{{Number(endScore.amount)>Number(endScore.lastAmount) ? endScore.amount : endScore.lastAmount}}</span>
                <span>全区排行：{{endScore.rank}}位</span>
            </div>
            <!--<input type="button" value="再次挑战" class="again" @click="againStart">-->
            <!--<div class="cash">十万现金挑战赛</div>-->
            <div class="send">转发到微信群，查看群排行 <i class="ic_white_right"></i></div>
            <div class="section flex-wrap">
                <!--<i class="ic_quit" @click="back"></i>-->
                <i class="ic_rank" @click="back"></i>
                <i class="ic_restart" @click="againStart"></i>
            </div>
        </div>
    </div>
</template>

<script>
    import mixin from '@/assets/js/mixin';
    export default {
        mixins: [mixin],
        data() {
            return {

            }
        },
        props:{
            isShow:{
                type: Boolean,
                default: false
            },
            endScore:{
                default:''
            }

        },
        created() {

        },
        computed: {},
        mounted() {

        },
        methods: {
            back(){
                this.$router.push('/challengeRound');
            },
            againStart(){
                this.$emit('againStart');
            },
            closeLevel(){
                this.$emit('closeLevel');
            }
        },

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import "../../assets/sass/icon";
    .goChallenge{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        .content{
            .ic_white_left{
                position: absolute;
                width: 60px;
                height: 60px;
                background-size: 25%;
                top: 10px;
                left: 0;
            }
            img{
                width: 64px;
                height: 64px;
                border-radius: 100%;
                margin: 120px auto 0 auto;
            }
            .name{
                color: #fff;
                font-size: 16px;
                text-align: center;
                line-height: 24px;
                margin-top: 8px;
            }
            .number{
                color: #ffbb99;
                font-size: 16px;
                text-align: center;
                letter-spacing: 3px;
                padding: 12px 0;
                em{
                    font-size: 28px;
                }
            }
            p{
                text-align: center;
                font-size: 14px;
                color: #bdbdbd;
            }
            .rank{
                width: 70%;
                margin: 0 auto;
                position: relative;
                margin-top: 24px;
                span{
                    font-size: 14px;
                    color: #bdbdbd;
                }
                span:nth-of-type(2){
                    position: absolute;
                    right: 0;
                }
            }
            .again{
                display: block;
                height: 53px;
                width: 60%;
                margin: 24px auto;
                border: 0;
                border-radius: 24px;
                font-size: 21px;
                color: #fff;
                background: #fa3439;
                &:active{
                    opacity: .6;
                }
            }
            .cash{
                height: 35px;
                width: 160px;
                background: no-repeat center url("/static/images/home/cash_bg.png");
                background-size: 100%;
                line-height: 35px;
                margin: 0 auto;
                text-align: center;
                color: #ffde8e;
                font-size: 16px;
                font-weight: 600;
            }
            .send{
                color: #bdbdbd;
                text-align: center;
                margin-top: 78px;
                font-size: 14px;
                .ic_white_right{
                    background-size: 50%;
                }
            }
            .section{
                justify-content: center;
                margin-top: 60px;
                i{
                    &:active{
                        opacity: .6;
                    }
                }
                .ic_rank{
                    margin-right: 50px;
                }
            }
        }
    }
</style>