<template>
    <div class="memory">
        <ul class="flex-wrap" v-if="!isChallenge">
            <li v-for="(item,index) in listData" @click="find(item)">
                <!--4宫格-->
                <div class="type" v-if="arrayNum==4">
                    <img class="img-4" src="/static/images/challenge/ic_default.png" :src="chooseImg ? '/static/images/challenge/ic_default.png' : '/static/images/home/ic_default.png'" alt="" v-if="item.isDefault" :class="{'rotate':item.startActive}">
                    <div class="redpack-bg img-4"  :class="{'active':item.errorActive,'endRotate':item.endActive}" v-if="!item.isDefault">
                        <img src="/static/images/home/redpack.png" alt=""v-if="exist(item.value)">
                    </div>
                </div>
                <div class="type" v-if="arrayNum==5">
                    <img :src="chooseImg ? '/static/images/challenge/ic_default.png' : '/static/images/home/ic_default.png'" alt="" v-if="item.isDefault" :class="{'rotate':item.startActive}">
                    <div class="redpack-bg" :class="{'active':item.errorActive,'endRotate':item.endActive}" v-if="!item.isDefault">
                        <img src="/static/images/home/redpack.png" alt="" v-if="exist(item.value)">
                    </div>
                </div>
                <div class="type" v-if="arrayNum==6">
                    <img :src="chooseImg ? '/static/images/challenge/ic_default.png' : '/static/images/home/ic_default.png'" class="img-6" alt="" v-if="item.isDefault" :class="{'rotate':item.startActive}">
                    <div class="redpack-bg img-6" :class="{'active':item.errorActive,'endRotate':item.endActive}" v-if="!item.isDefault">
                        <img src="/static/images/home/redpack.png" alt="" v-if="exist(item.value)">
                    </div>
                </div>
                <div class="type" v-if="arrayNum==7">
                    <img class="img-7" :src="chooseImg ? '/static/images/challenge/ic_default.png' : '/static/images/home/ic_default.png'" alt="" v-if="item.isDefault" :class="{'rotate':item.startActive}">
                    <div class="redpack-bg" style="width:46px;height: 46px" :class="{'active':item.errorActive,'endRotate':item.endActive}" v-if="!item.isDefault">
                        <img src="/static/images/home/redpack.png" alt="" v-if="exist(item.value)">
                    </div>
                </div>
                <div class="type" v-if="arrayNum==8">
                    <img class="img-8" :src="chooseImg ? '/static/images/challenge/ic_default.png' : '/static/images/home/ic_default.png'" alt="" v-if="item.isDefault" :class="{'rotate':item.startActive}">
                    <div class="redpack-bg img-8" :class="{'active':item.errorActive,'endRotate':item.endActive}" v-if="!item.isDefault">
                        <img src="/static/images/home/redpack.png" alt="" v-if="exist(item.value)">
                    </div>
                </div>
                <div class="type" v-if="arrayNum==9">
                    <img class="img-9" :src="chooseImg ? '/static/images/challenge/ic_default.png' : '/static/images/home/ic_default.png'" alt="" v-if="item.isDefault" :class="{'rotate':item.startActive}">
                    <div class="redpack-bg img-9" :class="{'active':item.errorActive,'endRotate':item.endActive}" v-if="!item.isDefault">
                        <img src="/static/images/home/redpack.png" alt="" v-if="exist(item.value)">
                    </div>
                </div>
            </li>
        </ul>
        <div class="entry_img"><img src="/static/images/home/main_img.png" alt="" v-if="isChallenge"></div>
    </div>
</template>

<script>
    import common from '@/assets/js/common';
    import { Toast } from 'mint-ui'
    export default {
        data() {
            return {
                 xyBox:[],//存放xy
                leftNum:''
            }
        },
        props:{
            arrayNum:{
                type: Number,//5 x 5规格
                default: 5
            },
            isChallenge:{
                type: Boolean,//是否有广告页 （挑战赛有默认广告页）
                default: false
            },
            chooseImg:{
                type: Boolean,//默认图片的选择
                default: false
            },
            isStart:{
               type: Boolean,//是否开始
               default: false
            },
            // redpackPos:{  //显示红包的位置
            //     default:[]
            // },

        },
        created() {
            let self=this;
            //
            if(this.$route.name=='friendChallenge'){
                this.getxy();
            }
        },
        computed: {
            listData(){
                return this.$store.state.listData;
            },
            isDefault(){
                return this.$store.state.isDefault;
            }
        },
        mounted() {

        },
        methods: {
            getxy(){
                let t='';
                this.xyBox=[];
                this.$store.state.redpackPos.map((res)=>{
                    t=res.x.toString()+res.y.toString();
                    this.xyBox.push(t);
                });
                this.leftNum=this.$store.state.redpackPos.length;//剩余多少个没找到
            },
            exist(xy){
                return common.contains(this.xyBox,xy);
            },
            find(item){
                if(this.isStart){
                    for(var z=0;z<this.$store.state.listData.length;z++){
                        if(this.$store.state.listData[z].value==item.value){
                            this.$store.state.listData[z].endActive=false;
                            this.$store.state.listData[z].startActive=true;//是否开始旋转
                            this.$set(this.$store.state.listData,z,this.$store.state.listData[z]);
                        }
                    }
                    setTimeout(()=>{
                        for(var p=0;p<this.$store.state.listData.length;p++){
                            if(this.$store.state.listData[p].value==item.value){
                                this.$store.state.listData[p].endActive=false;
                                this.$store.state.listData[p].isDefault=false;
                                this.$set(this.$store.state.listData,p,this.$store.state.listData[p]);
                            }
                        }
                    },280);

                    if(common.contains(this.xyBox,item.value)){
                        this.leftNum=this.leftNum-1;//剩余的个数
                        this.$emit('success',this.leftNum);
                    }else {
                        this.$emit('fail',this.leftNum);
                    }
                }
            },
        },

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import "../../assets/sass/icon";
    .entry_img{
        img{
            width: 90%;
            height: 360px;
            margin: 0 auto;
        }
    }
    ul{
        flex-wrap: wrap;
        padding: 0 16px;
        justify-content: space-between;
        li{
            margin-top: 8px;
            margin-left: 2px;
            .type{
                .img-4{
                    width:72px;
                    height: 72px;
                    margin-left: 5px;
                }
                .img-6{
                    width:52px;
                    height: 52px;
                    img{
                        width: 32px;height: 36px;
                    }
                }
                .img-7{
                    width:46px;
                    height: 46px;
                    img{
                        width: 28px;height: 32px;
                    }
                }
                .img-8{
                    width:40px;
                    height: 40px;
                    img{
                        width: 24px;height: 28px;
                    }

                }
                .img-9{
                    width:36px;
                    height: 36px;
                    img{
                        width: 24px;height: 28px;
                    }
                }
            }
            img{
                width: 64px;
                height: 64px;
            }
            .redpack-bg{
                width: 64px;
                height: 64px;
                background: #ffbb99;
                position: relative;
                img{
                    position: absolute;
                    width: 42px;
                    height: 54px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            .active{
                background: no-repeat center url("/static/images/home/redpack_error.png");
                background-size: 100%;
            }
        }
    }
</style>