<template>
    <div class="memory">
        <ul class="flex-wrap" v-for="(item1,x) in arrayNum" v-if="!isChallenge">
            <li v-for="(item2,y) in arrayNum">
                <div class="type" v-if="arrayNum==5">
                    <img src="/static/images/home/ic_default.png" alt="" v-if="isDefault" :class="{'rotate':startRotate}">
                    <div class="redpack-bg" :class="{'active':chooseError,'endRotate':endRotate}" v-if="!isDefault">
                        <img src="/static/images/home/redpack.png" alt="" v-if="exist(x+1,y+1)">
                    </div>
                </div>
                <div class="type" v-if="arrayNum==6">
                    <img style="width:52px;height: 52px" src="/static/images/home/ic_default.png" alt="">
                    <div class="redpack-bg"><img src="/static/images/home/redpack.png" alt=""></div>
                </div>
                <div class="type" v-if="arrayNum==7">
                    <img style="width:46px;height: 46px" src="/static/images/home/ic_default.png" alt="">
                </div>
                <div class="type" v-if="arrayNum==8">
                    <img style="width:36px;height: 36px" src="/static/images/home/ic_default.png" alt="">
                </div>
            </li>
        </ul>
        <div class="entry_img"><img src="/static/images/home/main_img.png" alt="" v-if="isChallenge"></div>
    </div>
</template>

<script>
    import common from '@/assets/js/common';
    import { Toast } from 'mint-ui'
    export default {
        data() {
            return {
                 xyBox:[],//存放xy
            }
        },
        props:{
            arrayNum:{
                type: Number,//5 x 5规格
                default: 5
            },
            isChallenge:{
                type: Boolean,//是否有广告页 （挑战赛有默认广告页）
                default: false
            },
            isDefault:{
                type: Boolean,
                default: true
            },
            startRotate:{
                type: Boolean,//是否开始转
                default: false
            },
            endRotate:{
                type: Boolean,//是否结束旋转
                default: false
            },
            chooseError:{
                type: Boolean,//选错的时候
                default: false
            },
            isStart:{
               type: Boolean,//是否开始
               default: false
            },
            redpackPos:{  //显示红包的位置
                default:[]
            }

        },
        created() {
           let self=this;
           let t='';
           this.redpackPos.map((res)=>{
               t=res.x.toString()+res.y.toString();
               this.xyBox.push(t);
           });

        },
        computed: {

        },
        mounted() {

        },
        methods: {
            exist(x,y){
                let xy=y.toString()+x.toString();
                return common.contains(this.xyBox,xy)
            },
            find(x,y){
                if(this.isStart){
                    this.$emit('forwardDirection');
                    let xy=y.toString()+x.toString();
                    if(common.contains(this.xyBox,xy)){
                        Toast('选择正确')
                    }else {
                        Toast('选择失败')
                    }
                }
            }
        },

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import "../../assets/sass/icon";
    .entry_img{
        img{
            width: 90%;
            height: 360px;
            margin: 0 auto;
        }
    }
    ul{
        flex-wrap: nowrap;
        padding: 0 16px;
        justify-content: space-between;
        li{
            margin-top: 8px;
            img{
                width: 64px;
                height: 64px;
            }
            .redpack-bg{
                width: 64px;
                height: 64px;
                background: #ffbb99;
                position: relative;
                img{
                    position: absolute;
                    width: 42px;
                    height: 54px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
            .active{
                background: no-repeat center url("/static/images/home/redpack_error.png");
                background-size: 100%;
            }
        }
    }
</style>