<template>
    <div class="openRedpack md-modal md-effect-1" :class="{'md-show':isShow}">
        <div class="md-content" v-if="getPlayData">
            <img :src="getPlayData.t.userImage" alt="">
            <p>{{getPlayData.t.userName}}</p>
            <p>发起的记忆挑战</p>
            <div class="amount"><em>{{amount/100}}</em>元</div>
            <div class="challengeDetail" @click="challengeDetail">查看挑战详情<i class="ic_white_right"></i></div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        props:{
            isShow:{
                type: Boolean,
                default: false
            },
            amount:{
                default:''
            },
            getPlayData:{
                default:''
            }

        },
        created() {

        },
        computed: {},
        mounted() {

        },
        methods: {
            challengeDetail(){
                this.$emit('challengeDetail')
            }
        },

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import "../../assets/sass/dialog";
    @import "../../assets/sass/icon";
    .openRedpack{
        width: 210px;
        .md-content{
            background: #fa3439;
            padding: 25px 0;
            img{
                width: 40px;
                height: 40px;
                border-radius: 100%;
                margin: 0 auto;
            }
            p:nth-of-type(1){
                color: #fff;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                padding-top: 5px;
            }
            p:nth-of-type(2){
                color: #fff;
                font-size: 13px;
                line-height: 16px;
                text-align: center;
            }
            .amount{
                color: #ffce24;
                font-size: 16px;
                text-align: center;
                margin-top: 20px;
                em{
                    font-size: 24px;
                }
            }
            .challengeDetail{
                color: #fff;
                text-align: center;
                margin-top: 30px;
                .ic_white_right{
                    background-size: 50%;
                    margin-top: -1px;
                }
            }
        }
    }

</style>