<template>
    <div class="restart md-modal md-effect-1" :class="{'md-show':isShow}">
        <div class="md-content">
            <img src="/static/images/challenge/ic_fail.png" alt="">
            <p>挑战失败</p>
            <div class="tip">再接再厉！下次一定成功！</div>
            <button @click="restartCard('gold')">{{getPlayData.t.config.rightScore}}金币复活</button>
            <button class="useBtn" @click="restartCard('card')">使用复活卡(1)</button>
             <div class="pay" @click="restartCard('pass')" v-if="getPlayData.t.config.passScore>0">花{{getPlayData.t.config.passScore}}金币直接跳过 <i class="ic_hui_right"></i></div>
            <i class="ic_close_hui" @click="close"></i>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        props:{
            isShow:{
                type: Boolean,
                default: false
            },
            getPlayData:{
                default:''
            }

        },
        created() {

        },
        computed: {},
        mounted() {

        },
        methods: {
            close(){
                this.$emit('close');
            },
            restartCard(type){
                this.$emit('restartCard',type);
            }
        },

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import "../../assets/sass/dialog";
    @import "../../assets/sass/icon";
    .restart{
        width: 290px;
        .md-content{
            background: #fff;
            padding: 48px 16px 16px 16px;
            img{
                width: 70px;
                height: 60px;
                margin: 0 auto;
            }
            p{
                color: #333;
                text-align: center;
                line-height: 24px;
                font-size: 19px;
                margin-top: 16px;
            }
            .tip{
                color: #999999;
                text-align: center;
                line-height: 24px;
                font-size: 16px;
            }
            button{
                display: block;
                width: 200px;
                height: 53px;
                margin: 0 auto;
                border: 0;
                color: #fff;
                font-size: 19px;
                border-radius: 30px;
                background: #fa3439;
                margin-top: 18px;
                &:active{
                    opacity: .6;
                }
            }
            .useBtn{
                margin-top: 12px;
                background: #fc9c14;
            }
            .pay{
                color: #999;
                font-size: 14px;
                text-align: center;
                line-height: 16px;
                margin-top: 16px;
                &:active{
                    opacity: .6;
                }
            }
            .ic_close_hui{
                display: block;
                position: absolute;
                width: 50px;
                height: 50px;
                background-size: 35%;
                top: 0;
                right: 0;
            }
            .ic_hui_right{
                display: inline-block;
            }
        }
    }

</style>