<template>
    <div class="time flex-wrap flex-center" v-if="isStart">
        <div class="plan"><em :style="{width:changeWidth+'%'}"></em></div>
        <div class="timer">{{selftime}}秒</div>
        <div class="find"style="color: #333" v-if="changeColor">已找出：<em style="color: #fa3439">{{findNum}}</em>/{{total}}</div>
        <div class="find" v-else>已找出：<em>{{findNum}}</em>/{{total}}</div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                timers:'',
                selftime:15,
                changeWidth:100
            }
        },
        props:{
            isStart:{
                type: Boolean,
                default: false
            },
            changeColor:{
               type: Boolean,
               default: false
            }
            // endScore:{
            //     default:''
            // }

        },
        created() {

        },
        computed: {
            total(){
                return this.$store.state.redpackPos.length;
            },
            findNum(){
                return this.$store.state.findNum;
            },
        },
        mounted() {

        },
        methods: {
            timer(){
                this.selftime=this.$store.state.time;
                this.changeWidth=100;
                clearInterval(this.$store.state.timers);
                this.$store.state.timers=setInterval(()=>{
                    if(this.selftime>=1){
                        this.selftime=this.selftime-1;
                        this.changeWidth=this.changeWidth-100/15;
                        localStorage.setItem('timing',this.$store.state.time-this.selftime);
                    }else {
                        this.changeWidth=0;
                        this.$emit('fail');
                        clearInterval(this.$store.state.timers);
                    }
                },1000)
            },
        },
        destroyed(){
            clearInterval(this.$store.state.timers);
        }

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
   .time{
       padding: 0 16px;
       position: relative;
       height: 32px;
       .plan{
           height: 8px;
           width: 50%;
           background: #BCBCBC;
           border-radius: 20px;
           position: relative;
           em{
               position: absolute;
               top: 0;
               display: inline-block;
               height: 8px;
               width: 100%;
               border-radius: 20px;
               background: #fa3439;
               transition: all 0.5s;
           }
       }
       .timer{
           margin-left: 12px;
           color: #fa3439;
           font-size: 14px;
       }
       .find{
           position: absolute;
           right: 16px;
           line-height: 16px;
           color: #fff;
           font-size: 14px;
           em{
               color: #fde903;
           }
       }
   }

</style>