<template>
    <div class="tip md-modal md-effect-1" :class="{'md-show':isShow}">
        <div class="md-content">
           <div class="title">提示</div>
           <div class="text">客官！你可以设置一个带奖励的记忆挑战，好友需要在1秒内记忆卡片位置，点中所有卡片才能获得奖励！</div>
           <button @click="close">确定</button>
           <i class="ic_close_hui" @click="close"></i>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        props:{
            isShow:{
                type: Boolean,
                default: false
            }

        },
        created() {

        },
        computed: {},
        mounted() {

        },
        methods: {
            close(){
                this.$emit('close')
            }
        },

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import "../../assets/sass/dialog";
    @import "../../assets/sass/icon";
    .tip{
       width: 290px;
        .md-content{
            background: #fff;
            padding: 24px;
            .title{
                color: #333;
                font-size: 19px;
                text-align: center;
                line-height: 24px;
            }
            .text{
                color: #333;
                font-size: 16px;
                text-align: justify;
                margin-top: 16px;
                line-height: 20px;
            }
            button{
                display: block;
                width: 210px;
                height: 48px;
                color: #fff;
                background: #fa3439;
                border: 0;
                border-radius: 30px;
                margin: 24px auto 0 auto;
                font-size: 19px;
            }
            .ic_close_hui{
                position: absolute;
                display: block;
                top: 16px;
                right: 16px;
            }
        }
    }
</style>