<template>
    <div class="toReward md-modal md-effect-1" :class="{'md-show':isShow}">
        <div class="md-content">
            <!--<img src="/static/images/home/ic_head.png" alt="">-->
            <!--<p>大河东</p>-->
            <div class="title">挑战成功</div>
            <div class="tip">恭喜你通过本次记忆试炼</div>
            <button @click="getReward">领取奖励</button>
            <i class="ic_close_hui" @click="close"></i>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        props:{
            isShow:{
                type: Boolean,
                default: false
            }

        },
        created() {

        },
        computed: {},
        mounted() {

        },
        methods: {
            close(){
                this.$emit('close');
            },
            getReward(){
                this.$emit('getReward');
            }
        },

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import "../../assets/sass/dialog";
    @import "../../assets/sass/icon";
    .toReward{
        width: 290px;
        .md-content{
            background: #fff;
            padding: 38px 16px 16px 16px;
            img{
                width: 44px;
                height: 44px;
                border-radius: 100%;
                margin: 0 auto;
            }
            p{
                color: #333333;
                line-height: 24px;
                text-align: center;
                font-size: 16px;
            }
            .title{
                color: #fa3439;
                font-size: 19px;
                text-align: center;
                line-height: 24px;
            }
            .tip{
                color: #999999;
                text-align: center;
                line-height: 24px;
                margin-top: 16px;
            }
            button{
                display: block;
                width: 210px;
                height: 53px;
                margin: 0 auto;
                border: 0;
                color: #fff;
                font-size: 19px;
                border-radius: 30px;
                background: #fa3439;
                margin-top: 24px;
                &:active{
                    opacity: .6;
                }
            }
            .ic_close_hui{
                display: block;
                position: absolute;
                width: 50px;
                height: 50px;
                background-size: 35%;
                top: 0;
                right: 0;
            }
        }
    }

</style>