<template>
    <!--微信登录-->
    <div class="md-modal md-effect-1 wxLoginCommand" :class="{'md-show':isShow}">
        <div class="md-content">
            <div class="wxLoginConcent">
                <div class="wxLogin_text">恭喜您获得一个现金红包</div>
                <div class="wxLogin_text1">随时可提现到微信零钱</div>
                <div class="userSuggest">登录即视为同意并遵循 <em>《用户协议》</em></div>
                <div class="wxBtn"><input type="button" id="wxLoginBtn" @click="goLogin()" value="使用微信一键登录" /></div>
            </div>
        </div>
    </div>
</template>

<script>
    import common from '@/assets/js/common'
    export default {
        name: "login",
        data(){
            return{

            }
        },
        props:{
            isShow:{
               type: Boolean,
               default: false
            }

        },
        methods:{
            goLogin: function() {
                this.$emit('goLogin');
            },
        }
    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import "../assets/sass/dialog";
    .wxLoginCommand{
        .md-content{
            .wxLoginConcent{
                width: 580px;
                height: 620px;
                background: no-repeat center url(/static/images/home/wxlogin_bg.png);
                background-size: 100%;
                .wxLogin_text{
                    text-align: center;
                    font-size: 48px;
                    color: #ffdc28;
                    padding-top: 360px;
                }
                .wxLogin_text1{
                    text-align: center;
                    font-size: 28px;
                    color: #ffffff;
                    padding-top: 0.2rem;
                }
                .userSuggest{
                    font-size: 24px;
                    color: #ffffff;
                    margin-top: 28px;
                    text-align: center;
                    em{
                        color: #fed216;
                    }
                }
                .wxBtn{
                    width: 360px;
                    height: 96px;
                    margin: 0 auto;
                    padding-top: 28px;
                    #wxLoginBtn{
                        border: 0;
                        width: 360px;
                        height:  96px;
                        background: #fed216;
                        color: #ff2739;
                        font-size: 48px;
                        border-radius: 8px;
                    }
                }
            }
            .ic-close-white{
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
</style>