<template>
    <footer>
        <ul class="flex-wrap">
            <router-link tag="li" to="/" class="flex-con-1">
                <i class="ic-foot1" :class="{'ic-foot1-active':$route.name=='home'}"></i>
                <p :class="{'active':$route.name=='home'}">急速大脑</p>
            </router-link>
            <router-link tag="li" to="/challengeRound" class="flex-con-1">
                <i class="ic-foot3" :class="{'ic-foot3-active':$route.name=='challengeRound'}"></i>
                <p :class="{'active':$route.name=='challengeRound'}">挑战赛</p>
            </router-link>
            <router-link tag="li" to="/wallet" class="flex-con-1">
                <i class="ic-foot2" :class="{'ic-foot2-active':$route.name=='wallet'}"></i>
                <p :class="{'active':$route.name=='wallet'}">钱包</p>
            </router-link>
        </ul>
    </footer>
</template>

<script>

  export default {
    data(){
      return{

      }
    },
    created(){

    },
    methods:{

    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import '../assets/sass/conmon.scss';
    ul{
        width: 100%;
        height: 56px;
        background-color: #fff;
        border-top: 1px solid rgba(0,0,0,0.05);
        text-align: center;
        font-size: 0;
        li{
          font-size: 12px;
          color: #8a8a8a;
          padding-top: 8px;
            p{
               line-height: 16px;
            }
            .active{
                color: #fa3e4e;
            }
            .ic-foot1{
                display: block;
                width: 22px;
                height: 25px;
                background: center no-repeat url(/static/images/icon/ic_foot1.png);
                background-size: 100%;
                margin: 0 auto;
            }
            .ic-foot1-active {
                background: center no-repeat url(/static/images/icon/ic_foot1_active.png);
                background-size: 100%;
            }
            .ic-foot2{
                display: block;
                width: 22px;
                height: 25px;
                background: center no-repeat url(/static/images/icon/ic_foot2.png);
                background-size: 100%;
                margin: 0 auto;
            }
            .ic-foot2-active {
                background: center no-repeat url(/static/images/icon/ic_foot2_active.png);
                background-size: 100%;
            }
            .ic-foot3{
                display: block;
                width: 22px;
                height: 25px;
                background: center no-repeat url(/static/images/icon/ic_foot3.png);
                background-size: 100% 100%;
                margin: 0 auto;
            }
            .ic-foot3-active {
                background: center no-repeat url(/static/images/icon/ic_foot3_active.png);
                background-size: 100% 100%;
            }
        }
    }

</style>
