<template>
    <header class="flex-wrap header" id="header">
        <i class="ic_back" @click="goBack"></i>
        <h1 class="flex-con-1">{{Msg.title}}</h1>
        <div class="header-right" v-html=Msg.rightMsg  @click="msgTap"></div>
    </header>
</template>

<script>
  export default {
    data(){
      return{

      }
    },
    props:["Msg"],
    created(){

    },
    methods:{
      goBack(){
        this.$router.go(-1)
      },
      msgTap(){
        this.$emit("rightTap")
      }
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss">
    @import '../assets/sass/conmon.scss';
    @import '../assets/sass/icon.scss';

</style>