@charset 'utf-8';

@import "../../sass/conmon.scss";
@import "../../sass/icon.scss";
@import "../../sass/dialog.scss";

.content{
  overflow-x: hidden;
  overflow-y: scroll;
  .barBox{
    width: 90%;
    margin: 0 auto;
    padding: 49px 0 14px 0;
     .barItem{
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #cccccc;
      position: relative;
    }

     .active {
      background: #ff2739;
    }
     .line{
      width:91px;
      height: 1.5px;
      background: #ccc;
      margin: auto;
      border-radius: 1px;
      position: relative;
      color: #999;
       .tips{
         width: 112px;
         position: absolute;
         top: -30px;
         margin-left: -14px;
         line-height: 16px;
         font-size: 12px;
         text-align: center;
       }
    }
     .active{
      background: #ff2739;
      color:#ff2739;
    }
  }
  .kd-hint{
    line-height: 45px;
    margin-left: 14px;
    color: #999;
  }
  .next{
    width: 290px;
    height: 45px;
    border: 0;
    border-radius: 6px;
    display: block;
    margin: 45px auto;
    color: #fff;
    font-size: 16px;
    background: #ff2739;
    &:active{
      background: #fb4554;
    }
  }
  .drawHint{
    background: #fff;
    padding-bottom: 56px;
    p{
      width: 92%;
      line-height: 19px;
      text-align: justify;
      margin: 6px auto;
      color: #666;
    }
    .f-red{
      color: #ff2739!important;
    }
    .complete{
      width: 290px;
      height: 45px;
      border: 0;
      border-radius: 8px;
      display: block;
      margin: 28px auto;
      color: #fff;
      font-size: 16px;
      background: #ff2739;
      &:active{
        opacity: 0.6;
      }
    }
    .agreement{
      width: 100%;
      height: 56px;
      line-height: 16px;
      text-align: center;
      margin-top: 28px;
      font-size: 12px;
      color: #999;
       i{
        width:20px;
        height: 20px;
        display: inline-block;
        vertical-align: top;
        background: no-repeat center url(/static/images/draw/ic_agreement_on.png);
        background-size: 70%;
        margin-top: -3px;
      }
    }

  }
}
