@charset 'utf8';
@import "../conmon.scss";
.content{
  overflow-x: hidden;
  overflow-y: scroll;
  .barBox{
    width: 90%;
    margin: 0 auto;
    padding: toPx(3.5) 0 14px 0;
    .barItem{
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #cccccc;
      position: relative;
    }

    .active {
      background: #ff2739;
    }
    .line{
      width: toPx(10.5);
      height: toPx(0.12);
      background: #ccc;
      margin: auto;
      border-radius: toPx(0.1);
      position: relative;
      color: #999;
      .tips{
        width: toPx(10.5);
        position: absolute;
        top: toPx(-2.2);
        line-height: toPx(1.2);
        font-size: 14px;
        text-align: center;
      }
    }
    .active{
      background: #ff2739;
      color:#ff2739;
    }
  }
  .kd-hint{
    line-height: toPx(3.2);
    margin-left: 14px;
    color: #999;
  }
  .next{
    width: toPx(21);
    height: toPx(3.2);
    border: 0;
    border-radius: toPx(0.3);
    display: block;
    margin: toPx(3.4) auto;
    color: #fff;
    font-size: 16px;
    background: #ff2739;
    &:active{
      background: #fb4554;
    }
  }
  .drawHint{
    background: #fff;
    padding-bottom: toPx(4);
    p{
      width: 92%;
      line-height: toPx(1.34);
      text-align: justify;
      margin: toPx(0.4) auto;
      color: #666;
    }
    .f-red{
      color: #ff2739!important;
    }
    .complete{
      width: toPx(21);
      height: toPx(3.2);
      border: 0;
      border-radius: toPx(0.3);
      display: block;
      margin: toPx(2) auto;
      color: #fff;
      font-size: 16px;
      background: #ff2739;
      &:active{
        opacity: 0.6;
      }
    }
    .agreement{
      width: 100%;
      height: toPx(1.4);
      line-height: toPx(1.4);
      text-align: center;
      margin-top: toPx(2);
      font-size: 12px;
      color: #999;
      i{
        width: toPx(1.4);
        height: toPx(1.4);
        display: inline-block;
        vertical-align: top;
        background: no-repeat center url(/static/images/draw/ic_agreement_off.png);
        background-size: 70%;
        margin-top: toPx(-0.06);
      }
      .active{
        background: no-repeat center url(/static/images/draw/ic_agreement_on.png);
        background-size: 70%;
      }
    }

  }
}
