<template>
    <div class="flex-wrap main">
        <div class="header">
    		<div class="ic_white_left" @click="$router.go(-1)"></div>
        	<span class="title">提现</span>
            
        </div>
        <scroll class="wrapper" :probeType="probeType" :listenScroll="listenScroll" ref="scroll">
            <div class="content">
            	<div class="topBack">
	            	<div class="title">提现金额</div>
	            	<div class="setNumBox">
		            	<input type="text" class="setNum"/>
		            	<div class="setNumL">¥</div>
		            	<div class="setNumR">全部提现</div>     
	                </div>
	           
	            	<div class="tips">钱包余额¥1.25，手续费¥0</div>	
	            	<input type="button" value="提现" class="redBtn"/>
	            	<div class="tips2">提现约1-5个工作日到账微信零钱</div>
            	</div>
            	<div class="problem flex-wrap flex-center" @click="$router.push('/commonProblem')">常见问题<div class="ic_hui_right"></div></div>
            </div>
        </scroll>
        <vfooter :footer="'wallet'"></vfooter>
    </div>
</template>

<script>
    import config from '@/config';
    import common from '@/assets/js/common';
    import mixin from '@/assets/js/mixin';
    import scroll from '@/components/scroll';
    import footer from '@/components/vFoot';
    export default {
        mixins: [mixin],
        components: {//注册组件
            'scroll': scroll,
            'vfooter':footer,
        },
        data() {
            return {
                md: {
                    mask: false,
                }

            }
        },
        created() {

        },
        computed: {},
        mounted() {

        },
        methods: {},
        filters: {},

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import '../../assets/sass/draw/draw.scss';
</style>