<template>
    <div class="flex-wrap main">
		<div class="header">
			<div class="ic_white_left" @click="$router.go(-1)"></div>
			<span class="title">提现详情</span>
		</div>
        <scroll class="wrapper" :probeType="probeType" :listenScroll="listenScroll" ref="scroll">
            <div class="content">
            	<div class="topBack">
	            	<div class="stateBox flex-wrap flex-center">
	            		<div class="gou"></div>
	            		<div class="chuli"></div>
	            		<div class="stateText">处理完成</div>
	            	</div>
            	</div>
            	<div class="list flex-wrap flex-center mgTop">
            		<div class="listL">提现金额</div>
            		<div class="listR">8.92元</div>
            	</div>
            	<div class="list flex-wrap flex-center">
            		<div class="listL">手续费</div>
            		<div class="listR">1.00元</div>
            	</div>
            	<div class="list flex-wrap flex-center">
            		<div class="listL">提现申请时间</div>
            		<div class="listR">2018-02-27  10:27:58</div>
            	</div>
            	<div class="list flex-wrap flex-center">
            		<div class="listL">提现处理时间</div>
            		<div class="listR yellow">处理中，请耐心等待</div>
            	</div>
            	<div class="list flex-wrap flex-center">
            		<div class="listL">到账方式</div>
            		<div class="listR">直接到账微信零钱</div>
            	</div>
            	<div class="list flex-wrap flex-center">
            		<div class="listL">提现单号</div>
            		<div class="listR">T12346899566665587</div>
            	</div>
            	
            	<div class="problem flex-wrap flex-center">如需帮助，请联系在线客服<div class="ic_hui_right"></div></div>
            </div>
        </scroll>
    </div>
</template>

<script>
    import config from '@/config';
    import common from '@/assets/js/common';
    import mixin from '@/assets/js/mixin';
    import scroll from '@/components/scroll';
    import footer from '@/components/vFoot';
    export default {
        mixins: [mixin],
        components: {//注册组件
            'scroll': scroll,
            'vfooter':footer,
        },
        data() {
            return {
                md: {
                    mask: false,
                }

            }
        },
        created() {

        },
        computed: {},
        mounted() {

        },
        methods: {},
        filters: {},

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import '../../assets/sass/wallet/giveDetails.scss';
</style>