<template>
    <div class="flex-wrap main">
    	<div class="header">
        			<span class="title">钱包</span>
               		<span class="rightT" @click="$router.push('/commonProblem')">常见问题 </span>
        </div>
    	<div class="redBack"></div>
        <scroll class="wrapper" :probeType="probeType" :listenScroll="listenScroll" ref="scroll">
        	
            <div class="content">
            	
            	<div class="topBack">
		            <!--<video controls="controls" autoplay="autoplay" class="mov">
					  <source src="http://sz-ctfs.ftn.qq.com/?ver=5063&amp;rkey=5D70C35C78783541A27D632FF234779736C219EF3E96558A3DF09DF7DB67D1E9914A0659CF6C7AA91C5A13B47E13831E8AE97FC3684DC9565BE750C69317E82E" type="video/ogg" />
					  <source src="http://sz-ctfs.ftn.qq.com/?ver=5063&amp;rkey=5D70C35C78783541A27D632FF234779736C219EF3E96558A3DF09DF7DB67D1E9914A0659CF6C7AA91C5A13B47E13831E8AE97FC3684DC9565BE750C69317E82E" type="video/mp4" />
					Your browser does not support the video tag.
					</video>-->
		            
	            	<div class="zhu"></div>
	            	<div class="nextText">钱包余额</div>
	            	<div class="price"><span class="shou">¥ </span><span class="num">{{user.balance}}</span></div>
	            	<input type="button" value="提现" class="redBtn" @click="toDraw"/>
	            	<!--<div class="blueT flex-wrap flex-center" @click="$router.push('/purseDetail')">钱包明细<div class="ic_blue_right"></div></div>-->
	            	<p class="tips1">1.满2元即可提现</p>
	            	<p class="tips2">2.提现到账约1-5个工作日</p>
            	</div>
            	<div class="nextBack">
            		<div class="listDiv flex-wrap flex-center" v-for="item in getMoneyChangeDate">
            			<div class="listL flex-wrap flex-center">
            				
            				<img src="/static/images/home/pic1.png" class="listLPic" v-if="item.type=='发起红包挑战'"/>
	            			<img src="/static/images/home/pic2.png" class="listLPic" v-else-if="item.type=='来自发好友的挑战'"/>
	            			<img src="/static/images/home/pic4.png" class="listLPic" v-else-if="item.type=='发起过期返回'"/>
	            			<img src="/static/images/home/pic3.png" class="listLPic" v-else-if="item.type=='提现'"/>
            				<img v-else src="/static/images/home/pic5.png" class="listLPic"/>
            				<div class="listLCont">
            					<div class="cont1">{{item.type}}</div>
            					<div class="cont2">{{item.createDate}}</div>
            				</div>
            			</div>
            			<div class="listR">
            				<div class="listR1">{{item.amount}}</div>
            				<!--<div class="listR2">全部领完1/1</div>-->
            			</div>
            		</div>

            		<div class="more" @click="$router.push('/purseDetail')">查看更多</div>
            	</div>
            	<!--<div class="problem flex-wrap flex-center" @click="$router.push('/commonProblem')">常见问题<div class="ic_hui_right"></div></div>-->
            </div>
        </scroll>
        <vfooter :footer="'wallet'"></vfooter>
    </div>
</template>

<script>
    import config from '@/config';
    import common from '@/assets/js/common';
    import mixin from '@/assets/js/mixin';
    import scroll from '@/components/scroll';
    import footer from '@/components/vFoot';
    import {Toast,Indicator} from 'mint-ui';
    import {getMoneyChange,getPhoneBand} from "../../fetch/index";
    export default {
        mixins: [mixin],
        components: {//注册组件
            'scroll': scroll,
            'vfooter':footer,
        },
        data() {
            return {
                md: {
                    mask: false,
                },
                getMoneyChangeDate:"",

            }
        },
        created() {
            this.doGetMoneyChange();
        },
        computed: {},
        mounted() {
           
        },
        methods: {
        	doGetMoneyChange(){
        		Indicator.open();
        		getMoneyChange({"currentPage":1,"pageSize":2,token:this.user.token}).then((res)=>{
        			Indicator.close();
	                if(res.msgCode=="200"){//房间信息
	                	this.getMoneyChangeDate=res.result;
	                }else{
	                	Toast(res.msgNote);
	                }
            	});
        	},
			toDraw(){
                getPhoneBand({token:this.user.token}).then((res)=>{
                    if(res.msgCode=="200"){
                        if(res.phoneBand==1){//已经绑定
                            this.$router.push('/draw/4');
						}else {
                            this.$router.push('/bindPhone');
						}
                    }else{
                        Toast(res.msgNote);
                    }
                });

			}
        },
        filters: {},

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import '../../assets/sass/wallet/wallet.scss';
</style>