<template>
    <div class="flex-wrap main">
        <div class="header">
    		<div class="ic_white_left" @click="$router.go(-1)"></div>
        	<span class="title">钱包明细</span>
            
        </div>
        <scroll @scrollToEnd="scrollEnd" :pullup="true"  class="wrapper" :probeType="probeType" :listenScroll="listenScroll" ref="scroll">
            <div class="content">
            	<div class="list flex-wrap flex-center" v-for="item in getMoneyChangeDate">
            		<div class="listL flex-wrap flex-center">
            			<img src="../../../static/images/home/pic1.png" class="statePic" v-if="item.type=='发起红包挑战'"/>
            			<img src="../../../static/images/home/pic2.png" class="statePic" v-else-if="item.type=='来自发好友的挑战'"/>
            			<img src="../../../static/images/home/pic4.png" class="statePic" v-else-if="item.type=='发起过期返回'"/>
            			<img src="../../../static/images/home/pic3.png" class="statePic" v-else-if="item.type=='提现'"/>
            			<img v-else src="../../../static/images/home/pic5.png" class="statePic"/>
            			<div class="listLR">
            				<div class="title">{{item.type}}</div>
            				<div class="time">{{item.createDate}}</div>
            			</div>
            		</div>
            		<div class="listR">
            			<div class="profit">{{item.amount}}</div>
            			<!--<div class="receive">已领取2/5</div>-->
            		</div>
            	</div>
            	
            	
            </div>
        </scroll>
        
    </div>
</template>

<script>
    import config from '@/config';
    import common from '@/assets/js/common';
    import mixin from '@/assets/js/mixin';
    import scroll from '@/components/scroll';
    import footer from '@/components/vFoot';
    import {getMoneyChange} from "../../fetch/index";
    import {Toast,Indicator} from 'mint-ui';
    export default {
        mixins: [mixin],
        components: {//注册组件
            'scroll': scroll,
            'vfooter':footer,
        },
        data() {
            return {
                md: {
                    mask: false,
                },
                getMoneyChangeDate:"",
                page:1,
            }
        },
        created() {
            this.doGetMoneyChange(1);
        },
        computed: {},
        mounted() {

        },
        methods: {
        	doGetMoneyChange(currentPage){
        		Indicator.open();
        		getMoneyChange({"currentPage":currentPage,"pageSize":10,token:this.user.token}).then((res)=>{
        			Indicator.close();
	                if(res.msgCode=="200"){//房间信息
	                	if(this.page==1){
	                		this.getMoneyChangeDate=res.result;
	                	}else{
	                		if(res.result!=""&&res.result!=null){
        					this.getMoneyChangeDate=this.getMoneyChangeDate.concat(res.result);
        					
	        				}else{
	        					Toast("已经到底了");
	        				}
	                	}
	                   
	                }else{
	                	Toast(res.msgNote);
	                }
            	});
        	},
        	scrollEnd(){
        		this.page++;
        		this.doGetMoneyChange(this.page);
        	}
        	
        },
        filters: {},

    }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
    @import '../../assets/sass/wallet/purseDetail.scss';
</style>