
@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
  -webkit-animation-name: shake;
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-iteration-count: 4;
  -webkit-animation-iteration-count: 4;
  animation-delay:3s;
  -webkit-animation-delay:3s;
}
.pullUp{
  animation-name: pullUp;
  -webkit-animation-name: pullUp;

  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
}

@keyframes pullUp {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes pullUp {
  0% {
    -webkit-transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
.rotate {
  animation-name: rotate;
  -webkit-animation-name: rotate;

  animation-duration: 7s;
  -webkit-animation-duration: 7s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes rotate{
  0% {
    -webkit-transform:rotate(0deg);
  }
  100% {
    -webkit-transform:rotate(360deg);
  }
}
@keyframes rotate{
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

.slideInUp {
  animation-name: slideInUp;
  -webkit-animation-name: slideInUp;

  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.overturn{
    -webkit-animation-name:overturn;
    animation-name:overturn;
    -webkit-animation-duration: 0.8s;
    animation-duration:0.8s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    display: block;
}
@-webkit-keyframes overturn{
    0%{-webkit-transform:rotateY(0deg);}
    20%{-webkit-transform:rotateY(180deg);}
    40%{-webkit-transform:rotateY(360deg);}
    60%{-webkit-transform:rotateY(0deg);}
    80%{-webkit-transform:rotateY(180deg);}
    100%{-webkit-transform:rotateY(360deg);}
}
@keyframes overturn{
    0%{transform:rotateY(0deg);}
    20%{transform:rotateY(180deg);}
    40%{transform:rotateY(360deg);}
    60%{transform:rotateY(0deg);}
    80%{transform:rotateY(180deg);}
    100%{transform:rotateY(360deg);}
}

.pullDown{
  animation-name: pullDown;
  -webkit-animation-name: pullDown;

  animation-duration: 0.6s;
  -webkit-animation-duration: 0.6s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}

@keyframes pullDown {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes pullDown {
  0% {
    -webkit-transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}


/*加载更多*/
.page-infinite-loading {
  text-align: center;
  height: 50px;
  line-height: 50px;
}
.page-infinite-loading div {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  &::before { background-color: #ccc; }
}
.mint-spinner-fading-circle {
  position: relative
}
.mint-spinner-fading-circle-circle {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute
}
.mint-spinner-fading-circle-circle::before {
  content: " ";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  border-radius: 100%;
  -webkit-animation: mint-fading-circle 1.2s infinite ease-in-out both;
  animation: mint-fading-circle 1.2s infinite ease-in-out both
}
.mint-spinner-fading-circle-circle.is-circle2 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg)
}
.mint-spinner-fading-circle-circle.is-circle2::before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s
}
.mint-spinner-fading-circle-circle.is-circle3 {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg)
}
.mint-spinner-fading-circle-circle.is-circle3::before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s
}
.mint-spinner-fading-circle-circle.is-circle4 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
.mint-spinner-fading-circle-circle.is-circle4::before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s
}
.mint-spinner-fading-circle-circle.is-circle5 {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg)
}
.mint-spinner-fading-circle-circle.is-circle5::before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s
}
.mint-spinner-fading-circle-circle.is-circle6 {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg)
}
.mint-spinner-fading-circle-circle.is-circle6::before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s
}
.mint-spinner-fading-circle-circle.is-circle7 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.mint-spinner-fading-circle-circle.is-circle7::before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s
}
.mint-spinner-fading-circle-circle.is-circle8 {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg)
}
.mint-spinner-fading-circle-circle.is-circle8::before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s
}
.mint-spinner-fading-circle-circle.is-circle9 {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg)
}
.mint-spinner-fading-circle-circle.is-circle9::before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s
}
.mint-spinner-fading-circle-circle.is-circle10 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg)
}
.mint-spinner-fading-circle-circle.is-circle10::before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s
}
.mint-spinner-fading-circle-circle.is-circle11 {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg)
}
.mint-spinner-fading-circle-circle.is-circle11::before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s
}
.mint-spinner-fading-circle-circle.is-circle12 {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg)
}
.mint-spinner-fading-circle-circle.is-circle12::before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s
}
@-webkit-keyframes mint-fading-circle {
  0%, 39%, 100% {
    opacity: 0
  }
  40% {
    opacity: 1
  }
}
@keyframes mint-fading-circle {
  0%, 39%, 100% {
    opacity: 0
  }
  40% {
    opacity: 1
  }
}

.page-infinite-desc {
  text-align: center;
  color: #666;
  padding-bottom: 5px;
  border-bottom: solid 1px #eee;
}
.page-infinite-listitem {
  height: 50px;
  line-height: 50px;
  border-bottom: solid 1px #eee;
  text-align: center;
}
.page-infinite-listitem:first-child {
  border-top: solid 1px #eee;
}
.page-infinite-wrapper {
  margin-top: -1px;
  overflow: scroll;
}
/*............................*/


.pulse{
    animation-name: pulse;
    -webkit-animation-name: pulse;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }
}

//金额移动

@-webkit-keyframes moneyMove {
  0% {
    opacity: 0;
    bottom: -2.5rem;
    transform: scale(1);
    -webkit-transform: scale3d(1,1,1)
  }

  6% {
    opacity: 1;
    -webkit-transform: scale(.9) ;
    -webkit-transform: scale3d(1,1,1)
  }
  80%{
    opacity: 1;
    bottom: 3.2rem
  }
  100% {
    opacity: 0;
    bottom: 4rem;
    -webkit-transform: scale(1);
    -webkit-transform: scale3d(1,1,1)
  }
}

.moneyMove{
  -webkit-animation-name: moneyMove;
  animation-name: moneyMove;
  -webkit-animation-duration: 4.5s;
  animation-duration: 4.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

//
@-webkit-keyframes barrage {
  from {
    left:100%;
    transform:translate3d(0,0,0);
  }

  to {
    left:0;
    transform:translate3d(-100%,0,0);
  }
}
@keyframes barrage {
  from {
    left:100%;
    transform:translate3d(0,0,0);
  }

  to {
    left:0;
    transform:translate3d(-100%,0,0);
  }
}
.barrage{
  -webkit-animation-name: barrage;
  animation-name: barrage;
  -webkit-animation-duration: 4.5s;
  animation-duration: 4.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

@-webkit-keyframes pull {
  from {
    margin-top:-120px;
  }

  to {
    margin-top:0;
  }
}
@keyframes pull {
  from {
    margin-top:-120px;
  }

  to {
    margin-top:0;
  }
}
.pull{
  -webkit-animation-name: pull;
  animation-name: pull;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

@-webkit-keyframes infoLeft {
  from {
    left:-18rem;
  }
  to {
    left: 1rem;
  }
}
@keyframes infoLeft {
  from {
    left:-18rem;
  }

  to {
    left: 1rem;
  }
}
.infoLeft{
  -webkit-animation-name: infoLeft;
  animation-name: infoLeft;
  -webkit-animation-duration: 2.8s;
  animation-duration: 2.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

@-webkit-keyframes infoRight {
  from {
    left:1rem;
  }
  to {
    left: -18rem;
  }
}
@keyframes infoRight {
  from {
    left:1rem;
  }

  to {
    left: -18rem;
  }
}
.infoRight{
  -webkit-animation-name: infoRight;
  animation-name: infoRight;
  -webkit-animation-duration: 2.8s;
  animation-duration: 2.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.floating{
  animation-name: floating;
  -webkit-animation-name: floating;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

.float1{
  animation-name: float1;
  -webkit-animation-name: float1;

  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes float1 {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(40%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes float1 {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(40%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.slideRight{
  animation-name: slideRight;
  -webkit-animation-name: slideRight;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}
@keyframes slideRight {
  0% {
    transform: translateX(-150%);
  }
  50%{
    transform: translateX(8%);
  }
  65%{
    transform: translateX(-4%);
  }
  80%{
    transform: translateX(4%);
  }
  95%{
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
  }
  50%{
    -webkit-transform: translateX(8%);
  }
  65%{
    -webkit-transform: translateX(-4%);
  }
  80%{
    -webkit-transform: translateX(4%);
  }
  95%{
    -webkit-transform: translateX(-2%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}


.slideExpandUp{
  animation-name: slideExpandUp;
  -webkit-animation-name: slideExpandUp;

  animation-duration: 1.6s;
  -webkit-animation-duration: 1.6s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  visibility: visible !important;
}

@keyframes slideExpandUp {
  0% {
    transform: translateY(100%) scaleX(0.5);
  }
  30%{
    transform: translateY(-8%) scaleX(0.5);
  }
  40%{
    transform: translateY(2%) scaleX(0.5);
  }
  50%{
    transform: translateY(0%) scaleX(1.1);
  }
  60%{
    transform: translateY(0%) scaleX(0.9);
  }
  70% {
    transform: translateY(0%) scaleX(1.05);
  }
  80%{
    transform: translateY(0%) scaleX(0.95);
  }
  90% {
    transform: translateY(0%) scaleX(1.02);
  }
  100%{
    transform: translateY(0%) scaleX(1);
  }
}

@-webkit-keyframes slideExpandUp {
  0% {
    -webkit-transform: translateY(100%) scaleX(0.5);
  }
  30%{
    -webkit-transform: translateY(-8%) scaleX(0.5);
  }
  40%{
    -webkit-transform: translateY(2%) scaleX(0.5);
  }
  50%{
    -webkit-transform: translateY(0%) scaleX(1.1);
  }
  60%{
    -webkit-transform: translateY(0%) scaleX(0.9);
  }
  70% {
    -webkit-transform: translateY(0%) scaleX(1.05);
  }
  80%{
    -webkit-transform: translateY(0%) scaleX(0.95);
  }
  90% {
    -webkit-transform: translateY(0%) scaleX(1.02);
  }
  100%{
    -webkit-transform: translateY(0%) scaleX(1);
  }
}

.upDown{
  animation-name: upDown;
  -webkit-animation-name: upDown;

  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes upDown {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;

  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  -webkit-animation-name: fadeOut;

  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight;
  animation-duration: 0.8s;
  -webkit-animation-duration: 0.8s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation-name: bounceInUp;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;

  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);
}
//加载动画
@-webkit-keyframes loading {
  0% { transform: scaleY(1)}
  50% { transform: scaleY(0.4)}
  100% { transform: scaleY(1)}
}
.loading i { width:4px; border-radius:2px; height:20px; margin:0 2px; display:inline-block; background:#febd3d;}
.loading i:nth-child(1) { animation: loading .8s linear 0.1s infinite;}
.loading i:nth-child(2) { animation: loading .8s linear 0.2s infinite;}
.loading i:nth-child(3) { animation: loading .8s linear 0.3s infinite;}
.loading i:nth-child(4) { animation: loading .8s linear 0.4s infinite;}

.tossing{
  animation-name: tossing;
  -webkit-animation-name: tossing;

  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
  }
}
.hatch{
  animation-name: hatch;
  -webkit-animation-name: hatch;

  animation-duration: 2s;
  -webkit-animation-duration: 2s;

  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;

  visibility: visible !important;
}

@keyframes hatch {
  0% {
    transform: rotate(0deg) scaleY(0.5) scaleX(0.5);
  }
  20% {
    transform: rotate(-2deg) scaleY(1.05) scaleX(0.9);
  }
  35% {
    transform: rotate(2deg) scaleY(1);
  }
  50% {
    transform: rotate(-2deg);
  }
  65% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes hatch {
  0% {
    -webkit-transform: rotate(0deg) scaleY(0.5) scaleX(0.5);
  }
  20% {
    -webkit-transform: rotate(-2deg) scaleY(1.05) scaleX(0.9);
  }
  35% {
    -webkit-transform: rotate(2deg) scaleY(1);
  }
  50% {
    -webkit-transform: rotate(-2deg);
  }
  65% {
    -webkit-transform: rotate(1deg);
  }
  80% {
    -webkit-transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

