@charset 'utf8';



$fontColor: #333;
//$bgColor: linear-gradient(to right,#5436c1,#ff5100);
$bgColor: #FE2639;
$bodyBg : #f5f2f0;
$border: solid 1px #f6f6f6;
$red: #ff4040;
$border-radius:30px;
$padding: 16px;//距左右16
$head-active: #e01526;
$fontColor: #333;
$bodyBg : #f7f7fa;
body{
    overflow: hidden;
   .mask{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 100;
      background-color: #151313;
      opacity: .7
    }
}

@function toPx($rem){
    @return $rem*14px;
}

@mixin flex($flex){
    -webkit-box-flex: $flex;
    -webkit-flex: $flex;
    flex: $flex;
}
@mixin overEllipsis(){
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
@mixin flex-pack-justify(){//两端对其
-webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
}
@mixin flex-pack-center(){//水平居中
-webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
}
@mixin flex-pack-end(){
  -webkit-box-pack:flex-end;
  -webkit-justify-content:flex-end;
  -ms-flex-pack:flex-end;
  justify-content:flex-end;
}
@mixin setfont($font-size,$color,$line-height){
  line-height: $line-height;
  font-size: $font-size;
  color: $color;
}
@mixin setBtn($width,$height,$font-size,$color,$background){
  width: $width;
  height: $height;
  font-size: $font-size;
  color: $color;
  background: $background;
  border: 0;
  border-radius: 0.3rem;
}
//向下三角形
@mixin triangle($font-size,$background) {
  width:0;
  height:0;
  border-left:$font-size solid transparent;
  border-right: $font-size solid transparent;
  border-top: $font-size solid $background;
}
//向右三角形
@mixin triangleRight($font-size,$background) {
  width:0;
  height:0;
  border-top:$font-size solid transparent;
  border-bottom: $font-size solid transparent;
  border-left: $font-size solid $background;
}
//超出两行省略....
@mixin overflowTwo(){
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.show{
   display: block!important;
}
.hide{
    display: none;
}
.md-mask{
  z-index: 900;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.md-mask.active{
  opacity: 1;
  visibility: visible;
}
.md-black-mask{
  z-index: 900;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  visibility: hidden;
  opacity: 0;
}
.md-black-mask.active{
  opacity: 1;
  visibility: visible;
}

.rotate{
  animation-name: rotate;
  -webkit-animation-name: rotate;

  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;

  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  transform-style: preserve-3d;
  animation-fill-mode:forwards;
  transform-origin: center;
  -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0)//加速
}
@keyframes rotate{
  0% {
    transform:rotate3d(0,1,0,0deg);
  }
  100%{
    transform:rotate3d(0,1,0,90deg);
  }
}

.endRotate{
  animation-name: endRotate;
  -webkit-animation-name: endRotate;

  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;

  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0)//加速

}
@keyframes endRotate{
  0% {
    transform:rotate3d(0,1,0,180deg);
  }
  100%{
    transform:rotate3d(0,1,0,90deg);
  }
}


.pulse{
    animation-name: pulse;
    -webkit-animation-name: pulse;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }
}

.header{
  height: 50px;
  line-height:50px;
  text-align: center;
  background: #fa3439;
  .title{
    color: #fff;
    font-size: 19px;
  }
  .rightT{
    position: absolute;
    right: 20px;
    font-size: 16px;
    color: #fff;
    opacity: 0.9;
    &:active{
        opacity: 0.7;
    }
  }
  .ic_white_left{
    position: absolute;
    background-size:25%;
    //width: 24px;
    height: 50px;
    left: 0;
    width: 50px;
    &:active{
        opacity: 0.7;
    }
  }
}